[2020-05-27 15:51] steils commented on #5359
@The-Compiler Thank you for your quick answer.

Then I presume the patch will do fine. Thank you!

[2020-05-27 15:54] The-Compiler commented on #5359
I pushed it to the v1.11.x branch as well: 22e15acc1e617174a9fde3e53100a1b71ca7f462

So you can use https://github.com/qutebrowser/qutebrowser/commit/22e15acc1e617174a9fde3e53100a1b71ca7f462.patch to get a patch. No plans for a v1.11.2 release, though (unless someone really needs one).

[2020-05-27 15:57] The-Compiler commented on #5279
@sentriz You're not seeing this issue then. If you're on Archlinux, you might need to downgrade mesa - see #5462.

[2020-05-27 16:06] sentriz commented on #5462
hey I'm experiencing this on mesa `20.0.6-2` should I maybe try "update" to `20.0.7-2`?

[2020-05-27 16:09] Entebate commented on #4188
I made a quick and dirty modification to `adblock.py`. My original intent was to block lower subdomains, so that an entry `c.d` in the host block file would also block `b.c.d`, `a.b.c.d`, etc. This is a key feature to block trackers. For example, `googleusercontent.com` is in my blocking list, but the tracker shows up as, `lh3.`, `lh4.` and `lh5.googleusercontent.com` (as Firefox tracker blocking

[2020-05-27 16:13] The-Compiler commented on #5462
@sentriz Maybe you're not seeing this issue either than, that was just a guess in #5279. Could you please show the output of `coredumpctl info` right after the crash?

[2020-05-27 16:14] The-Compiler commented on #5462
@martynjy Unfortunately I still can't reproduce this, even after upgrading to mesa 20.0.7-3 - but maybe it depends on the used graphic drivers. Could you please find out which URL of those in the session is causing it by e.g. loading them one-by-one?

- https://www.google.com/search?hl=en&biw=1682&bih=909&ei=glaQXpPQMvLlxgPX8reQBA&q=Cumin+Coriander+Fennel+Tea&oq=Cumin+Coriander+Fennel+Tea&gs_lcp=C

[2020-05-27 16:18] sentriz commented on #5462
sure, I think this is a "last 5 minutes command"
[code]

[2020-05-27 16:21] The-Compiler commented on #5462
@sentriz That only shows an overview of crashes, `coredumpctl info` shows detailed information about a specific crash.

[2020-05-27 16:26] sentriz commented on #5462
oops! sorry here it is https://termbin.com/qwqg

[2020-05-27 16:34] The-Compiler opened #5470 "Segfault on old.reddit.com"
_Originally posted by @sentriz in https://github.com/qutebrowser/qutebrowser/issues/5279#issuecomment-634292824_

---

Also happens with `--temp-basedir` and doesn't seem to be connected to #5462 judging from the stacktrace: https://termbin.com/qwqg

[2020-05-27 16:35] The-Compiler commented on #5462
@sentriz Okay, from what I can see so far, you're seeing yet another segfault in Qt which is independent from #5279 and this one... I opened a new issue, let's continue this there: #5470.

[2020-05-27 16:38] The-Compiler commented on #5470
So from what I can see so far:

- It happens with `qutebrowser --temp-basedir old.reddit.com` as well, so it's likely not #5279
- The stacktrace doesn't point to #5462:

[code]

@sentriz Can you please show the last couple of lines you get when running `qutebrowser --temp-basedir --debug old.reddit.com` and also show your full `:version` information?

[2020-05-27 16:43] sentriz commented on #5470
sure, can do
[code]

[2020-05-27 16:45] sentriz commented on #5470
oh and version:
[code]

[2020-05-27 17:12] The-Compiler commented on #5470
Ah, you're on Wayland - my next bet goes on #5313 then :laughing: Does it go away if you set `content.webgl` to `false`?

[2020-05-27 17:12] bitraid commented on #5470
I think this might be another case of #5313. @sentriz does it crash with `QT_QPA_PLATFORM= qutebrowser --temp-basedir old.reddit.com`?

[2020-05-27 17:13] bitraid commented on #5470
Oh, you were faster @The-Compiler !

[2020-05-27 17:25] sentriz commented on #5470
`c.content.webgl = False` fixes it!!
however `QT_QPA_PLATFORM=` does not (but `xcb` does)

[2020-05-27 17:27] The-Compiler commented on #5313
Reopening this as I think it'd be good to force-disable WebGL on affected Qt versions as a workaround. Has anyone had a chance to test this with Qt 5.15 (released today) yet?

[2020-05-27 17:29] The-Compiler commented on #5470
I reopened #5313, as it'd probably be a good idea to disable WebGL for affected users automatically. Not sure what the drawbacks are exactly - to be honest I'm a bit surprised it's used on Reddit at all. I'd only expect it to be used for more "advanced" graphical things (like perhaps 3D browser games and such).

Thanks for the quick answers @sentriz, and sorry for switching from issue to issue! :l

[2020-05-27 17:29] #5470 closed

[2020-05-27 17:43] The-Compiler commented on #5313
@schyzophrene-asynchrone @bitraid @pltrz @sentriz could you please show the output of running the following script on the machine/environment where you're getting this crash?

[code]

[2020-05-27 17:54] bitraid commented on #5313
[code]

[2020-05-27 18:12] sentriz commented on #5313
[code]

[2020-05-27 20:56] martynjy commented on #5462
@The-Compiler

The crashes happened randomly.  No particular website, it could be any tab that was clicked on.

It is a 13 years old computer & radeon graphics card.  So the drivers could very well have a part in it.

Although the downgrade to 20.0.7-2 fixed the session issue,  qutebrowser would still crash now and then but this time whilst browsing.  Opening a website would cause crash.  Again an

[2020-05-28 03:56] barudaret opened #5471 "Weird kerning problems on some pages."
**Version info**:

I gotchu man, I'll paste the whole thing...

[code]

**Does the bug happen if you start with `--temp-basedir`?**:

Yep

**Description**

Looks like in the [once-only page](https://malisper.me/once-only), text is getting smushed together...
but in the [Spacemacs documentation pages](https://www.spacemacs.org/doc/DOCUMENTATION.html#orgheadline76), there's the opposite problem.  Te

[2020-05-28 06:00] pltrz commented on #5313
sorry, I currently don't have access to this machine

[2020-05-28 07:56] The-Compiler commented on #5471
Can you check if you see the same in KDE Falkon (another QtWebEngine-based browser)?

[2020-05-28 18:52] skuzzymiglet commented on #5471
The title looks fine for me in Falkon **and** qutebrowser v1.11.1, even with `--temp-basedir`. My sysem default font is IBM Plex Mono.

[2020-05-28 19:26] barudaret commented on #5471
The notion of a system default font is unfamiliar to me.  What is your OS?  If you are a linux user, how does ‘system default font’ work?

[2020-05-28 19:44] skuzzymiglet commented on #5471
Actually, I'm not sure it matters. I think it's just loading in Lora or Georgia

[2020-05-28 21:19] barudaret commented on #5471
Same hiccup in falkon:
![screenie](https://user-images.githubusercontent.com/32847759/83194887-34fedd00-a0ee-11ea-98c8-d1c30dea13b2.png)

[2020-05-28 21:25] The-Compiler commented on #5471
Not a qutebrowser issue then (and FWIW, I can't reproduce either). You might want to check if it really doesn't happen in Chromium/Brave with your current configuration, and if it doesn't, [open a Qt bug report](https://bugreports.qt.io/secure/Dashboard.jspa).

[2020-05-28 21:25] #5471 closed

[2020-05-29 09:35] ju-sh commented on #176
What could be a suitable area to change next? Would changing `tmpdir` usages in tests to `tmp_path` be a good one?

[2020-05-29 10:09] The-Compiler commented on #176
@ju-sh Yeah, that'd be great! Hard to estimate how much effort it'd be - `tmpdir` is used around 560 times (judging from a simple search with [ag](https://github.com/ggreer/the_silver_searcher)), but I suppose you could automate some of it. At least it's easy to tell whether something broke by running the tests!

Maybe it would make sense to split the work into multiple PRs though, since there's s

[2020-05-29 11:02] PeterNerlich commented on #5098
I came here today because of the very same problem. It happened to me too often recently.

What about keeping a "closing history", where the pages appear in the order they were closed? Grouping all tabs closed by closing a window (and offering a quick restore button for all of them) and maybe grouping tabs in the same window that were closed less than *n* seconds apart?

[2020-05-29 11:47] The-Compiler commented on #5098
@PeterNerlich can you elaborate on what problem you mean exactly? From your description, I'm not sure if you're talking about the same thing this issue (IMHO) describes.

[2020-05-29 12:47] devendr4 opened #5472 "Can't type accented characters in Google Docs"
**Version info**:
qutebrowser v1.11.1
Git commit:
Backend: QtWebEngine (Chromium 77.0.3865.129)
Qt: 5.14.2

**Does the bug happen if you start with `--temp-basedir`?**:
yes
**Description**

Whenever I try to type an accented character (á,é,í,ó,ú) in Google Docs qutebrowser just ignores it, but its only on that specific web page because I can type accented characters everywhere else

**How to repro

[2020-05-29 12:51] The-Compiler commented on #5472
Does it work if you go to https://docs.google.com instead? If so, does `:set -u drive.google.com content.headers.user_agent "Mozilla/5.0 ({os_info}; rv:71.0) Gecko/20100101 Firefox/71.0"` help?

[2020-05-29 13:17] devendr4 commented on #5472
Changing the user agent worked thank you!

[2020-05-29 13:17] #5472 closed

[2020-05-29 13:32] The-Compiler commented on #5472
I added a site-specific quirk for drive.google.com as well (it was previously only active for docs.google.com), so qutebrowser will do that automatically in the v1.12.0 release. Thanks for the quick response!

[2020-05-29 15:20] PeterNerlich commented on #5098
Sure, I accidentally closed one of two windows and couldn't get the tabs back.

Looking into the history only yields a chronological list of *pages* when they were *opened*, burying the pages that were open in the closed tabs a short time ago but last opened in the span of a few hours to a few weeks ago. Hence I thought my proposition would make a fairly direct and userfriendly as well as detailed

[2020-05-29 15:25] The-Compiler commented on #5098
Right - what you want is #1031 then, see #4807. This issue is talking about sessions, i.e. what qutebrowser saves on disk when you quit it (or close all its windows).

[2020-05-29 19:26] The-Compiler opened #5473 "Animated PNGs flicker"
See e.g. https://fedi.absturztau.be/notice/9vXqjPfwUX7PwhVCq0 - happens with Falkon as well, but not with Chromium. Should report it upstream.

[2020-05-29 22:24] naturalscienceuser commented on #5336
I'm pretty green to say the least, but I'd like to take this one since it seems like an easy place to start.

[2020-05-30 07:14] The-Compiler commented on #5336
Sure, please go ahead!

[2020-05-30 14:21] ju-sh commented on #176
Sure, I'll give it a try.

But some pytest fixtures seems to be shared among tests. Not sure if changes can be isolated to one particular directory though.

[2020-06-01 11:37] The-Compiler commented on #5473
Huh, for some odd reason, it looks fine in simplebrowser. Needs some more investigation then...

Also, there are some logs:

[code]

Same happens here as well: https://upload.wikimedia.org/wikipedia/commons/1/14/Animated_PNG_example_bouncing_beach_ball.png

[2020-06-01 11:40] The-Compiler commented on #5279
I've just seen this happen with Qt 5.15 when running simplebrowser - however, I'm not sure if that's the earlier issue where the crashes happen on Qt upgrades only (which was the case here), or if that's related to the issue which seems to keep coming back. At least I now have some data I might be able to share with Qt after taking a closer look at what's saved in there (note to self: `cp -R ~/.lo

[2020-06-01 11:44] #5313 closed

[2020-06-01 11:45] The-Compiler commented on #5313
I now added a dialog which suggests to disable WebGL if on Wayland with older graphics hardware. If someone could confirm this isn't a problem anymore on Qt 5.15 (with WebGL enabled) that'd be great!

[2020-06-01 12:29] The-Compiler commented on #1455
FWIW https://github.com/psf/black/issues/1288 might be a blocker for qutebrowser - though https://github.com/psf/black/issues/1288#issuecomment-636337874 suggests adding [add-trailing-comma](https://github.com/asottile/add-trailing-comma) to the mix?

[2020-06-01 12:56] The-Compiler commented on #5237
# :x: Failing tests on AppVeyor

https://ci.appveyor.com/project/qutebrowser/qutebrowser/builds/33239304/job/8objoatr2xwj6qqs?fullLog=true

[2020-06-01 13:08] The-Compiler commented on #176
Since most tests use `tmpdir` directly (rather than indirectly via a fixture) I hope it's possible to isolate things a bit. If things turn out to be more intertwined than expected (which is certainly sometimes the case!) then of course I'm fine with one big change as well.

[2020-06-01 13:13] bitraid commented on #5313
No crash here with QT 5.15.

[2020-06-01 13:14] The-Compiler commented on #5313
Awesome, thanks for all the testing!

[2020-06-01 14:53] The-Compiler opened #5475 "Qt 5.15 and endless redirects via interceptor API (ERR_TOO_MANY_REDIRECTS)"
With Qt 5.15 and this:

[code]

running `qutebrowser --temp-basedir  --debug --debug-flag log-requests --config-py ~/Downloads/iOsW.py  https://www.amazon.com/dp/1680502409` will lead to a `ERR_TOO_MANY_REDIRECTS`, while it worked fine with Qt 5.15. Not sure yet why exactly.

That snippet *is* indeed redirecting the URL to itself, so maybe qutebrowser should detect that case and prevent it? It's k

[2020-06-01 14:58] The-Compiler opened #5476 "Declarative API/config for redirects?"
I wonder if it's feasible to have a more declarative API (maybe even via the config) for simple redirect cases, such as redirecting old.reddit.com to reddit.com or youtube to invidious.

Some example configs I'm aware of:

- https://paste.the-compiler.org/view/10093c50 (@earnestly)
- https://gitlab.com/jgkamat/dotfiles/-/blob/master/qutebrowser/.config/qutebrowser/pyconfig/redirectors.py

There mi

[2020-06-01 15:47] The-Compiler opened #5477 "AppVeyor: test_fake_mac_config failing?"
[code]

https://ci.appveyor.com/project/qutebrowser/qutebrowser/builds/33241455/job/5lk63844cho276qt

I somehow remember seeing this before, but not sure when/why.

[2020-06-01 15:51] The-Compiler commented on #5359
qutebrowser v1.12.0 with the workaround patch above is now released.

I'll now take a break from qutebrowser and open-source stuff for the remainder of this week (i.e. essentially mostly-at-home holidays) and then figure out how to solve this issue (and, if possible time-wise, also integrate some PRs related to sessions at the same time) next week.

[2020-06-01 16:43] #5477 closed

[2020-06-01 19:02] LiteracyFanatic opened #5478 ":debug-key does not appear in autocomplete"
**Version info**:

qutebrowser v1.12.0
Git commit:
Backend: QtWebEngine (Chromium 77.0.3865.129)
Qt: 5.14.2

**Does the bug happen if you start with `--temp-basedir`?**:
Yes.

**Description**
While the new command `:debug-key` seems to work fine, it does not appear in the list of autocomplete suggestions.

[2020-06-01 19:04] The-Compiler commented on #5478
That's intentional, all `:debug-*` commands don't appear there unless qutebrowser is launched with `--debug`.

[2020-06-01 19:04] #5478 closed

[2020-06-01 19:39] LiteracyFanatic commented on #5478
Ah, ok. Learn something new every day I guess.

[2020-06-01 22:45] Clans1 opened #5480 "Minimalist mode"
When I hide the tabs and the status bar I would like to have something in the corner of the browser showing me things, just like notifications of other tabs (if there are notifications) and number of the tab/number of tabs. I'ld like too if there was something saying my current mode on the page.

[2020-06-02 10:38] josephtheengineer opened #5482 "Wayland: Multi monitor video playback slows window update rate when one window is not shown"
**Version info**:

qutebrowser v1.12.0
Git commit:
Backend: QtWebEngine (Chromium 69.0.3497.128)
Qt: 5.12.7
Window Manager: SwayWM
Distro: NixOS
Graphics: Intel i5-7400 Internal graphics

**Does the bug happen if you start with `--temp-basedir`?**
~~Yes~~ No
Only works when two windows share the same basedir (session)

**Description**
All windows seem to slow down their refresh rate even though on

[2020-06-02 10:41] The-Compiler commented on #5482
Can you check with another QtWebEngine-based browser such as KDE Falkon?

[2020-06-02 11:01] josephtheengineer commented on #5482
Yep, can confirm that it also happens in KDE Falkon v3.1.0 (QtWebEngine 5.12.7). Only lags when the other tab is not the shown tab.

[2020-06-02 11:16] josephtheengineer commented on #5482
Also just realised this does not happen with --temp-basedir although it still happens without any configs set.

[2020-06-02 11:17] The-Compiler commented on #5482
How exactly are you opening the second window with `--temp-basedir`?

[2020-06-02 11:24] josephtheengineer commented on #5482
Doesn't happen:
[code]

Happens:
[code]

[2020-06-02 11:25] The-Compiler commented on #5482
So I assume if you use `--temp-basedir` and `:open -w` for the second window, you see it as well?

[2020-06-02 11:32] josephtheengineer commented on #5482
Hmmm doesn't seem to lag with that.

[2020-06-02 11:35] The-Compiler commented on #5482
Odd - but given that it happens in Falkon as well, this seems like #4692 / [QTBUG-69077](https://bugreports.qt.io/browse/QTBUG-69077) - nothing qutebrowser can do about that as far as I'm aware. Even though the original fix should have made it to Qt 5.12.4, you might want to check how things are looking with more recent Qt versions.

[2020-06-02 11:35] #5482 closed

[2020-06-02 13:34] ju-sh commented on #176
Should the functions having `_tmdir` as part of their name be renamed to `_tmp_path`?

Like `dict_tmpdir()` fixture in https://github.com/qutebrowser/qutebrowser/blob/master/tests/unit/scripts/test_dictcli.py#L62

[2020-06-02 14:30] schyzophrene-asynchrone commented on #5313
[code]

[2020-06-02 15:15] The-Compiler commented on #176
I guess it would be good to rename them to avoid confusion. Indeed it looks like no equivalent exists for testdir, I suppose it's okay to keep the py.path API there until that changes in pytest.

[2020-06-03 05:37] tallero opened #5484 "AssertionError: qWebKitVersion is not None"
Power went down and now I get this when trying to start qute:

[code]

Ideas?

Qutebrowser 1.12.0 on arch.

[2020-06-03 07:02] mschilli87 commented on #5476
What advantages would this have over a simple userscript?

[2020-06-03 07:12] mschilli87 commented on #5475
@The-Compiler:

:confused:

[2020-06-03 08:17] ju-sh commented on #176
Finished with tests/unit/scripts. https://github.com/qutebrowser/qutebrowser/pull/5485

[2020-06-03 08:35] The-Compiler commented on #5484
The relevant part of the output is this:

[code]

I got some crash reports with the same output as well, so I don't think this is because of a hard reboot - it's much more likely to be caused by a recent system update.

Are you using the Archlinux `[testing]` repository? Can you show the output of the following commands?

- `pacman -Q qt5-webkit qt5-webengine python-pyqt5`
- `python3 -c "from PyQt

[2020-06-03 08:46] The-Compiler commented on #5476
Do you mean greasemonkey-scripts? I don't think you can do redirects like this from there, or can you? Either way, it'd likely be easier to use and much more discoverable.

[2020-06-03 08:46] The-Compiler commented on #5475
@mschilli8 Whoops, thanks, fixed!

[2020-06-03 08:50] Earnestly commented on #5476
I'm not reall endorsing either way, there is a simplicity (not easiness) to just having a general API and a bunch of idioms. However, a narrow and focused API can be more robust at the expense of complexity, but it contains the spread of code in the world by not needing multiple people to implement the same idea.

[2020-06-03 08:57] The-Compiler commented on #5473
Hmm, I can't reproduce with a binary Qt build.

However, according to `ldd`, both Archlinux' Qt and the binary Qt use the system libpng `1.6.37-2`:

binary:

[code]

[2020-06-03 09:06] mschilli87 commented on #5476
@The-Compiler:

Yes.

Maybe I misunderstand what you are trying to do, but something like [this](https://greasyfork.org/en/scripts/370461-invidious-redirect) works nicely for me.

Fair enough.

---
@Earnestly:
Not sure I get your point...greasmonkey-scripts work in many browsers and there is searchable infrastructure to distribute them. All in all I think if anything this encourages code re-use co

[2020-06-03 09:12] The-Compiler commented on #5476
@mschilli87 If I'm reading this script right, it will run this code all 10ms in an endless loop if someone is on a Youtube page which isn't a video... A perfect example why I think this should be possible in a more straightforward, declarative way :wink:

[2020-06-03 09:19] mschilli87 commented on #5476
But why would anyone want to spend more than 10ms on YouTube anyways. :wink:

Joking aside, I agree. I also noticed that for example in your reddit example, forwarding causes a delay before a reload - so if you open reddit and immediately start typing a search query, it will reload the target and you have to re-start typing. Worse: The input looses focus so you might continue typing in normal mode

[2020-06-03 12:39] bonnefoi opened #5486 "reddit "view entire discussion" button not working"
**Version info**:
qutebrowser v1.11.1
Git commit:
Backend: QtWebEngine (Chromium 69.0.3497.128)
Qt: 5.12.8

**Does the bug happen if you start with `--temp-basedir`?**:
yes

**Description**
The reddit "view entire discussion" button is not working.
I'm using Ubuntu 20.04

**How to reproduce**
any reddit discussion.

[2020-06-03 12:51] The-Compiler commented on #5486
Do you see anything if you start with `--debug --logfilter js` when clicking the button?

[2020-06-03 13:02] bonnefoi commented on #5486
I've tried with options ```--temp-basedir --debug --logfilter js``` and nothing happens when I press the "view entire discussion".

[2020-06-03 13:29] tallero commented on #5484
Apparently the problem was due to having given a pip upgrade command as user yesterday, so that I had various PyQt* installed in `~/.local/share`, (and in fact the import was not working).

So probably some PyQt* pip package is not working correctly.

[2020-06-03 13:50] The-Compiler commented on #5484
Taking the freedom to reopen this - it seems to happen to at least two other people, and I'd like to handle this gracefully in qutebrowser. Do you know how I could reproduce it?

[2020-06-03 15:08] yoctocell opened #5488 "Could not initialize QtNetwork SSL support"
**Version info**:

[code]

**Does the bug happen if you start with `--temp-basedir`?**:
Yes.

**Description**
I installed qutebrowser from source and when I run `.venv/bin/python3 -m qutebrowser` in the terminal I get this warning:

[code]

It says that I need OpenSSL 1.1 but I am on Void Linux which uses LibreSSL. When I run `:adblock-update`, I get an error saying `TLS initilization failed`.

**

[2020-06-03 15:49] dt098 commented on #3636
Was it implemented? Can't find it if so.

[2020-06-03 15:49] Glassinatorn commented on #5484
I got the exact same error yesterday evening after I had updated to v.1.12 on arch, tried updating to the latest through the aur but still got the same problem. It worked on the second computer though (also arch) the only difference I could find between them were a few python packages.
Installed manjaro on the computer that didn't work last night and it works now there as well, though the official

[2020-06-03 16:01] The-Compiler commented on #3636
@dt098 "it" as in per-domain support for `content.cookies.accept`? Yes, see the comment above yours.

[2020-06-03 16:02] The-Compiler commented on #5484
@Glassinatom the command-history error is irrelevant - what's the exception you got above that?

[2020-06-03 16:05] The-Compiler commented on #5488
I thought LibreSSL was binary-compatible with OpenSSL, no? Either way, there isn't really anything qutebrowser can do about that. You might be able to find out more by running `ldd` on the QtCore/QtNetwork libraries in /home/yoctocell/.local/src/qutebrowser/.venv/lib/python3.8/site-packages/PyQt5/Qt.

[2020-06-03 16:05] #5488 closed

[2020-06-03 17:01] Glassinatorn commented on #5484
Oh, my bad, I don't have the log anymore after the reinstall but from what I remember, it looked almost exactly like the error tallero got. I'll try to see if I can get it again.

[2020-06-03 17:25] JonnyHaystack opened #5489 "qutebrowser not launching after Qt 5.15 update"
**Version info**:

1.12.0-1 package from Arch Linux repos. I can't run the :version command because I can't launch the browser.

**Does the bug happen if you start with `--temp-basedir`?**:
Yes

**Description**
After installing Qt updates on Arch Linux mere minutes ago, I am unable to launch qutebrowser. Running qutebrowser from a shell yields the following output:
[code]

**How to reproduce**

In

[2020-06-03 17:32] The-Compiler commented on #5489
Are you using qt5-styleplugins(-git)? If so, does it help to uninstall that?

[2020-06-03 17:41] camoz opened #5490 "Disabling WebGL can cause loss of tab history"
**Version info**:
qutebrowser v1.12.0
Git commit:
Backend: QtWebEngine (Chromium 77.0.3865.129)
Qt: 5.14.2

**Does the bug happen if you start with `--temp-basedir`?**: no

**Description**
I'm using a Thinkpad X200 (GM45 platform with an Intel Graphics Media Accelerator X4500MHD) running Archlinux and swaywm. After installing the recent qutebrowser update `1.11.1-1 -> 1.12.0-1`, upon starting qute

[2020-06-03 17:44] JonnyHaystack commented on #5489
Yes, I use qt5-styleplugins. Uninstalling that fixes that problem, but now I don't have my GTK/Qt theme in qutebrowser.

[2020-06-03 18:56] The-Compiler commented on #5489
From what I've heard somewhere, other Qt applications like KeePassXC are affected as well - can you confirm?

[2020-06-03 19:57] The-Compiler commented on #5489
Ah, found those mails again: https://lists.archlinux.org/pipermail/arch-dev-public/2020-June/thread.html

So this doesn't look like a qutebrowser issue.

[2020-06-03 19:57] #5489 closed

[2020-06-03 20:23] maximbaz commented on #5489
@The-Compiler hey, for me after qt5 upgrade on Arch qutebrowser launches, but tabs widget is not being rendered at all (I dont see any tab, basically, and how many there are), and pressing `:` also either doesn't do anything, or opens an empty menu where I cannot see anything, just background color. It seems just a rendering issue though, for example I can switch to previous/next tab with `Shift+J

[2020-06-03 20:27] The-Compiler commented on #5489
@maximbaz huh, odd! Can you please open a new issue with the full `qutebrowser --version` output and a screenshot?

[2020-06-03 20:36] maximbaz opened #5491 "Rendering issues on Wayland after Qt 5.15 upgrade"
**Version info**:

[code]

**Does the bug happen if you start with `--temp-basedir`?**:

Yes

**Description**

On Arch, with Wayland (sway), upgraded to Qt 5.15 and restarted qutebrowser.

First thing you notice, is that everything becomes _extremely_ slow and laggy, browser takes noticeably more time to load and react on my keypresses.

With my normal config (tab widget on the left), I press `:`

[2020-06-03 20:40] The-Compiler commented on #5491
You mentioned someone else was affected by this - are they on Wayland as well? Can you test with X11 or XWayland?

[2020-06-03 20:45] maximbaz commented on #5491
That was a good idea, all 3 of us are using sway on Arch, turns out the issue is only happening when qutebrowser is being rendered in wayland mode (i.e. with `QT_QPA_PLATFORM=wayland-egl`), with that variable unset, when qutebrowser is rendered via XWayland compatibility mode the issue doesn't reproduce - but of course text inside browser becomes blurry on hidpi screen and all the other quirks app

[2020-06-03 21:06] jasonwryan commented on #5486
It's not just the "expand discussion" button. None of the js works on reddit.

[code]

[2020-06-04 00:20] camoz commented on #5490
On IRC it was suggested that this behaviour could be related to https://github.com/qutebrowser/qutebrowser/issues/4672

[2020-06-04 05:27] deifactor commented on #4780
So, unfortunately, PyQtWebEngine 5.15 appears to assume certain symbols exist in Qt 5.14, when they actually only exist in 5.15. So it doesn't build on my 5.14 system. I think this patch fixes it:

[code]

[2020-06-05 06:19] tallero commented on #5484
@The-Compiler on arch this should be enough:
[code]

[2020-06-05 13:34] AVCADO opened #5493 "Installing Qutebrowser on Arch Fails"
I'm trying to install Qutebrowser on my arch machine.
When I run `makepkg -si`,  it outputs
[code]
Any help?

[2020-06-05 14:09] The-Compiler commented on #5493
Why not use `qutebrowser` from the `[community]` repo? Either way, to use `makepkg` you will need to have `base-devel` installed, see: https://wiki.archlinux.org/index.php/makepkg#Usage

[2020-06-05 14:09] #5493 closed

[2020-06-05 15:05] AVCADO commented on #5493
if i try running `sudo pacman -S qutebrowser`, it 404s.

[2020-06-05 15:22] mavaa commented on #3636
Being able to have a whitelist of domains where cookies are allowed is great, thank you a thousand times for this! :heart:

[2020-06-05 15:56] The-Compiler commented on #5493
Your package database is outdated then - first update the database and your system using `-Suy`, see https://wiki.archlinux.org/index.php/Pacman#Upgrading_packages

[2020-06-05 16:15] The-Compiler commented on #5486
It fails with:

[code]

Apparently, globalThis was [introduced](https://caniuse.com/#feat=mdn-javascript_builtins_globalthis) in Chromium 71, while Qt 5.12 is based on Chromium 69. Works fine with Qt 5.13 and newer - nothing qutebrowser can do here.

Apparently you can work around it via Greasemonkey (though I haven't tested), switch to Reddit's old design, or use a newer Qt. Some Reddit threads a

[2020-06-05 16:18] bonnefoi commented on #5486
![](https://i.redd.it/dbbya6buovw01.jpg)

[2020-06-05 16:19] bonnefoi commented on #5486
I'm baffled :)

[2020-06-05 16:27] The-Compiler commented on #5486
@bonnefoi ...huh?

Thinking about this some more, I guess qutebrowser *could* apply that workaround automatically. I'll need to think about it some more though, as I'm not really keen on keeping older Qt versions on life support... Reopening for now.

[2020-06-05 16:33] bonnefoi commented on #5486
I use reddit a lot and I just realised how broken its interface is if a new version of a browser is needed to make it work. So, I'm currently empty inside, not knowing if I should quit a valuable site for its awful interface.

[2020-06-05 21:49] The-Compiler commented on #5279
I *think* I finally found a way to consistently reproduce this (though I don't have a QtWebEngine build with debugging symbols ready at the moment), by opening the Epic Games store:

- Open https://www.epicgames.com/store/en-US/product/old-world/home with a fresh basedir (works fine)
- Quit
- Open it again
- Crash in `Chrome_IOThread`

[2020-06-05 22:43] jasonwryan commented on #5486
Thanks Florian, the userscript restores the functionality.

Cheers!

[2020-06-05 23:15] toofar commented on #5279
I have a debug build for 5.14 if that helps (and the reproducer you described works there):
<details>
  <summary>backtrace</summary>

[code]
</details>

[2020-06-06 05:30] coiby commented on #1098
I think it's better to have a separate qutebrowser-client. Here's my plan,
1. When qb is first started, it will export `socketname` as environment variable
2. To launch a new instance, qutebrowser.qutebrowser.main will  obtain the `socketname`  variable and use ipc.send_to_running_instance to talk to the IPCServer. To reduce import time for the client, ipc.send_to_running will be singled out and p

[2020-06-06 10:32] bitraid commented on #5244
To demonstrate, i created a very simple `qutebrowser.com` program by using MinGW and just utilizing `popen()`. Placing it next to `qutebrowser.exe`, enables things like `qutebrowser --help` or `qutebrowser --debug 2> debug.log` from the console.

32 and 64 bit binaries, cross compiled with [llvm-mingw](https://github.com/mstorsjo/llvm-mingw):
[qutebrowser_com.zip](https://github.com/qutebrowser/qu

[2020-06-06 16:51] lilpea opened #5494 "Webfont issues after Qt 5.15 upgrade"
**Version info**:
[code]
I have tested this only on Windows 8.1; it appears to be a problem with the Qt upgrade.

**Does the bug happen if you start with `--temp-basedir`?**:

Yes.

**Description**

Webfonts don't seem to get rendered since the recent update. They seem not to function altogether ([Google Fonts](https://fonts.google.com) also throws up an error).

**How to reproduce**

I have quick

[2020-06-06 17:44] hyiltiz commented on #5437
I had the same issue, so I `set content.canvas_reading` to its default value `true` and restarted. It now works. Thought it was related to `jblock`, but apparently works with `jblock` enabled.

[2020-06-07 08:14] Nswayze commented on #3172
This still worked for me in 2020 :+1:

[2020-06-07 20:01] bonnefoi opened #5496 "binding to save a picture, what's the correct way ?"
I want to be able to save a picture displayed in the browser with a single key, so I have simulated a right-clic, followed by some move and a left-click.

I've defined a binding as follows:
```bind z spawn sh -c 'xdotool click 3 mousemove_relative 5 5 click --delay 50 3'```
Is there a better way :
- to ask for saving a ressource ;
- and/or to simulate clicking buttons on the mouse.

[2020-06-08 02:26] cpu012 opened #5497 "renderer crashes with qt-webengine"
**Version info**:
qutebrowser v1.12.0
Git commit:
Backend: new QtWebKit (WebKit 602.1)
Qt: 5.15.0

CPython: 3.8.3
PyQt: 5.15.0

sip: 5.3.0
colorama: 0.4.3
pypeg2: 2.15
jinja2: 2.11.2
pygments: 2.6.1
yaml: 5.3.1
cssutils: no
attr: 19.3.0
PyQt5.QtWebEngineWidgets: yes
PyQt5.QtWebEngine: 5.15.0
PyQt5.QtWebKitWidgets: yes
pdf.js: no
sqlite: 3.32.2
QtNetwork SSL: OpenSSL 1.1.1g  21 Apr 2020

Style: QFu

[2020-06-08 02:33] cpu012 commented on #5497
##wrong version info

qutebrowser v1.12.0
Git commit:
Backend: QtWebEngine (Chromium 80.0.3987.163)
Qt: 5.15.0

CPython: 3.8.3
PyQt: 5.15.0

sip: 5.3.0
colorama: 0.4.3
pypeg2: 2.15
jinja2: 2.11.2
pygments: 2.6.1
yaml: 5.3.1
cssutils: no
attr: 19.3.0
PyQt5.QtWebEngineWidgets: yes
PyQt5.QtWebEngine: 5.15.0
PyQt5.QtWebKitWidgets: yes
pdf.js: no
sqlite: 3.32.2
QtNetwork SSL: OpenSSL 1.1.1g  21 Apr 202

[2020-06-08 10:14] The-Compiler opened #5499 "Check pylint-pytest plugin"
https://pypi.org/project/pylint-pytest/ could be useful for `run_pylint_on_tests.py`.

[2020-06-08 10:45] The-Compiler opened #5500 "Investigate custom QWebEngineCookieJar"
Right now we don't customize cookies with QtWebEngine other than:

- A cookie filter for `content.cookies.accept`
- `QWebEngineProfile.setPersistentCookiesPolicy` for `content.cookies.store`

We could probably do more by customizing `QWebEngineCookieStore` (which has an API I still don't quite understand...). Not sure what the drawbacks of doing so are, though (e.g. if we need to take care of stor

[2020-06-08 11:10] arza-zara commented on #5496
Bind to `hint images download`.

[2020-06-08 11:10] #5496 closed

[2020-06-08 11:16] bonnefoi commented on #5496
Thanks !

[2020-06-08 12:52] The-Compiler commented on #5394
Someone in IRC had a good idea how to deal with the white flashes: You could set `colors.webpage.bg` to something dark, and then use Greasemonkey to override that color for web contents:

[code]

[2020-06-08 13:32] The-Compiler opened #5501 "Check for missing qt5-qtwebengine-devtools on Fedora"
https://apps.fedoraproject.org/packages/qt5-qtwebengine-devtools

https://fedora.pkgs.org/30/fedora-x86_64/qt5-qtwebengine-devtools-5.12.2-2.fc30.x86_64.rpm.html

If we're on Fedora, and `/usr/share/qt5/resources/qtwebengine_devtools_resources.pak` is missing when using `:inspector`, we could show an error instead of opening a blank inspector.

[2020-06-08 13:44] rien333 commented on #5394
Yes, that works great! Saves me a lot of trouble recompiling qt5-webengine.

[2020-06-08 17:51] Aster89 opened #5503 "Issues on plnkr.co"
**Version info (see `:version`)**: v1.12.0

**If applicable: Does the issue happen if you start with `--temp-basedir`?**: Yes

[This project on plnkr.co](https://plnkr.co/edit/uPT6BgeTqbIPiU4W?open=lib%2Fscript.js), there's a simple calculator app with some tests.

If I click on the refresh live preview button (the symbol of the two arrows chasing each other in cyrcle, just below _Preview_ title o

[2020-06-08 17:57] The-Compiler commented on #5503
By default, JavaScript is only allowed to open new tabs if there was a user interaction. Works fine after `:set -u plnkr.co content.javascript.can_open_tabs_automatically true`.

[2020-06-08 17:57] #5503 closed

[2020-06-08 18:21] The-Compiler opened #5504 "Qt 5.15: No screensaver/screen blanking inhibition when viewing videos?"
https://www.reddit.com/r/qutebrowser/comments/gumw2a/qutebrowser_v1120_released/ft28wqh

[2020-06-08 18:24] The-Compiler opened #5505 "Qt 5.15: Renderer process crash with `colors.webpage.darkmode.policy.images = smart`"
Running `qutebrowser --temp-basedir -s colors.webpage.darkmode.enabled true -s colors.webpage.darkmode.policy.images smart` seems to cause a render process crash with Qt 5.15 - though I only saw this after upgrading my system (rather than using PyQt 5.15 from PyPI) for some reason?

Debugging logs:

[code]

Needs more investigation as soon as I have a debug build ready.

[2020-06-08 18:28] The-Compiler commented on #5497
So I launched `qutebrowser --basedir /tmp/ddg`, went to https://duckduckgo.com/settings and turned instant answers off, infinite scroll on, and changed the region to Switzerland. Then I used "Save and exit" at the bottom. After `:wq` and restarting qutebrowser with `--basedir /tmp/ddg`, no issues.

Can you reproduce the issue when doing that?

[2020-06-08 18:40] The-Compiler commented on #5491
Does `wayland-egl` vs. just `wayland` make any difference? I don't see the issue when running Weston under X11 FWIW. Will try running it natively later, currently doing some other stuff in parallel and the Intel driver sometimes crashes X when switching TTYs...

[2020-06-08 18:42] maximbaz commented on #5491
It doesn't make any difference, I did that test but forgot to include in the bug report... Thanks for your time looking into this btw!

[2020-06-08 18:45] The-Compiler commented on #5494
Works fine for me:

![image](https://user-images.githubusercontent.com/625793/84068226-efcd8b80-a9c8-11ea-9c6e-b5f0dd37b9ad.png)

What error is it that Google Font shows? What do you see in the highlighted portion of my screenshot in `:inspector`? What about the console tab of the inspector?

[2020-06-08 19:02] The-Compiler commented on #5486
@jasonwryan Which userscript did oyu end up using exactly? I tried adding a workaround for this:

[code]

but it doesn't work for some reason... (it's not running inside qutebrowser's greasemonkey wrapper, hence I use `window` instead of `unsafeWindow`)

[2020-06-08 19:17] The-Compiler commented on #5486
Ah, I accidentally did run the workaround in the application rather than main (page) context...

[2020-06-08 19:20] #5486 closed

[2020-06-08 19:25] The-Compiler commented on #5486
I added a workaround now - FWIW as for this:

Let me note that the Chromium version in Qt 5.12 is from September 2018. I can't blame them for not supporting an almost 2 year old engine, especially if they still allow using their old UI instead... What's more annoying is that the issue was actually caused by some Google Recaptcha code in there :wink:

Also FWIW you might want to look at [tuir](http

[2020-06-08 19:43] bonnefoi commented on #5486
You could also add in ```~/.local/share/qutebrowser/greasemonkey``` the file ```globalthis_quirk.user.js```:
[code]

[2020-06-08 19:58] The-Compiler commented on #5491
I still can't reproduce even with Sway natively. What did you do to get high-DPI scaling with Sway? Can you try turning that off?

[2020-06-08 20:20] The-Compiler commented on #3636
@mavaa Let me forward those thanks to @lufte! :+1:

[2020-06-08 21:01] Spounka opened #5507 "Qutebrowser frequently crashing"
**Version info**:
qutebrowser v1.12.0
Git commit:
Backend: QtWebEngine (Chromium 77.0.3865.129)
Qt: 5.15.0

CPython: 3.8.3
PyQt: 5.15.0

sip: 5.3.0
colorama: no
pypeg2: 2.15
jinja2: 2.11.2
pygments: 2.4.2
yaml: 5.3.1
cssutils: 1.0.2 $Id$
attr: 19.3.0
PyQt5.QtWebEngineWidgets: yes
PyQt5.QtWebEngine: 5.14.0
PyQt5.QtWebKitWidgets: no
pdf.js: no
sqlite: 3.31.1
QtNetwork SSL: OpenSSL 1.1.1g FIPS  21 Ap

[2020-06-08 21:32] maximbaz commented on #5491
Thanks a lot for checking it out! With your finding, I started bisecting all my configs, and it turned out that the offending setting was `QT_WAYLAND_FORCE_DPI=physical`, with it being unset qutebrowser behaves perfectly well on Qt 5.15: fonts are pretty on HiDPI screen, touchscreen scrolling is smooth, performance is great, etc etc - in other words, I'm having the proper Wayland experience again

[2020-06-08 21:32] #5491 closed

[2020-06-09 00:58] cpu012 commented on #5497
it might be one of the duckduck go issues

[2020-06-09 01:14] cpu012 commented on #5497
`--basedir /tmp/ddg' did not fix this,
I first noticed this issue when I started editing the `c.url` section in config.py,
after going back to what it was before that, the issue remained

[2020-06-09 01:14] cpu012 commented on #5497
`--basedir /tmp/ddg' did not fix this,
I first noticed this issue when I started editing the `c.url` section in config.py,
after going back to what it was before that, the issue remained

[2020-06-09 01:20] cpu012 commented on #5497
running with `--basedir /tmp/ddg` did not fix this, I first noticed this issue when I started editing the `c.url` section in config.py,
after going back to what it was before that, the issue remained

[2020-06-09 01:26] lilpea commented on #5494
Google Fonts shows the following errors:

![Google Fonts error](https://i.imgur.com/p3NcTt9.png)

The inspector shows Arial as a local font:

![Inspector screenshot](https://i.imgur.com/WbBjzPq.png)

Only removing every `@font-face` declaration allows for Fira Sans to be rendered as a local font. The console tab shows no errors.

I have also discovered that TrueType fonts are not affected, as can

[2020-06-09 07:49] IWannaBeTheKappa opened #5508 "segmentation fault on sites based on osnova"
**Version info**:
qutebrowser v1.12.0
Git commit:
Backend: QtWebEngine (Chromium 77.0.3865.129)
Qt: 5.14.2

**Does the bug happen if you start with `--temp-basedir`?**:
No
**Description**
Opening dtf.ru or vs.ru or tjournal.ru cause segmentation fault
**How to reproduce**
Open https://dtf.ru or https://vs.ru or https://tjournal.ru with :open or directly as argument from terminal.

Disabling adbloc

[2020-06-09 08:21] ykonstant1 opened #5509 "QtWebEngine overloads cpu when visiting certain sites"
**Version info**:
qutebrowser v1.12.0
Git commit:
Backend: QtWebEngine (Chromium 80.0.3987.163)
Qt: 5.15.0

**Does the bug happen if you start with `--temp-basedir`?**:
Yes.

**Description**
When I visit the site https://old.reddit.com/r/VirtualYoutubers/ , the QtWebEngine process starts cosuming all the cpu resources resulting in system lag and constant fan spinning.  This does not stop until I n

[2020-06-09 08:43] The-Compiler commented on #5509
Nothing qutebrowser can fix - I see the same CPU usage with KDE Falkon, and almost the same (if also counting the separate GPU process) in Chromium as well. Also see #5375.

[2020-06-09 08:43] #5509 closed

[2020-06-09 08:44] The-Compiler commented on #5508
Do the crashes go away if you remove `~/.local/share/qutebrowser/webengine/Service Worker` (or whatever the data directory is in `:version`)?

[2020-06-09 08:48] The-Compiler commented on #5494
And no output in the console with your test page, right? I suppose if you open https://lilpea.github.io/qutewebfonts/FiraSans-Italic.woff manually, it gets downloaded just fine? Whta does the network tab show when you force-reload (shift-R) your test page?

[2020-06-09 08:48] The-Compiler commented on #5497
Well, I still can't reproduce. If you do the exact steps I mentioned above, do you see the crash?

[2020-06-09 08:49] The-Compiler commented on #5507
Can you please show `coredumpctl info` right after the crash happens?

[2020-06-09 09:17] PeterNerlich commented on #5394
I don't think setting it to white works as intended. If inserting the rule works the way I think and experimented with before, this would conflict with the styling on some websites, wouldn't it? I vaguely remember some problems about when the page specifies a color/specifies no color at all... I'm not sure, what do you think? Is this a different situation?

[2020-06-09 09:32] ykonstant1 commented on #5509
I understand; I would appreciate any directions to the right place to ask about this bug.  It does not seem that the website is doing anything wrong; a simple animated banner should not consume so many resources (and it does not in Firefox).

[2020-06-09 09:42] The-Compiler commented on #5394
The snippet appends that rule at the end of the existing rules - so I suppose the existing ones would take precedence, assuming the same specificity? I'm not sure what happens when the page e.g. applies that kind of styling via an external stylesheet or so.

[2020-06-09 09:45] The-Compiler commented on #5509
Probably either the [Chromium bugtracker](https://bugs.chromium.org/p/chromium/issues/list) or, if the gap between Chromium (with both processes) and QtWebEngine is higher on your system, perhaps the [Qt bugtracker](https://bugreports.qt.io/secure/Dashboard.jspa).

[2020-06-09 09:45] ykonstant1 commented on #5509
Thank you very much!

[2020-06-09 09:54] The-Compiler commented on #5509
You're welcome! Please post a link to the bug report(s) here if you submit something, as I'm curious how it turns out!

[2020-06-09 10:01] The-Compiler commented on #5491
I tried to reproduce this again with `QT_WAYLAND_FORCE_DPI=physical` and both with/without qutebrowser's `-s qt.highdpi true`, but everything looks fine.

I'd still like to report this upstream if you find out how I could reproduce, but I'm also fine with dropping it if that setting is to blame (and was for all three of you).

[2020-06-09 12:54] The-Compiler commented on #5505
Well, I now have a debug build of Qt, and it works fine there again... So for some reason, this doesn't seem to happen with all Qt 5.15 builds? Perhaps there's something special in how Archlinux builds their Qt. Will need to wait until I have Qt 5.15 Archlinux packages with debugging symbols ready as well.

[2020-06-09 13:14] #5286 closed

[2020-06-09 13:32] IWannaBeTheKappa commented on #5508
When `~/.local/share/qutebrowser/webengine/Service Worker` is removed everything is working fine but after restarting the browser it crashes again.

[2020-06-09 13:34] The-Compiler commented on #5508
I suspect this is a duplicate of #5279 then. What OS/distribution are you on?

Also, if you run `qutebrowser --basedir /tmp/serviceworker https://dtf.ru https://vs.ru https://tjournal.ru`, wait a bit, quit qutebrowser, and run that again - do you get a crash too?

[2020-06-09 13:41] lilpea commented on #5494
The console has no output, yes. Opening https://lilpea.github.io/qutewebfonts/FiraSans-Italic.woff2 manually, it gets downloaded as normal. When force-reloading the page, there are no network requests for fonts shown. However, reloading normally does show the font files as having been loaded in from cache ([screenshot](https://i.imgur.com/xKIXByf.png)).

[2020-06-09 13:43] The-Compiler commented on #5494
Hmm, I'm pretty much out of ideas at this point to be honest... Can you launch qutebrowser with `--temp-basedir`, go to Google Fonts, go to your demo page, and then do `:report` so I can take a look at the logs?

[2020-06-09 13:50] lilpea commented on #5494
Done.

[2020-06-09 13:59] The-Compiler commented on #5494
Still no idea what's happening, I'm afraid. If you open https://lilpea.github.io/qutewebfonts/FiraSans-Italic.woff manually and download it, do you actually get a valid WOFF file (for a quick check, does it start with `wOF2` when opened in an editor or so)?

Can you check if you see the same issue in Google Chrome on the same machine?

[2020-06-09 14:13] kontheocharis opened #5510 "Introduce separate font setting for focused tab"
In my fork of qutebrowser, I have set the selected tab font to bold; this way it is quicker for the eye to differentiate the selected tab from the rest. I thought that other people might find this ability useful. The idea would be to add a `fonts.tabs.selected` config value (the same idea as `colors.*.selected`), which people can set to whatever font they want (e.g. bold). It is a small change and

[2020-06-09 14:40] The-Compiler commented on #5510
I assume you mean this? https://github.com/qutebrowser/qutebrowser/commit/8b9cb2f98883e46ab438d0c469c8f36708fff336

Seems fine to me to add a font setting - though I'm not sure how easy it is, because `TabBar` doesn't use a stylesheet for its font currently. I went digging a bit for why that is:

- 95df8a045ca6febac8ff8da20a2942c81696c288 avoided that stylesheet because of this Qt bug: [[QTBUG-402

[2020-06-09 14:45] The-Compiler commented on #5510
Ah, also let me note that keeping `fonts.tabs` and adding `fonts.tabs.selected` won't work, because the latter will shadow the former. You'd probably need to rename `fonts.tabs` to `fonts.tabs.unselected` (or perhaps even `fonts.tabs.{odd,even}`, like with `colors.tabs.{odd,even}`).

[2020-06-09 14:47] The-Compiler opened #5511 "Get rid of QtFont config type?"
Only `fonts.tabs` and `fonts.debug_console` use the `QtFont` config type. After #5510, the only remaining place using it will be `fonts.debug_console`. I don't think there's a good reason for it to use `QtFont` rather than `Font`, or at least I don't see any in 73214836da3b2723a11b13ec2890484dedaf455e when it was added.

Thus, after #5510, it can probably be removed entirely.

cc @kontheocharis if

[2020-06-09 16:29] maximbaz commented on #5491
@cyrinux has a very similar setup to mine, he also confirmed that the issue was with `QT_WAYLAND_FORCE_DPI=physical`, once we unset that and only leave `QT_QPA_PLATFORM=wayland-egl` the issue no longer reproduces. We were also able to reproduce the issue with other Qt apps since Qt 5.15 upgrade, for example calibre cannot even start with `QT_WAYLAND_FORCE_DPI=physical`, it hangs on loading splashs

[2020-06-09 16:35] The-Compiler commented on #5491
Could you start `qutebrowser --temp-basedir` with `QT_WAYLAND_FORCE_DPI=physical` set and then run `:report` so I can take a look at the logs? Maybe I notice something there.

[2020-06-09 16:44] maximbaz commented on #5491
It... consistently coredumps 🤔 But works well without `QT_WAYLAND_FORCE_DPI=physical`

<details>
<summary>coredumpctl info</summary>

[code]
</details>

[2020-06-09 16:52] Spounka commented on #5507
i seem to have solve the issue by degrading PyQt version to 5.13, i no longer have these crashes
seems to be a Qt issue i suppose ?

[2020-06-09 16:54] The-Compiler commented on #5507
Yeah, but I'd still like to find out what the issue is exactly, so I can report it upstream.

[2020-06-09 17:01] The-Compiler commented on #5491
Fun! This gave me a (somewhat unrelated) idea: `:report` can now take arguments for the bug description so that no report dialog needs to pop up: ea2271c2945063d30c4a5f48893f322e4fd3fef4

Can you try with the git master and do `:report #5491` there?

[2020-06-09 17:12] maximbaz commented on #5491
Did it work? I haven't used `:report` before so I'm not sure what to expect, did you receive it? 😄

[2020-06-09 17:35] The-Compiler commented on #5491
It's supposed to show you a success dialog - if that doesn't happen I guess it still crashes, but I *did* get a report (or two, rather!).

I don't see anything in there which could influence this, however... like you say, `QT_WAYLAND_FORCE_DPI` is the only `QT_*` environment variable you have set.

[2020-06-09 17:38] maximbaz commented on #5491
Because half of the UI is not rendered with `QT_WAYLAND_FORCE_DPI=physical`, I didn't see anything, and in fact I was blindly typing `:report #5491` - and then I got curious as to what really happens, so I ran `:report` second time, also on git master, but this time without `QT_WAYLAND_FORCE_DPI` so I could actually observe the result 😄

[2020-06-09 17:40] kontheocharis commented on #5510
Sounds good. I created a PR for this.

[2020-06-09 17:42] kontheocharis commented on #5511
I can work on this.

[2020-06-09 20:45] The-Compiler commented on #5279
Gaaah, so I have a 5.15 developer build now, and I can *not* reproduce the epic games issue above... I'll build 5.14 as well overnight, and then (hopefully) be able to open another Qt report with @toofar's information above (thanks for that!)

I really wish this issue wouldn't play hide-and-seek...

[2020-06-10 01:12] IWannaBeTheKappa commented on #5508
Yes, looks like a duplicate, sorry.

Yes, it is crashing with basedir in /tmp even if you just reload page.

I am on Manjaro 20.0.3, Linux 5.4.43-1
[code]
And also I cheched it on Windows 10 and it is works fine.

[2020-06-10 06:44] toofar commented on #5279
I forgot I had a (old, non-debug) 5.15 build laying around, I also can't make it crash on the sites linked here (there was one from leveldb that that may have been due to jumping between version with the same basedir).
Another data point for 5.14, on that epic site if I open the developer tools and go to Application > Service Workers and check "Update on reload" and reload the page I get the same

[2020-06-10 07:27] wioo opened #5513 "Crashes when using Web Inspector"
**Version info**:
qutebrowser v1.12.0
Git commit:
Backend: QtWebEngine (Chromium 80.0.3987.163)
Qt: 5.15.0

**Does the bug happen if you start with `--temp-basedir`?**:
Yes
**Description**
Qutebrowser crashes when working with web inspector
**How to reproduce**
Test site: phoronix.com

Got to phoronix web page, open inspector and go to network tab. Click on some files (5-10 clicks on different fil

[2020-06-10 08:28] The-Compiler commented on #5513
Reproduced - debug output:

[code]

looks like something to report upstream. Will do that later.

[2020-06-10 09:12] niacat commented on #4039
I'm speaking only from the perspective of NetBSD here, since a user has made a qutebrowser package and they're unsure whether it can be moved out of the user repository due to the unclear status of support for qtwebkit.

Anything based on Chromium is a hard sell for us because it's simply not portable to operating systems Google doesn't care about commercially, and convincing them to make life eas

[2020-06-10 09:22] The-Compiler commented on #4039
I'm aware - but 2 years after this issue was opened, QtWebKit is *still* based on a WebKit version from 2016 with countless security issues. Support for it is still in because the maintenance burden is relatively low (though noticable) - but at some point, either the maintenance burden will rise (still no idea how things will look with Qt/PyQt 6, for example) or QtWebKit will just be too outdated

[2020-06-10 11:42] sanjayankur31 commented on #1476
Hrm, 6GiB with only 16 tabs here at the moment. That's really high, isn't it?

[code]

[2020-06-10 12:12] rolandplanitz opened #5514 "Customizable error pages"
Hi,
I have a dashboard that's displayed in a full screen browser.

When the server hosting the dashboard goes down because of network problems or other fuckups the browser shows me a server not found page.

is there a way to write my own HTML site with a funny gif that's displayed instead of that server not found page?

that would be both fun and a way to customise the overall look. it always look

[2020-06-10 17:54] pierg75 opened #5517 "Crash when using qutebrowser with qtwebkit 5.14"
**Version info**:

https://paste.the-compiler.org/view/539cadb3

**Does the bug happen if you start with `--temp-basedir`?**:
Yes

**Description**
On Fedora there's an update for the qtwebkit to the version 5.14 from 5.13.
Using this version, the browser keeps crashing.

**How to reproduce**

On Fedora 32, enable the testing repositories, update qtwebkit (a yum update should just do it if the test

[2020-06-11 03:52] enderger opened #5519 "Youtube page not working"
**Version info**:
https://paste.the-compiler.org/view/6dc03165

**Does the bug happen if you start with `--temp-basedir`?**:
Yes

**Description**
When running on NixOS, it appears as though qutebrowser refuses to follow certain links on any effected site. The only one I've identified so far is the https://youtube.com page.

**How to reproduce**
0. Use the stable nixpkg to install qutebrowser
1. Go

[2020-06-11 08:41] The-Compiler commented on #2377
FWIW I played with `--enable-features` and [content_features.cc](https://source.chromium.org/chromium/chromium/src/+/master:content/public/common/content_features.cc) a bit (trying to find a workaround for a different bug) - but I'm not sure if any of them actually work, I couldn't find anything which has an observable effect.

[2020-06-11 11:26] pierg75 commented on #5517
About the first one, I have manually rebuilt version 1.12.0 and the crash indeed disappeared. I'll check if someone can update it on Fedora.
About the second backtrace, it's from the same crash, started qutebrowser with the debug options and temp-dir, then closed the report window and just issued a 'bt' from gdb.
If you think it will be useful, I still have the full gdb 'bt' output.

[2020-06-11 11:29] The-Compiler commented on #5385
From #5517, a similar crash like #5187 can also still happen apparently - though that was after an exception, so it's completely possible we don't do a clean shutdown in that case.

[2020-06-11 11:30] The-Compiler commented on #5517
I added it to #5385, but it might just be that we don't really do a clean shutdown when there was an exception - so I'm closing this one now.

[2020-06-11 11:30] #5517 closed

[2020-06-11 11:31] The-Compiler commented on #5412
Looks like Fedora is affected somehow as well: #5517

[2020-06-11 12:25] The-Compiler commented on #5519
Works fine for me with Qt 5.12 (on Arch, though). Can you please reproduce this with `--temp-basedir` and then do `:report` so I can take a look at the logs?

[2020-06-11 15:55] #5507 closed

[2020-06-11 16:01] The-Compiler commented on #3190
FWIW it works out-of-the-box with Qt 5.15, but it'd still be nice to get it to work with older Qt releases as well.

[2020-06-11 16:20] enderger commented on #5519
I have tried basedir and it did not fix. I’ll get the log, but I think it has something to do with the NixPkg as the OS is... a special snowflake.

[2020-06-11 16:36] wedens commented on #5519
I don't have such problems with qutebrowser 1.12.0 (Qt: 5.12.7) from nixpkgs. The only way nixpkgs can "break" something in qutebrowser is by using older/newer Qt version than qutebrowser expects.

[2020-06-11 16:56] The-Compiler commented on #1098
FWIW that's not how environment variables work. Environment variables propagate to child processes, not to parent processes. Also, note we already have [a script](https://github.com/qutebrowser/qutebrowser/blob/master/scripts/open_url_in_instance.sh) and a [rewrite](https://github.com/qutebrowser/qutebrowser/pull/4484) in Python.

[2020-06-11 18:52] dustinlagoy commented on #1841
I apologize if this should be a new issue. There is a way to save screenshots, including of a full page, using the inspector DevTools, see [this page](https://umaar.com/dev-tips/151-screenshot-capture/). It works fine for me in Chromium, but in Qutebrowser the screenshot isn't saved anywhere. Maybe because the download location isn't set? In Chromium they are saved to the Chromium set download fol

[2020-06-11 19:27] enderger commented on #5519
Ok, well after finding breakage after breakage with NixOS I've decided to just move off it. Maybe with a bit more time it could work, but honestly my system has been known to be quite annoying when it comes to different distros. I'll close this issue because it likely is my computer not liking the combination of different factors.

[2020-06-11 19:27] #5519 closed

[2020-06-11 19:37] zlandau commented on #5385
Is this in any way related to "With older graphics hardware (OpenGL < 4.3) with Qt 5.14 on Wayland, WebGL causes segfaults. Now qutebrowser detects that combination and suggests to
disable WebGL or use XWayland.", do you think? I ask because I did fall into the category of older graphics hardware and Wayland, and so I've disabled webgl.

I'll pay attention to if I'm still getting crashes, but I al

[2020-06-11 20:11] The-Compiler commented on #5385
@zlandau No, that's #5313. This is about a segfault (rarely) happening *after* quitting qutebrowser normally (i.e. not really a "real" crash).

[2020-06-11 21:48] JonnyHaystack commented on #4881
This bug is back again :cry:

[2020-06-11 21:48] rien333 opened #5520 "Minor oddities with statusbar.show = 'in-mode'"
**Version info**:
qutebrowser v1.12.0
Git commit: 049d51d1d (2020-06-11 17:23:59 +0200)
Backend: QtWebEngine (Chromium 80.0.3987.163)
Qt: 5.15.0

**Does the bug happen if you start with `--temp-basedir`?**:

Yes.

**Description**

When setting the newly added `statusbar.show`  option to `'in-mode'`, two websites I frequently use show some odd behavior that wasn't there before. Thee don't seem to h

[2020-06-11 22:39] The-Compiler commented on #4881
@JonnyHaystack It's a different issue - see the `qute://warning/sessions` page which showed up at the first start on Qt 5.15 and #5359 (though I just noticed the text there is wrong - the fix isn't part of the v1.12.0 release).

[2020-06-11 22:42] JonnyHaystack commented on #4881
Ah, my mistake sorry. I don't remember seeing that warning

[2020-06-12 08:10] The-Compiler commented on #5505
With Archlinux' packages built with debugging symbols, I got *something* like a stack trace:

[code]

So, it's indeed crashing somewhere inside Chromium's image classifier, and not while parsing the options or anything. Not sure there's much qutebrowser can do about this...

[2020-06-12 11:38] wanghankun opened #5521 "j and k navigation on Google"
How can I enable the j and k navigation like the one on duckduckgo?

[2020-06-12 11:50] The-Compiler commented on #5521
That's a DuckDuckGo feature, not something qutebrowser does. You might be able to find (or write) a Greasemonkey script doing the same for Google though.

[2020-06-12 11:50] #5521 closed

[2020-06-12 13:24] The-Compiler commented on #5505
I rebuilt QtWebEngine with `!webcore_debug: gn_args += blink_symbol_level=0` commented out in `src/buildtools/config/common.pri` and got a more complete stacktrace:

[code]

Still no idea what that means, however...

[2020-06-12 15:18] kontheocharis commented on #5520
I can confirm that the second thing happens for me as well. It also happens when `statusbar.show=never`. I wonder if it is due to this new setting or the problem always existed (previously if `statusbar.hide=true`). However, I can't reproduce the first one; the page doesn't scroll at all on hinting.

[2020-06-12 15:26] rien333 commented on #5520
For some reason it doesn't work on top of the page. However, if I navigate (e.g.) halfway the article, it should scroll down a little when hinting.

Additional observation: the root of the problem seems to lie in showing/hiding the statusbar (which happens during hinting). The stanford article scrolls down a little evertime I cycle between `statusbar.show` modes (i.e. `config.bind('b', 'config-cyc

[2020-06-12 15:30] rien333 commented on #5520
Hm, I don't recall the problem having existed for  a long  time (I use the technique I described for copying names quite often), and I update qutebrowser quite frequently. But yeah, there is definitley a chance not everything described here is related to the most recent changes to the statusbar code.

[2020-06-12 15:52] kontheocharis commented on #5520
Ah, I see. Upon inspection it seems that this website uses the jQuery plugin ScrollToFixed, which seems to be what is causing this. The same issue arises on this page: <http://bigspotteddog.github.io/ScrollToFixed/>. I think it has to do with the fact that showing and hiding the status bar changes the CSS viewport height and this plugin relies on the viewport height to calculate the positioning of

[2020-06-12 16:11] rien333 commented on #5520
You know what, now I think this might be completely unrelated to any recent changes to the statusbar code. I'm so sorry! I probably only started seeing these strange behaviors recently, because I normally always have the statusbar shown.

[2020-06-12 16:27] kontheocharis commented on #5520
For <https://rateyourmusic.com/artist/sarah-davachi>, I think it is still a bug with qutebrowser. If you search for something, then press n a few times to cycle through the results, and then press v, then the search will turn into a caret selection as expected. However, if you try it on the first result, it doesn't work (just brings you to caret mode).

[2020-06-12 19:03] arza-zara commented on #1476
Note that with Linux ≥ 5.3, ps_mem ≤ 3.13 (current version) miscalculates the memory use (https://github.com/pixelb/ps_mem/pull/56). I suspect the real use is about half of that. 3 GiB is still high but the usual high if I've had a couple hundred tabs.

[2020-06-12 21:28] The-Compiler commented on #5505
Discussed this with Kirill Burtsev of QtWebEngine, and it's indeed a Chromium bug:

`<kiburtse> The-Compiler: it's stack-use-after-free, and after looking at troubled code i think author was drunk :)`

The issue apparently has been fixed in Chromium here: https://chromium-review.googlesource.com/c/chromium/src/+/2169489

And there's a backported Qt patch here: https://codereview.qt-project.org/c/q

[2020-06-13 03:24] toofar commented on #5500
Last I looked into it (years ago it seems) QWebEngineCookieStore isn't a class we can subclass, it is just a facade over chromium's API.

For the sanitizing use case it doesn't offer a way to query cookies for a domain, if you want to inspect cookies you have to call loadAllCookies() which triggers the cookiedAdded signal to fire for all cookies in the store (I have 2700 rows on my personal basedi

[2020-06-13 15:49] IsaacElenbaas opened #5522 ":debug-keytester not in browser's commands list"
**Version info**:

qutebrowser v1.12.0
Git commit:
Backend: QtWebEngine (Chromium 80.0.3987.163)
Qt: 5.15.0

**Description**
Love this feature, but it is not in the browser's command list.

[2020-06-13 16:13] Jan-PieterBaert commented on #5522
If I'm not mistaken it's only in the browser's command list when you enable debugging

[2020-06-13 18:39] ninewise commented on #5522
Indeed. Start qutebrowser with `--debug` should get you the completion.

[2020-06-13 19:30] bonnefoi opened #5523 "How to switch to new tab automatcally ?"
I've not found a setting to switch automatically to a new tab that has been created by thecurrent tab.
How could I proceed ?

[2020-06-13 20:04] #5522 closed

[2020-06-14 09:19] McKean commented on #5448
just stumbled on this after searching for this fro quite a while. Before posting an issue I thought I'll give it one more try. Maybe include the following words somehow: `toggle` `tabs` `between` `previous` maybe by including an example?

[2020-06-14 13:51] cpu012 commented on #5497
I did reproduced this and `:report`ed it,
I noticed that some of the settings that when I didn't turn on some of the settings that's only compatible with webengine (e.g. c.colors.webpage.*) not turning those settings on fixed this.

[2020-06-14 16:33] wardinh0 commented on #1425
Any news on this issue? I really want to use qutebrowser but there are extensions that I must use

[2020-06-14 17:30] The-Compiler commented on #1425
Nope.

[2020-06-14 20:13] BurnyBoi opened #5524 "Passthrough mode setting with URL patterns"
Similar to `input.insert_mode.auto_enter`, but for passthrough mode. The main reason I ask is so that I can also have this with URL patterns supported. This would allow me to always have passthrough mode on for when I go to play Town of Salem

[2020-06-15 12:52] The-Compiler commented on #5279
- Are there people who can reproduce this on Qt 5.15 on Archlinux? If so, can you please install my Qt debug packages and [get a stacktrace](https://github.com/qutebrowser/qutebrowser/blob/master/doc/stacktrace.asciidoc)? I remain unable to reproduce with Qt 5.15, and my [earlier simplebrowser reproducer](https://github.com/qutebrowser/qutebrowser/issues/5279#issuecomment-636807190) doesn't seem t

[2020-06-15 13:36] The-Compiler commented on #5497
This is caused by `colors.webpage.darkmode.policy.images = smart`, see #5505. FWIW I'd suggest turning off that setting for now (rather than switching to QtWebKit), given the QtWebKit security issues.

[2020-06-15 13:36] #5497 closed

[2020-06-15 14:06] The-Compiler commented on #5523
Depends on how the tab is created exactly - you might want to check the `tabs.background` setting or use ctrl-shift-click (or `:hint all tab-fg` / `;f` for hints).

[2020-06-15 14:06] #5523 closed

[2020-06-15 14:09] bonnefoi commented on #5523
I was asking for the tabs open by a page like google search for example.

[2020-06-15 14:12] The-Compiler commented on #5523
See my answer above then.

[2020-06-15 14:14] The-Compiler commented on #1425
A slightly more verbose answer now that I'm back on a real keyboard: Nothing about this is going to change until (if at all) QtWebEngine supports WebExtensions.

What qutebrowser will offer (and to some degree already does, via Greasemonkey scripts , [userscripts](https://github.com/qutebrowser/qutebrowser/blob/master/doc/userscripts.asciidoc) and its config system) is alternative ways to achieve

[2020-06-15 14:15] The-Compiler commented on #5500
FWIW the Qt network stack comes with various other issues as well - I'd rather use the Chromium network stack whenever possible, see #2328.

[2020-06-15 14:17] bonnefoi commented on #5523
my tabs.background setting is set to false

[2020-06-15 14:20] The-Compiler commented on #5523
How exactly are you opening those tabs then?

[2020-06-15 14:22] #886 closed

[2020-06-15 14:23] bonnefoi commented on #5523
I've set it to true and it works...
So if I put the option "open new tabs in the background" to true, the window automatically open by my current page (like the search in Google with the option "open each selected result in a new browser window" selected) get in front...
It's very confusing...

[2020-06-15 14:26] The-Compiler commented on #2864
There's `fonts.tabs.selected` thanks to @kontheocharis now: #5512

[2020-06-15 14:26] #2864 closed

[2020-06-15 14:29] The-Compiler commented on #5520
Yeah, pretty sure this isn't caused by the new changes, which are [quite minor](https://github.com/qutebrowser/qutebrowser/pull/5498/files#diff-381db995711e731e9e965aad6fa1b95c). There are definitely some weird things going on with keyboard focus (and perhaps also viewport size) when the statusbar is shown/hidden, also see #2236.

I can't reproduce 1) though, even if scrolled to the middle of the

[2020-06-15 14:30] The-Compiler commented on #5508
Hmm, so you're saying even if you just reload one of those pages without restarting qutebrowser (and without having visited it previously, e.g. via `--temp-basedir`), you get a crash as well?

[2020-06-15 14:34] bonnefoi commented on #5523
but it works...

[2020-06-15 14:36] wardinh0 commented on #1425
@The-Compiler
Thanks for the quick response, Florian! I didn't bother including the extensions I need because I'd feel like demanding it from the devs and it sounded selfish to me. But anyways, I need:
- [Downloader for Instagram™ + Direct Message](https://chrome.google.com/webstore/detail/downloader-for-instagram/olkpikmlhoaojbbmmpejnimiglejmboe)
- [Volume Manager](https://chrome.google.com/webst

[2020-06-15 14:37] The-Compiler commented on #5523
You're probably seeing #3231 then.

[2020-06-15 14:42] The-Compiler commented on #1425
- Downloader for Instagram: You might be able to find a [Greasemonkey userscript](https://greasyfork.org/en/scripts?q=instagram) which works.
- Volume Manager: Not possible as far as I know, though you can mute a tab in qutebrowser (`:tab-mute`)
- Google Translate: Should be possible via an [userscript](https://github.com/qutebrowser/qutebrowser/blob/master/doc/userscripts.asciidoc) (or perhaps a

[2020-06-15 14:46] bonnefoi commented on #5523
Yes :)
Thanks for your support !
I've switched entirely to qutebrowser so I'm very picky to issue.

Next stop -> getting "reader mode" working.

[2020-06-15 14:50] rien333 commented on #5520
Yeah, it's most likely related to HiDPI. I remember there being some issues about that already, so feel free to mark this is a duplicate. Sorry.

[2020-06-15 16:00] The-Compiler commented on #4392
Related report [via Reddit](https://www.reddit.com/r/qutebrowser/comments/h85sk6/hotkeys_and_different_alphabets/fup17n4?utm_source=share&utm_medium=web2x): https://crashes.qutebrowser.org/view/3fac0ab0

[2020-06-15 18:04] maximbaz opened #5525 "Tab audio indicator is not refreshed until I open/close a new tab"
**Version info**:

[code]

**Does the bug happen if you start with `--temp-basedir`?**: Yes

**How to reproduce**

- Open youtube.com and start playing a video - `[A]` will _not_ appear.
- Open a new tab by pressing `O<Enter>` - `[A]` will appear on youtube tab.
- Move to youtube tab and pause the video - `[A]` will _not_ disappear.
- Move to the second tab and remove it using `d` - `[A]` will dis

[2020-06-15 18:16] Jan-PieterBaert commented on #5525
FWIW, this happens for the mute indicator `[M]` as well

[2020-06-15 18:20] Hylian opened #5526 "Blank screen loading Centrify MFA login page"
**Version info**:
[code]

**Does the bug happen if you start with `--temp-basedir`?**:
Yes.

**Description**
I upgraded my Arch distribution to the latest `qutebrowser-git` and latest Qt, etc., and my organization's SSO/MFA page provided by Idaptive (Centrify) fails to display properly. It just shows a blank grey screen. I've tried messing with the user agent for the page in my `config.py`, but to

[2020-06-15 18:20] The-Compiler commented on #5525
Looks like a Qt 5.15 bug - this doesn't print anything on Qt 5.15:

[code]

[2020-06-15 18:28] Hylian commented on #5526
Update: I've downgraded the `python-pyqtwebengine` and `qt5-webengine` packages, and that seems to have fixed it.
[code]

[2020-06-15 18:34] The-Compiler commented on #5526
Probably an issue in Qt 5.15 or the underlying Chromium. The inspector says:

[2020-06-15 19:31] kontheocharis commented on #5520
That makes sense; I also use HiDPI

[2020-06-15 21:50] toofar commented on #5279
That first stack trace I put on there was from an unstripped release build I think, so it had symbols for functions and such but argument names had been optimised out. I had tried to get a release build with separate debug information but it didn't work and I only realised it resulted in unstripped libs when looking at this. I don't have that build around anymore but I can make a new one if you wa

[2020-06-15 22:17] Hi-Angel commented on #5378
What do you use in config to enable these flags though? I have in `config.py` a line

[code]

However when I do `ps aux | grep WebEngine`, I don't see any of these on the command line:

[code]

[2020-06-15 22:39] Hi-Angel commented on #5378
Okay, nvm, apparently it's doesn't use command line to pass flags, but I can see changes in chrome://gpu

[2020-06-16 03:00] petabyteboy commented on #5313
Is there still a way to keep WebGL enabled? I used qutebrowser with Qt 5.14.2 for a while now, also used WebGL sometimes and didn't notice any problems. I would like to keep using it on my own risk.

[2020-06-16 15:44] #5239 closed

[2020-06-16 15:44] #5484 closed

[2020-06-16 16:23] The-Compiler commented on #5279
Ah, I missed that your stack trace above already is from a debug build but not a developer build (i.e. with assertions). I have one myself now, and indeed it [segfaults in the same way](https://paste.the-compiler.org/view/aa73d9bb) yours does.

With the developer build, I get [the same debug assertion](https://paste.the-compiler.org/view/44b14d74) you already mentioned: `DCHECK(!handle_.pending_as

[2020-06-17 08:26] pazz commented on #5462
I'm not sure if this is related, but I also get a segfault after upgrading my debian testing.

[code]

The file `/usr/lib/x86_64-linux-gnu/dri/iris_dri.so` belongs to a package called `libgl1-mesa-dri`, installed in version `20.1.1-1`.

[code]

[2020-06-17 14:02] #4392 closed

[2020-06-17 14:02] #4504 closed

[2020-06-17 14:02] #4368 closed

[2020-06-17 14:16] The-Compiler opened #5527 "Use KeyMode enum for modes instead of strings"
Some places (especially in `config.py`) still use a string for `mode` instead of a `usertypes.KeyMode` enum member.

[2020-06-17 14:43] #996 closed

[2020-06-17 14:43] #2817 closed

[2020-06-17 14:50] DarkDefender opened #5528 "Horrible color banding with the wayland backend."
**Version info**:
[code]
**Does the bug happen if you start with `--temp-basedir`?**:
No, it seems to ignore `QT_QPA_PLATFORM` so it defaults to the `xcb` backend there it seems.

**Description**
When running qutebrowser with the qt wayland backend, video and images seem to have really horrible color banding (left: xcb, right: wayland):
![screenshot](https://user-images.githubusercontent.com/31250

[2020-06-17 14:57] The-Compiler commented on #5528
Looks fine here. `qutebrowser --temp-basedir` should work with `QT_QPA_PLATFORM=wayland` just fine (it does show wayland in `:version` for me) - are you sure you did set the environment variable correctly when trying with that? Also, can you check if you see the same issue with [KDE Falkon](https://www.falkon.org/)?

[2020-06-17 15:39] The-Compiler commented on #3007
Another idea is having an exit status for commands and `&&` / `||` chainers - then you could do things like `:hint ... && spawn --userscript ...` to first have the user select an element, and then spawn a userscript on that element.

Not entirely sure if the possible use-cases are worth the added complexity, though.

[2020-06-17 17:18] DarkDefender commented on #5528
Hmm, you are right.

If I rename my `.config/qutebrowser` dir, the issue goes away...
Do you have any clue what setting could cause this?

[2020-06-17 19:19] caseneuve commented on #3398
Upvoting -- especially for key mode.

[2020-06-17 21:25] DarkDefender commented on #5528
Ok I found the setting that causes this.

if `window.hide_decoration` is true, I get this issue on startup.
But I have to start qutebrowser with this option on, if I toggle it when it is running, nothing seems to happen.

[2020-06-18 07:56] The-Compiler commented on #5528
Well, that's weird! That setting needs a restart on Wayland because all it does internally is setting an `QT_WAYLAND_DISABLE_WINDOWDECORATION=1` environment variable.

However, I still can't reproduce this... What Wayland compositor are you using? Can you test with Falkon and `QT_WAYLAND_DISABLE_WINDOWDECORATION=1` set as well?

[2020-06-18 08:46] The-Compiler commented on #5505
The Qt fix has been merged and [added to the Archlinux package](https://git.archlinux.org/svntogit/packages.git/commit/trunk?h=packages/qt5-webengine&id=0f594b0e3724eeb0f93af3842ec68f26cb50f2b3). Nothing more qutebrowser can do here - if you're seeing this with other distributions, you might want to ask the respective Qt packagers to [backport the patch](https://code.qt.io/cgit/qt/qtwebengine-chro

[2020-06-18 08:47] yousufinternet commented on #5505
After the latest update on arch the problem no longer exist for me.

[code]

[2020-06-18 08:52] The-Compiler commented on #5526
Reported upstream: [[QTBUG-85117] [REG 5.15] Centrify login page does not work: The user agent does not support public key credentials. - Qt Bug Tracker](https://bugreports.qt.io/browse/QTBUG-85117)

[2020-06-18 08:52] #5526 closed

[2020-06-18 09:04] The-Compiler commented on #5525
Reported upstream: [[QTBUG-85118] [REG 5.15] recentlyAudibleChanged is never emitted - Qt Bug Tracker](https://bugreports.qt.io/browse/QTBUG-85118).

I can add a workaround for the muted indicator, but I don't think there's anything I can do for the audible one.

[2020-06-18 09:04] #5525 closed

[2020-06-18 09:14] The-Compiler commented on #5513
Reported upstream: [[QTBUG-85119] [REG 5.15] Abort due to failing CHECK when viewing network requests in devtools - Qt Bug Tracker](https://bugreports.qt.io/browse/QTBUG-85119)

[2020-06-18 09:14] #5513 closed

[2020-06-18 09:20] The-Compiler commented on #5504
Reproduced and reported upstream: [[QTBUG-85120] [REG 5.15] Screen blanking is not inhibited anymore - Qt Bug Tracker](https://bugreports.qt.io/browse/QTBUG-85120)

[2020-06-18 09:21] The-Compiler commented on #5237
Only the AppVeyor issue are remaining, everything else should hopefully be okay now.

[2020-06-18 09:22] The-Compiler commented on #5494
@lilpea Any update on my questions above?

[2020-06-18 09:56] The-Compiler commented on #5256
Photopea seems to work fine if the `JavascriptCanPaste` attribute is set - probably should add a setting for that.

[2020-06-18 11:47] #4657 closed

[2020-06-18 17:03] The-Compiler commented on #4871
I can't reproduce this anymore, even when I try with older Qt/qutebrowser versions - can any of you?

[2020-06-18 19:04] MarSoft commented on #4871
I cannot reproduce it either.

чт, 18 июн. 2020 г. в 20:03, Florian Bruhin <notifications@github.com>:

--
С уважением,
Семён Марьясин

[2020-06-19 14:00] The-Compiler commented on #2377
I discovered and exposed `--enable-features OverlayScrollbar` (which *does* work just fine) via `scrolling.bar = overlay` (which also is the default now).

[2020-06-19 14:06] The-Compiler commented on #4871
Closing this then!

[2020-06-19 14:06] #4871 closed

[2020-06-20 12:13] DarkDefender commented on #5528
I tried this in both sway and weston. Both has the same issue. So I don't think this is a bug with sway and weston.

I have the same issue with falkon. So I guess this is a qtwebengine issue.

[2020-06-20 13:05] The-Compiler commented on #5528
Closing this as an upstream issue in [QtWebEngine](https://wiki.qt.io/QtWebEngine).

I try to report bugs upstream when I can reproduce them, but unfortunately this wasn't the case here. Since I'll be unable to provide any follow-up information when being asked, could you please report the bug to the [Qt Bugtracker](https://bugreports.qt.io/secure/Dashboard.jspa) yourself? Please use "Project: Qt

[2020-06-20 13:05] #5528 closed

[2020-06-20 13:39] Sevensidedmarble commented on #29
Just wanted to say I'm so pumped for #5317 to be merged. Host adblocking never felt quite 'right' to me and kept me going back to chromium.

[2020-06-20 17:08] GasparVardanyan opened #5530 "Inspector in qutebrowser seems outdated and sometimes causes qutebrowser to crash."
**Version info**:

qutebrowser v1.12.0
Git commit:
Backend: QtWebEngine (Chromium 80.0.3987.163)
Qt: 5.15.0

**Does the bug happen if you start with `--temp-basedir`?**: yes

**Description**
Opening images with 'broken' icons from inspector's 'Network' page sometimes causes qutebrowser to crash.

**How to reproduce**
1. Open some video from youtube.
2. press **wi**
3. Open the 'Network' page.
4. P

[2020-06-20 17:15] GasparVardanyan commented on #5530
Also... color picker (https://imgur.com/a/4nsaiQH) doesn't work.

[2020-06-20 20:25] basedtho opened #5531 "Middle click + "back" (in context menu) should open previous page in new tab"
I just checked Firefox and it does just that, but Chrome doesn't. Still I think this is how it should be from the UI/UX point of view

P.S. Same with "reload" - reload in a new tab

[2020-06-20 20:30] The-Compiler commented on #5531
The context menu is handled by Qt - there are some plans for a custom context menu in #349, but I don't think it's possible to know how an action was triggered in that menu (without handling the user inputs manually, which I'd rather not do).

[2020-06-20 20:30] #5531 closed

[2020-06-20 20:55] pylipp opened #5532 "asciidoc2html.py incompatible with Python3.5"
**Version info**:

qutebrowser v1.12.0
Git commit: eaff6e82d (2020-06-01 15:57:24 +0200)
Backend: QtWebEngine (Chromium 69.0.3497.128)
Qt: 5.12.9

**Does the bug happen if you start with `--temp-basedir`?**:
Irrelevant.

**Description**
Using Python 3.5.3 to run the `asciidoc2html.py` script.

[code]

**How to reproduce**

[code]

I couldn't find information about whether the script was intended t

[2020-06-20 20:58] The-Compiler commented on #5532
Until we drop Python 3.5 entirely (#4800) that *is* supposed to work. I suspect it broke during a recent change, #5290 - @ju-sh can you take a look, if you have the time?

[2020-06-20 21:20] pylipp opened #5533 "mkvenv.py script fails to (auto-)install PyQt5 >5.13"
**Version info**:

Irrelevant.
**Does the bug happen if you start with `--temp-basedir`?**:
Irrelevant.
**Description**
I'm using the `mkvenv.py` script to install qutebrowser.
**How to reproduce**

[code]
Relevant error output:

[code]

So apparantly PyPI (?) does not provide PyQt5==5.15.0.
I then tried `python3 scripts/mkvenv.py --pyqt-version 5.14`
Similar error:
[code]

Using `--pyqt-version 5

[2020-06-21 00:54] toofar commented on #5530
The crash when looking at requests is probably https://github.com/qutebrowser/qutebrowser/issues/5513, the last two things you mention both make changes to the browser's UI so they were probably stripped out for webengine which doesn't contain the UI related parts of chrome. If you go to the release notes from the three dot menu > Help it links to the release notes for the same chrome version as q

[2020-06-21 02:35] toofar commented on #5279
Here is a reproducer for 5.14, seems to be something to do with having both a service worker and a shared worker and re-registering them. empty1.js and empty2.js are empty files, but they don't need to be (I started out with the two from the epic store). You don't even need to start the shared worker.

[code]

[2020-06-21 10:42] ju-sh commented on #5532
Sorry I had missed converting `pathlib.Path` objects to `str` in some places. I made some changes at https://github.com/qutebrowser/qutebrowser/pull/5534

[2020-06-21 20:06] The-Compiler commented on #5533
I'm a bit confused by:

Because the script *does* upgrade pip before installing the package.

What OS/distribution is this on? Can you show the full mkvenv.py output as well as the first two lines shown when you run `python3`?

[2020-06-21 20:09] The-Compiler commented on #5530
What do you mean with "doesn't work" for the color picker? Seems to work fine here.

[2020-06-22 06:38] toofar commented on #5530
If you try it on chrome, while the picker is open, if you move your mouse over the page it'll be a magnifier circle that lets you click individual pixels.

[2020-06-22 07:17] The-Compiler commented on #5530
I opened a Qt bug for the missing features: [[QTBUG-85171] Missing features in inspector/devtools - Qt Bug Tracker](https://bugreports.qt.io/browse/QTBUG-85171)

[2020-06-22 07:18] #5530 closed

[2020-06-22 07:18] The-Compiler commented on #1841
@dustinlagoy That's an upstream Qt issue - I reported it here: [[QTBUG-85171] Missing features in inspector/devtools - Qt Bug Tracker](https://bugreports.qt.io/browse/QTBUG-85171)

[2020-06-22 07:56] The-Compiler commented on #2288
This probably was fixed in d13809089fc62aea7ce063d1d809930a386d5a2c.

[2020-06-22 07:56] #2288 closed

[2020-06-22 08:10] The-Compiler opened #5535 "Bring back per-window prompts?"
A couple of years ago, qutebrowser used to only display prompts in the window they should appear (except some, e.g. downloads, which needed to be global).

This was removed during a larger prompt refactoring, because it made the code a lot simpler - I'm not sure where, probably somewhere around 9ce1180b3110a3e02cb3ff7980765cde286305b1, 1d6166b4747cb65fb3cddaa8c698f093926bea37 (reverted: fdd1147620

[2020-06-22 10:12] johnnypea commented on #4067
Still doesn't work with v1.12.0 :(.

[2020-06-22 12:59] The-Compiler commented on #5438
FWIW I ended up renaming it to `:devtools` as the general consensus seems to be that the inspector is just the first tab of the devtools. Not merged to `master` yet though, I'm working on some more devtools improvements first.

[2020-06-22 13:36] pylipp commented on #5533
Indeed, I can't reproduce this either on another machine (using Python 3.6.10 and `python3 scripts/mkvenv.py`; installs PyQt5==5.15.0).
On the first machine (Debian 9) I use Python3 installed via guix, and this somehow messed up the correct pip installation etc. Sorry about the alert, I'll close this and only get back if I was to exclude all problems unrelated to qutebrowser.

[2020-06-22 13:36] #5533 closed

[2020-06-22 13:58] The-Compiler opened #5537 "Use classes rather than functions for completion models"
We currently use completion functions which then return a configured completion model, and pass the function to `@cmdutils.register`:

[code]

However, that feels a bit awkward - we can't "configure" the function from the decorator, so there are some places where we have various completion functions then using a private "utility" function - also we define deletion functions inside those completion

[2020-06-22 14:44] Yaroslav-95 opened #5538 "Home directory spam"
**Version info**:
qutebrowser v1.12.0
Git commit:
Backend: QtWebEngine (Chromium 80.0.3987.163)
Qt: 5.15.0

**Does the bug happen if you start with `--temp-basedir`?**:
Yes.

**Description**
qutebrowser seems to create the directories `database-incognito`, `shared_proto_db` and `VideoDecodeStats` at random at `~/`. It isn't very nice when programs spam your home directory. This kind of directories

[2020-06-22 14:48] The-Compiler commented on #5538
It's not qutebrowser doing this, see [[QTBUG-62957] QtWebEngine creates ~/databases-incognito directory on linux - Qt Bug Tracker](https://bugreports.qt.io/browse/QTBUG-62957)

[2020-06-22 14:48] #5538 closed

[2020-06-22 15:15] mschilli87 commented on #5533
@pylipp: Did you make sure to use using Guix's `pip` and not Debian's?

[2020-06-22 15:18] The-Compiler commented on #5533
The script basically calls `.venv/bin/python3 -m pip install -U pip` and then `.venv/bin/python3 -m pip install PyQt5` - so that *should* definitely be the same pip which just was upgraded... If you have the time, @pylipp, I'd still like to debug this and see if there's anything the script could improve in this case.

[2020-06-22 21:09] rcorre commented on #5537
No objection to class-ifying them, though I also don't see a compelling reason to do so unless:

1. It simplifies some in-progress work
2. Someone just feels motivated to refactor and the resulting code is noticeably cleaner

[2020-06-22 22:01] maximbaz commented on #5421
FYI the correct flag is `--qt-flag enable-features=WebRTCPipeWireCapturer`, together with qt5-webengine compiled with pipewire support this allows qutebrowser to share screen on Wayland!

[2020-06-22 22:56] pltrz commented on #5421
@maximbaz thanks for the tip! I am compiling `qt5-webengine` and trying it out

[2020-06-23 08:32] pltrz commented on #5421
@maximbaz can you elaborate with more details? I recompiled `qt5-webengine` on arch, modifying the `PKGBUILD` to include `export RTC_USE_PIPEWIRE=true` and installed `xdg-desktop-portal` and `xdg-desktop-portal-wlr`, run qutebrowser with `--qt-flag enable-features=WebRTCPipeWireCapturer`, but still no luck, just black screen with the cursor in the centre (using sway).

[2020-06-23 09:57] The-Compiler opened #5540 "Investigate devtools window detaching bug"
While working on #4996 I noticed what I think is a weird QtWebEngine bug - when the devtools are first opened inline, and then later in a window, for some reason no window is shown. Reproducer:

[code]

It works fine with Qt 5.11 (as well as older Qt versions without devtools API), and with all Qt versions when using QtWebKit. Pushing a workaround for now, but it'd be good to find out what's actua

[2020-06-23 11:09] maximbaz commented on #5421
Since you are on Arch, feel free to take my build:

[2020-06-23 11:14] The-Compiler commented on #5421
@pltrz Do you use the latest git master? If so, could you try whether starting with `-s scrolling.bar never` changes anything? (That *does* sound totally random, but the new default `overlay` also uses an `enable-features` flag, and I'm not sure if it's allowed to repeat them)

[2020-06-23 11:14] maximbaz commented on #5421
Since you are on Arch, feel free to take my build:

https://pkgbuild.com/~maximbaz/repo/qt5-webengine-5.15.0-2-x86_64.pkg.tar.zst

I have started a discussion with maintainers of `qt5-webengine` package on Arch, hopefully we will be able to compile it with pipewire support for everyone, so that custom build will not be required anymore.

---

Here's the full list of actions I did:

1. Install `lib

[2020-06-23 11:18] #1400 closed

[2020-06-23 11:18] #4348 closed

[2020-06-23 11:18] #5451 closed

[2020-06-23 11:18] #5438 closed

[2020-06-23 11:18] #5501 closed

[2020-06-23 11:18] #5450 closed

[2020-06-23 12:19] Calebe94 opened #5541 "Segmentation fault on Debian"
**Version info**:

qutebrowser v1.12.0
Git commit:
Backend: QtWebEngine (Chromium 69.0.3497.128)
Qt: 5.12.5

CPython: 3.8.3
PyQt: 5.15.0

sip: 4.19.23
colorama: no
pypeg2: 2.15
jinja2: 2.11.2
pygments: 2.3.1
yaml: 5.3.1
cssutils: no
attr: 19.3.0
PyQt5.QtWebEngineWidgets: yes
PyQt5.QtWebEngine: 5.15.0
PyQt5.QtWebKitWidgets: no
pdf.js: no
sqlite: 3.31.1
QtNetwork SSL: OpenSSL 1.1.1g  21 Apr 2020

St

[2020-06-23 12:36] The-Compiler commented on #5541
Can you please get a stacktrace, ideally with debug symbols? See https://github.com/qutebrowser/qutebrowser/blob/master/doc/stacktrace.asciidoc

[2020-06-23 12:52] The-Compiler opened #5542 "Investigate possible whitelisting for dark mode"
I wonder if it's possible to somehow inject meta-tags via JS to disable force dark mode:

https://bugs.chromium.org/p/chromium/issues/detail?id=964594
https://bugs.chromium.org/p/chromium/issues/detail?id=925935

Unlikely to actually work, but still worth a try.

[2020-06-23 12:56] #5038 closed

[2020-06-23 12:58] The-Compiler commented on #5359
Quick update: I wanted to take care of #4996 before tackling this, because I started some work on that back in February and never found the time to finish it. I'm finished with it now, but I'll need to take care of some non-qutebrowser stuff in the next couple of weeks. I'll get back to this as soon as I find the time!

[2020-06-23 13:05] Calebe94 commented on #5541
Well, Ive got this on gdb log before crash:

[gdb_debug_log.txt](https://github.com/qutebrowser/qutebrowser/files/4819548/gdb_debug_log.txt)

And this is the stack trace:
[gdb.txt](https://github.com/qutebrowser/qutebrowser/files/4819545/gdb.txt)

[2020-06-23 13:11] The-Compiler commented on #5541
Do you get a crash when running `glxgears` as well?

[2020-06-23 13:17] Calebe94 commented on #5541
Yes.
<img width="433" alt="2020-06-23_10-17" src="https://user-images.githubusercontent.com/16101480/85408323-bf462f80-b53a-11ea-92f5-331926dced4b.png">

[2020-06-23 13:40] The-Compiler commented on #5541
Definitely not a qutebrowser issue then - looks like there are various Debian bugs open already: https://www.mail-archive.com/search?q=iris_dri.so&l=debian-bugs-dist%40lists.debian.org - according to some of them, switching to the modesetting driver (removing `xserver-xorg-video-intel` and maybe adjusting X configuration) seems to help.

[2020-06-23 13:40] #5541 closed

[2020-06-23 13:41] The-Compiler commented on #5462
@pazz I assume `glxgears` will crash as well? Looks like there are various Debian bugs open already: https://www.mail-archive.com/search?q=iris_dri.so&l=debian-bugs-dist%40lists.debian.org - according to some of them, switching to the modesetting driver (removing `xserver-xorg-video-intel` and maybe adjusting X configuration) seems to help.

Closing this, as I don't think there's much qutebrowser

[2020-06-23 13:41] #5462 closed

[2020-06-23 14:35] The-Compiler commented on #5537
I think I thought about it when adding `:tab-focus` completion in 305e7c96d5e2fdb3b248b27dfb21042fb2b7e0b8 - but yeah, it's not urgent in any way. Might be good to do it before completions as part of the extension API are "public", but on the other hand it should be possible to change it in a backwards-compatible way if a class has `__call__` defined to generate the completion so that the calling

[2020-06-23 14:47] The-Compiler commented on #5116
FYI, there should be a fix for this in Qt 5.15.1: [Only add file url if it references a local file (I2cd41635) · Gerrit Code Review](https://codereview.qt-project.org/c/qt/qtbase/+/305115)

[2020-06-23 15:10] Calebe94 commented on #5541
Just to be documented, I've followed [this](http://forums.debian.net/viewtopic.php?t=128974) instructions and now everything works fine.

Thank you so much @The-Compiler for helping me figure this out.

References:
* [xserver-xorg-video-intel driver on newer Intel graphics](http://forums.debian.net/viewtopic.php?t=128974)

[2020-06-23 17:18] rcorre commented on #5537
Ah, cleaning up the API before making it extendeable would be nice. I can take a look unless someone else is on it already

[2020-06-23 18:30] pltrz commented on #5421
Alright, so no success still, with the required packages and with your build of webengine. But slightly different result now. I get a square black screen with nothing visible. The result before (and I didn't have libpipewire02 installed before) was that I got a rectangular black screen with a visible mouse cursor in the centre. Note that in both cases, the test on the website returned a status of

[2020-06-23 18:33] maximbaz commented on #5421
What version of qutebrowser do you use? And are you sure that you exported variables before away started? Maybe reboot just in case.

[2020-06-23 18:37] pltrz commented on #5421
yes, I've been careful about sourcing these in my `~/.bash_profile` before, and I just confirmed that the environment variables are set

[2020-06-24 07:55] The-Compiler commented on #5508
I'm assuming this is indeed a duplicate of #5279.

[2020-06-24 07:55] #5508 closed

[2020-06-24 07:56] The-Compiler commented on #5494
Closing because of inactivity - I doubt qutebrowser is to blame here, but I have to admit I have no idea why this is happening.

[2020-06-24 07:56] The-Compiler commented on #5060
I don't think there's anything qutebrowser can do here - perhaps it has gone away with newer Qt versions, though?

[2020-06-24 07:56] #5060 closed

[2020-06-24 08:27] #5532 closed

[2020-06-24 08:57] The-Compiler commented on #5391
@varagnac Can you check if you still see this with an up-to-date version of Qt/qutebrowser?

[2020-06-24 09:00] The-Compiler commented on #5311
Does anyone still see this with Qt 5.15?

[2020-06-24 09:01] The-Compiler commented on #4943
Do you still see this with qutebrowser v1.12.0 / Qt 5.15?

[2020-06-24 09:02] The-Compiler commented on #4857
How are things looking with Qt 5.15?

[2020-06-24 09:02] The-Compiler commented on #4847
Closing because of inactivity.

[2020-06-24 09:02] #4847 closed

[2020-06-24 09:03] The-Compiler commented on #4786
Closing this as I don't think there's anything qutebrowser can do here.

[2020-06-24 09:03] #4786 closed

[2020-06-24 09:04] The-Compiler commented on #1874
I *think* I've seen this happen recently.

[2020-06-24 09:06] ju-sh commented on #5527
Shall I try this? Does this also mean modifying the `bindings.default.default` keys in configdata.yml to ints?

[2020-06-24 09:06] The-Compiler commented on #5288
Closing this as an upstream issue in [QtWebEngine](https://wiki.qt.io/QtWebEngine).

I try to report bugs upstream when I can reproduce them, but unfortunately this wasn't the case here. Since I'll be unable to provide any follow-up information when being asked, could you please report the bug to the [Qt Bugtracker](https://bugreports.qt.io/secure/Dashboard.jspa) yourself (if this is still reprodu

[2020-06-24 09:06] #5288 closed

[2020-06-24 09:07] The-Compiler commented on #5028
@edrex How are things looking?

[2020-06-24 09:09] The-Compiler commented on #4766
@raelb If you still use qutebrowser, is this something you still see with an up-to-date Qt/qutebrowser version?

[2020-06-24 09:09] The-Compiler commented on #4749
@kklot Is this something you still see with up-to-date Qt/qutebrowser versions?

[2020-06-24 09:10] The-Compiler commented on #4586
@prosoitos Do you still see this with up-to-date Qt/qutebrowser versions?

[2020-06-24 09:12] The-Compiler commented on #4166
@matoruru Do you still see this with up-to-date Qt/qutebrowser versions?

[2020-06-24 09:25] kklot commented on #4749
no, it works great with v1.12.0. thanks.

[2020-06-24 09:25] The-Compiler commented on #3840
I just had a look at this again - looks like Chromium/Firefox use Shift + Wheel to scroll horizontally. With Firefox, only the y changes, but with Chromium it looks like *both* change somehow, I sometimes see `x: 53 / y: 0` and `x: 0 / y: 53` with `console.log(`x: ${event.deltaX} / y: ${event.deltaY}`);`. This is also what I see with qutebrowser FWIW.

[2020-06-24 09:31] The-Compiler commented on #3835
Looks like this was fixed at some point, not sure why/how though.

[2020-06-24 09:31] #3835 closed

[2020-06-24 09:32] The-Compiler commented on #3811
@lunaticstraydog @shizy @rislah Do you still see this with up-to-date Qt/qutebrowser versions (and `qt.force_software_rendering` not set)?

[2020-06-24 09:33] The-Compiler commented on #3794
Closing this as a duplicate of #253/#5349.

[2020-06-24 09:33] #3794 closed

[2020-06-24 09:34] The-Compiler commented on #2744
Duplicate of #3231

[2020-06-24 09:34] #2744 closed

[2020-06-24 09:35] The-Compiler commented on #2310
I don't think there's anything qutebrowser can do here - perhaps it has gone away with newer Qt versions, though?

[2020-06-24 09:35] #2310 closed

[2020-06-24 09:37] The-Compiler commented on #4749
Closing this then!

[2020-06-24 09:37] #4749 closed

[2020-06-24 09:37] #1614 closed

[2020-06-24 09:39] The-Compiler commented on #5527
Thinking about it again, I'm not sure. Having enums would be nice from a code and type safety point of view, but it would make things harder if we want to have user-defined keyboard modes (e.g. via #30) in the future. I'd rather wait a bit with this and see how things turn out.

[2020-06-24 09:41] Holzhaus commented on #5311
I'll test again next week. I installed chromium and used that to join Zoom meetings in the last weeks.

[2020-06-24 09:42] ju-sh commented on #5527
Okay, then. :+1:

[2020-06-24 09:44] The-Compiler commented on #3835
I got curious and did a quick bisect - it was a0d6e3628c3ac9b19846969a15792c43e9a6235c which fixed this!

[2020-06-24 09:49] The-Compiler commented on #3785
If we stay with `qtutils.version_check`, we should probably have some kind of enum specifying how the check should be made (instead of `compiled=True/False`) - for example, if we want to check for a QtWebEngine API, we should also check the PyQtWebEngine version...

[2020-06-24 09:57] The-Compiler commented on #4467
For `pkg_resources.parse_version`, I initially thought we could just use `tuple([int(part) for part in version.split('.')])` - however, that handles trailing zeroes differently to what we'd expect:

[code]

[code]

So, some additional normalization would be needed there - however, via #3785 I just realized we can use [QVersionNumber](https://doc.qt.io/qt-5/qversionnumber.html) instead of hand-roll

[2020-06-24 10:16] arza-zara commented on #1874
I've never seen this in normal use but I can reproduce with `:spawn xdotool key o z Down Return`.

[2020-06-24 11:08] raelb commented on #4766
Yes, the problem still exists with qutebrowser-1.12.0-windows-standalone-amd64.

[2020-06-24 11:15] The-Compiler commented on #4766
Thanks for the update! I suspect it's qutebrowser's window geometry saving/loading causing this somehow together with HighDPI, but no idea what's going wrong exactly.

[2020-06-24 11:46] The-Compiler opened #5543 "Weird font positioning/sizing in statusbar with Adwaita style"
I've recently removed `qt5-styleplugins-git`, causing Qt to use adwaita-qt instead. For some reason, the text in the statusbar sometimes is positioned weirdly, with the descenders being invisible:

![image](https://user-images.githubusercontent.com/625793/85549977-cba4b800-b620-11ea-80cf-6c4ff7ba4b8f.png)

However, when trying to do the same thing again, suddenly it looks normal again?

![image](h

[2020-06-24 12:04] The-Compiler commented on #1456
Also note that mypy has a pretty nice HTML report feature nowadays - if you run `tox -e mypy -- --html-report mypy-html` and look at `mypy-html/index.html`, you will get a list of files needing work:

![image](https://user-images.githubusercontent.com/625793/85552675-88981400-b623-11ea-9b87-472857aae054.png)

The ones marked in red are places which likely will need more work (and probably don't ha

[2020-06-24 13:03] The-Compiler commented on #5543
I think it just happens the first time the command mode is used in a newly opened window?!

[2020-06-24 13:48] The-Compiler commented on #4976
Another awesome thing to have would be check annotations ([example](https://github.com/ArniDagur/python-adblock/pull/6/files#diff-b4aea3e418ccdb71239b96952d9cddb6R254)):

![image](https://user-images.githubusercontent.com/625793/85565365-5b516300-b62f-11ea-9b69-4256276ea8d2.png)

Looks like all we need to do is [write some regex and echo a custom setup command](https://github.com/actions/toolkit/b

[2020-06-24 13:53] The-Compiler commented on #5537
I'd appreciate that! However, no hurry - no immediate plans to go back to the extension API, at least not before the PR backlog looks better.

[2020-06-24 14:59] The-Compiler commented on #5313
@petabyteboy Oh, I wasn't aware that there are people with that configuration but without any issues. That's interesting... You should be able to set `QUTE_SKIP_WAYLAND_WEBGL_CHECK=1` as environment variable to ignore the check.

[2020-06-24 15:20] lunaticstraydog commented on #3811
@The-Compiler
No, I have long since changed my config and completely forgot about this problem.
At the very least, it is but noticeable.
If nobody still has the issue, go ahead and close this.
I'll add that the point I removed qt.force_software_rendering and noticed no difference in lag was when I switched to wayland , so I've no idea if it still exist on X tbh.

[2020-06-24 16:08] shizy commented on #3811
@The-Compiler Tested with all options under `qt.force_software_rendering`, and I no longer see the issue.

[2020-06-24 16:09] The-Compiler commented on #3811
I'm assuming this was fixed in Qt at some point then!

[2020-06-24 16:09] #3811 closed

[2020-06-24 18:24] zamlz opened #5544 "Strange static and speedup in youtube and other similar sites"
**Version info**:

[code]

**Does the bug happen if you start with `--temp-basedir`?**:
yes

**Description**
Whenever I load up a youtube video, it takes about 3-20 seconds for it to stop playing audio as static. Furthermore it seems that the video itself also speeds up too. It eventually fixes itself, but if there is an ad in the video, the issue will reappear.

**How to reproduce**

youtube.com

[2020-06-24 18:32] zamlz commented on #5544
I would like to add that it seems that if I start qutebrowser from the terminal once (not using the --temp-basedir) it seems to have fixed the issue (I was curious about what gets printed out), but I'd like to confirm if it stays fixed. It seems now whenever I open qutebrowser its okay, but I'm going to check to see if it persists after a reboot.

[2020-06-24 18:35] poinck commented on #5231
@mschilli87 Yes, today was the first day I saw it working again; version **1.12.0**.

[2020-06-24 18:45] The-Compiler commented on #5544
Can you check if you can reproduce the same with KDE Falkon (and maybe Chromium as well)?

[2020-06-24 19:03] poinck opened #5545 "When qutebrowser is loaded, resume from hibernate fails (amdgpu, Qt-issue?)"
**Version info**:
qutebrowser v1.12.0
Git commit:
Backend: QtWebEngine (Chromium 77.0.3865.129)
Qt: 5.14.2 (compiled 5.14.1)

CPython: 3.7.7
PyQt: 5.14.2

sip: 4.19.22
colorama: 0.4.3
pypeg2: 2.15
jinja2: 2.11.2
pygments: 2.6.1
yaml: 5.3.1
cssutils: 1.0.2 $Id$
attr: 19.3.0
PyQt5.QtWebEngineWidgets: yes
PyQt5.QtWebEngine: 5.14.0
PyQt5.QtWebKitWidgets: yes
pdf.js: no
sqlite: 3.31.1
QtNetwork SSL: Op

[2020-06-24 19:29] The-Compiler commented on #5545
So, can you try with `--temp-basedir` (without any tabs opened)? If that works, can you try after a `:session-load` with the full path to your session file in `~/.local/share/qutebrowser/sessions`?

[2020-06-25 03:40] prosoitos commented on #4586
Ah! I am not a student anymore and I lost access to my university email address (and that's the only site where I had this problem). So unfortunately I cannot test it. Sorry!

[2020-06-25 07:50] poinck commented on #5545
I will do this when I can afford to loose my desktop session. I'll let you know. Thx for the fast reply.

[2020-06-25 09:58] The-Compiler commented on #4586
Congratulations (I assume!) :tada: Closing this then as nobody was ever able to reproduce it - still no idea what's going on there, I'm afraid.

[2020-06-25 09:58] #4586 closed

[2020-06-25 10:58] The-Compiler commented on #5545
While you're at it, it'd be interesting whether it happens with [KDE Falkon](https://www.falkon.org/) (another QtWebEngine-based browser) or with Chromium as well.

You might also want to try playing with the different `qt.force_software_rendering` option values as a workaround (note it needs a restart, or start with e.g. `qutebrowser --temp-basedir -s qt.force_software_rendering chromium`

[2020-06-25 11:18] The-Compiler commented on #5231
FWIW nothing changed in qutebrowser about this - it was a bug introduced in QtWebEngine 5.14.1 and fixed in 5.14.2.

[2020-06-25 11:19] GpGebbia commented on #5473
Hi, this only happen in archlinux. The libpng package in their repos is patched with this: https://downloads.sourceforge.net/sourceforge/libpng-apng/

I remember seeing a similar bug report about chromium, but I don't remember where. Anyway recompiling libpng without that patch seems to fix the issue.

[2020-06-25 11:43] The-Compiler commented on #5390
# RuntimeErrors during test_edit_a_command_and_run_it cleanup

https://travis-ci.org/github/qutebrowser/qutebrowser/jobs/701738792

[code]

[2020-06-25 11:53] GasparVardanyan opened #5547 "'isolated' window support"
I want to have an 'isolated' qutebrowser window, where I can for example play a music video, but when there is only that 'isolated' window and I opel urls, for example from terminal or with xdg-open, I want to get opened that urls in another qutebrowser window, not in the 'isolated' one.

[2020-06-25 11:54] The-Compiler commented on #5473
@GpGebbia Ah, thanks for the pointer! I reported it to Arch: https://bugs.archlinux.org/task/67105

[2020-06-25 11:54] #5473 closed

[2020-06-25 11:55] GasparVardanyan commented on #5547
P.S. Sorry if already there is a some feature like that, but I don't know.

[2020-06-25 11:57] The-Compiler commented on #5547
You're looking for the `--basedir` commandline argument (or `--temp-basedir`).

[2020-06-25 11:57] #5547 closed

[2020-06-25 12:13] The-Compiler commented on #5279
@toofar Thanks for that awesome investigation :heart: It looks like it's too late to get a fix for Qt 5.14, and at this point I'm not sure if what we're seeing on Qt 5.15 is in fact the same bug (it looks like that's *not* the case?).

Thus, I'd like to find a workaround for Qt 5.14 users. Indeed nuking the service worker directory might be a solution, but it's a quite aggressive one (and also som

[2020-06-25 12:19] GasparVardanyan commented on #5547
Thank you. --temp-basedir helped me, now I have another question: how can I set qutebrowser's 'instance' xorg property (the first value in WM_CLASS(STRING)).

[2020-06-25 12:23] The-Compiler commented on #5547
You can use `--qt-flag name ...`, see point 19 in the [FAQ](https://github.com/qutebrowser/qutebrowser/blob/master/doc/faq.asciidoc).

[2020-06-25 12:35] GasparVardanyan commented on #5547
But --temp-basedir doesn't load my configs, cache (( I want an 'isolated' qutebrowser window, where I can play youtube music videos form my youtube account which I have logged in in normal qutebrowser session.

[2020-06-25 12:44] The-Compiler commented on #5547
You can instead use `--basedir` to point to a separate directory, and then log in there again (and e.g. symlink your config).

[2020-06-25 12:46] ninewise commented on #5547
I'm getting the impression you don't actually want an isolated environment, just a separate window. With `:set new_instance_open_target_window first-opened` you can start qb, open a new window, and URLs opened from elsewhere would still go to the first window.

[2020-06-25 12:56] GasparVardanyan commented on #5547
But what if I have opened only the 'isolated' window?

[2020-06-25 12:59] GasparVardanyan commented on #5547
@The-Compiler sorry for disturbing so much ))
I've done this:
[code]
Is everything done right?

[2020-06-25 13:01] The-Compiler commented on #5547
@GasparVardanyan QtWebEngine won't support symlinking the cache and data, so this might cause data corruption. I'd recommend only symlinking the config (ideally a `config.py`).

[2020-06-25 13:23] GasparVardanyan commented on #5547
I've just wanted a qutebrowser window, with different 'instance' property, which wouldn't accept url requests from outside.
So the exact situation is: I use the dwm window manager, with [namedscratchpeds](https://dwm.suckless.org/patches/namedscratchpads/) patch, and I'm trying to have a keybinding to show/hide an 'isolated' qutebrowser window, for playing youtube videos and other stuff, like I ha

[2020-06-25 17:56] FLHerne commented on #1874
This still occurs sometimes, but seems less common than at the time I reported it. Then it occurred 100% of the time when typing particular entries without consciously pausing to let the completion catch up; now it's a very intermittent glitch.

[2020-06-25 19:16] The-Compiler opened #5548 "Wayland: Protocol error when opening select dropdown via hints when one is open already"
Test page: https://qutebrowser.org/bug-tests/select.html

On Wayland, select the first box via hints, then the second one. QtWebEngine with Qt 5.15.0 and qutebrowser v1.12.0.

Hinting first select box:

[code]

Hinting second select box:

[code]

Crash:

[code]

[2020-06-25 19:56] prosoitos commented on #4586
Yes, no point keeping an issue open for something that isn't affecting anyone :smile:

[2020-06-25 23:03] Shaaah commented on #4724
Finally figured it out when messing with sessions.

Steps to reproduce :

1. \# qutebrowser --basedir ~/.local/test
2. :set auto_save.session = true
3. :open -w twitter.com
4. :session-save 1
5. :q
6. :open reddit.com
7. :q
8. \# qutebrowser --basedir ~/.local/test
9. :session-load 1
10. You land on reddit.com instead of twitter.com

There are two ways around this :

- set auto_save.session = fals

[2020-06-26 08:18] maxime-michel opened #5549 "Opening a private session while in fullscreen mode no longer opens a new tab"
**Version info**:
qutebrowser v1.12.0
Git commit: eaff6e82d (2020-06-01 15:57:24 +0200)
Backend: QtWebEngine (Chromium 80.0.3987.163)
Qt: 5.15.0

**Does the bug happen if you start with `--temp-basedir`?**: Yes

**Description**
On OS X, I've always run one single window of qutebrowser, in which I was able to have, first, my regular session. Once in fullscreen mode, I could then open a private sess

[2020-06-26 08:27] The-Compiler commented on #5549
This functionality isn't coming from qutebrowser - it always opens a new *window* with `:open -p`, so it must be something in macOS (or Qt) grouping them (like you say, *That wasn't a qutebrowser tab, but a tab above that.*).

I don't think there's anything that changed in qutebrowser about this either, it's more likely to be something in the Qt 5.15 update done in qutebrowser v1.12.0 which causes

[2020-06-26 08:42] maxime-michel commented on #5549
Thanks for the help, I was afraid this had to do with Qt and is therefore out of your control. This is what it used to look like. `:open -w` yields the same result.

<img width="1280" alt="tabs-of-tabs" src="https://user-images.githubusercontent.com/14178626/85838310-aa1b0c00-b799-11ea-8bb3-11585b902ce3.png">

[2020-06-26 08:47] The-Compiler commented on #5549
That's a quite nice feature, though! I had a quick look through the Qt bugtracker, and didn't find anything relevant. Maybe someone who knows more about macOS has an idea what's going on? @koekeishiya or @rien333 perhaps?

[2020-06-26 10:10] The-Compiler commented on #4724
@Shaaah The steps above still load Twitter for me. Only when quitting/loading a second time, Reddit is loaded, because by default, `auto_save.session` saves to the session which was last loaded. Is this the same you're seeing (in which case your steps above are incorrect)?

[2020-06-26 10:16] The-Compiler commented on #5547
So to have a different instance in `WM_CLASS` , you will need to pass a separate qutebrowser instance, because Qt only supports setting that value globally (that also means you can't just spawn a separate window in an existing instance, like @ninewise suggested).

To spawn a separate qutebrowser instance, its data and cache need to be separate from the existing instance, because that's what Chromi

[2020-06-26 11:51] user202729 opened #5550 "Lastpass fill userscript duplicate choices if `-m` is provided"
**Version info**:
Latest master.

**Does the bug happen if you start with `--temp-basedir`?**:
Likely yes.

**Description**
If the `qute-lastpass` userscript is spawn with `-m` flag, and there are both candidates for *the current domain* and *some subdomains of the current domain*, then some entries will be listed twice.

Possible fix: (note that the same issue might happen for other password fill

[2020-06-26 11:54] The-Compiler opened #5551 "Minimal sqlite version"
For qutebrowser v2.0.0, we should investigate what the minimal sqlite version we want to support is. This would allow us to use certain features like `UPSERT`.

This was mainly prompted by #5481, relevant parts:

- https://github.com/qutebrowser/qutebrowser/pull/5481#discussion_r434519355
- https://github.com/qutebrowser/qutebrowser/pull/5481#issuecomment-642064455
- 34df9f8987b7df58bc857c8b062888

[2020-06-26 11:57] The-Compiler commented on #5550
cc @welps

[2020-06-26 14:16] rien333 commented on #5549
Nope, sorry, I don't even remember using this feature in macOS. Which macOS version are you on? (I haven't really used it in almost two years).

Aside from delving deep into the Qt side of things, you could try altering your work flow, I guess.  iirc, qutebrowser can fake fullscreen (even on macOS), which would allow you to have to have two windows on the same space you could then cycle between. O

[2020-06-26 14:30] welps commented on #5550
Hi, you can assign to me and I will take a look.

[2020-06-27 02:00] toofar commented on #5279
The original source has try/catches around both steps so you wouldn't have got that error there. But that flag makes it not crash for me on `https://www.epicgames.com/store/en-US/product/old-world/home` (after deleting `data/webengine/`, starting up and loading that page, :wq, then open again, on both a release and debug build of 5.14.2).

[2020-06-27 09:37] matoruru commented on #4166
No! I didn't got now with version v1.12.0

[2020-06-27 18:51] maxime-michel commented on #5549
I am running 10.15.5, which is latest, and have been on 10.15.x since March, way before 1.12 (June 1st) came out. So it would have to be Qt. Well, I'll deal with it. Should I leave this issue open?

[2020-06-28 19:29] edrex commented on #5028
not using qutebrowser regularly atm, so I'll just close this. thanks for the ping.

[2020-06-28 19:29] #5028 closed

[2020-06-28 20:59] siggines opened #5553 "Esc as functional input key"
Is there a way to use Esc as function key, for example to close an image preview on a website. Without entering normal mode.

For instance shift-esc to stay in insert mode but use the key.

Sorry if this is already a feature that I don't know about.

[2020-06-28 21:01] The-Compiler commented on #5553
You can either use passthrough mode (ctrl-v), or do something like `:bind --mode=insert <Shift-Escape> fake-key <Escape>`

[2020-06-28 21:01] #5553 closed

[2020-06-28 22:21] maximbaz commented on #5421
For reference, created the following bug to find a way to compile QtWebEngine with PipeWire support: https://bugreports.qt.io/browse/QTBUG-85309

Once we have a build parameter to enable PipeWire (or at least a merged patch that we will backport to Qt 5.15, since it seems to be a small patch), we will enable this in the Arch package and getting screenshare under Wayland will become a little easier

[2020-06-29 08:41] #5279 closed

[2020-06-29 08:46] The-Compiler commented on #5279
Hm, right - not sure what I was testing wrong, but indeed `--qt-flag disable-shared-workers` *does* help. I just pushed a commit which adds that automatically if on Qt 5.14. I'm not sure yet what's going on exactly on Qt 5.15, but it does look like it's not really this issue.

Thanks again everyone for testing, and @toofar for digging into the details!

[2020-06-30 02:05] lufte commented on #5551
I took a look at the features provided by the releases since 3.24.0 (where `UPSERT` is introduced) to the latest. Here's what I think could be of any use to qutebrowser:
1. `UPSERT` in 3.24.0.
2. Window functions in 3.25.0.
3. `FILTER` clause for aggregate functions and `NULLS FIRST/LAST` support for `ORDER BY` in 3.30.0.
4. "Generated columns" in 3.31.0.

Frankly, I don't think `UPSERT` is such a

[2020-06-30 06:41] The-Compiler commented on #5551
I vaguely remember also needing some changes in another pull request because of the older sqlite version - I don't remember what that was exactly, though, and I can't find it from a quick search...

[2020-06-30 11:13] transferkraM commented on #5461
This is an issue especially if qutebrowser crashes with an incognito window open (happens to me quite often with press/media pages in incognito mode).

1. open press/news page incognito
2. qutebrowser crashes
3. report yes/no
4. restart
5. all sites from incognito are now opened in a non-incognito window
6. e.g. thousands of cookies to manage/delete

I'd like to think about a raise of priority in

[2020-06-30 11:35] The-Compiler commented on #5461
@transferkraM See #3979

[2020-06-30 11:52] rcorre commented on #5551
I hadn't realized UPSERT was a recent sqlite feature when I suggested it, I agree it isn't worth bumping the minimum version for.

[2020-06-30 12:43] lufte commented on #5551
It could be #4403, but we are talking about the same thing: `UPSERT` for frecency.

https://github.com/qutebrowser/qutebrowser/pull/4403/files#diff-b171c554543e2419a0e422c8ca89c7d7R414

[2020-06-30 13:01] Vonfry commented on #5340
MacOS:
[code]
Save the below script into a file and add that path into `/etc/paths` if you want to start qutebrowser from GUI.

And then `[ '<script name>', 'nvim', '{file}' ]` open file with nvim in iterm.

[2020-06-30 13:08] The-Compiler commented on #5551
FWIW 'recent" is a relative term - sqlite 3.24.0 is over 2 years old now, and usually only was an issue with Ubuntu 16.04. In April 2021, that will be out of support - and when we drop older Python/Qt versions (#4800, #3839), Ubuntu 16.04 users will have other incompatibilities as well.

[2020-06-30 16:09] The-Compiler opened #5555 "Make Pygments an optional dependency?"
Pygments is only used in two non-essential places:

- `:view-source` with `--pygments` or with QtWebKit
- `qute://configdiff/old`

For v2.0.0, it might be a good idea to move it to an optional dependency?

[2020-06-30 19:34] Holzhaus commented on #5311
Zoom now works fine for me with Qt 5.15.0 and qutebrowser 1.12.0.

[2020-06-30 19:37] The-Compiler commented on #5311
Cool! Assuming this was fixed somewhere in QtWebEngine/Chromium then. If anyone still sees this with Qt 5.15, please holler!

[2020-06-30 19:37] #5311 closed

[2020-06-30 22:12] petabyteboy commented on #5313
This environment variable allows me to enable WebGL again, and I was able to run all tested WebGL workloads without any issues.

[2020-07-01 00:24] Al-Caveman opened #5557 "`set -t content.proxy` takes 2-5 seconds to apply"
**Version info**:
qutebrowser v1.12.0
Git commit:
Backend: QtWebEngine (Chromium 80.0.3987.163)
Qt: 5.15.0

CPython: 3.7.8
PyQt: 5.15.0

sip: 4.19.23
colorama: 0.4.3
pypeg2: 2.15
jinja2: 2.11.2
pygments: 2.6.1
yaml: 5.3.1
cssutils: 1.0.2 $Id$
attr: 19.3.0
PyQt5.QtWebEngineWidgets: yes
PyQt5.QtWebEngine: 5.15.0
PyQt5.QtWebKitWidgets: no
pdf.js: no
sqlite: 3.31.1
QtNetwork SSL: OpenSSL 1.1.1g  21 Ap

[2020-07-01 06:08] mschilli87 commented on #5555
I'm always in favour of dropping dependencies.
Personally, I'd still need Pygments though for docutils which is a dependency of SSHFS.
So I'm not sure how many people could actually drop a package from their system due to this change.
Especially given that unlike Gentoo (where docutils is also pulled in by the default `eselect` package unless one sets `USE=-doc`), most distribution would probably

[2020-07-01 06:58] gslav commented on #3832
**Version info**:
[code]
**Does the bug happen if you start with `--temp-basedir`?**:
yes

**Description**
Again the application.name and sink name of qutebrowser (QtWebengine) are called "Chromium" and not "qutebrowser".
Can be solved on qutebrowser side?

`pacmd list-sink-inputs` :

[code]

[2020-07-01 08:38] The-Compiler commented on #3832
@gslav Nothing qutebrowser can do, as far as I know - but I opened [[QTBUG-85363] [REG 5.13 -> 5.14] QtWebEngine is listed as "Chromium" in PulseAudio - Qt Bug Tracker](https://bugreports.qt.io/browse/QTBUG-85363).

[2020-07-01 08:47] The-Compiler commented on #5557
That delay is coming from QtWebEngine or Chromium, and there's no way for qutebrowser to know when it has been applied. Something might change with #2492 when qutebrowser changes how proxy support is implemented, but other than that, there's little qutebrowser can do. I'll add a note to the docs, though.

[2020-07-01 08:49] #5557 closed

[2020-07-01 13:35] #5440 closed

[2020-07-01 14:05] AckslD opened #5558 "Running asciidoc2html.py from outside folder"
**Version info**:
qutebrowser v1.13.0
Git commit: 6e9f24bc8-dirty on master (2020-07-01 15:34:57 +0200)
Backend: QtWebEngine (Chromium 80.0.3987.163)
Qt: 5.15.0

**Does the bug happen if you start with `--temp-basedir`?**:

**Description**
If one runs `scripts/asciidoc2html.py` (or `script/mkvenv.py`) outside of the folder, this fails since the path are not relative to the root of the repo.

**How

[2020-07-01 19:49] marvinborner commented on #4320
Yep. I solved it with this non-portable and probably extremely dumb method of replacing the `/usr/bin/qutebrowser` script with the following:

[code]

[2020-07-01 19:51] programandala-net opened #5560 "Multiple placeholders for the search engines"
Currently the search engines support only one placeholder. Sometimes that is a limitation. For example, in order to search Wikipedia in different languages, several configurations are required:

[code]

Other browsers I use a lot, Elinks and Vimb, support 10 placeholders, what is very useful.

Elinks has a placeholder for the whole argument, `%s`, but also `%0`..`%9` for individual arguments (sepa

[2020-07-02 07:52] The-Compiler commented on #4320
@marvinborner FWIW to make this a bit more portable, you can use `os.path.expanduser('~/...')` to get the paths.

I thought about adding a similar workaround inside qutebrowser, but I don't feel comfortable with running the equivalent of `rm -r` on folders in the user's home directory which aren't clearly attributable to qutebrowser. I think the risks of adding such a workaround are bigger than th

[2020-07-02 08:38] The-Compiler commented on #3832
Turns out I was wrong, there are `PULSE_PROP_OVERRIDE_*` environment variables which can be set by qutebrowser and will be inherited by the `QWebEngineProcess` subprocesses actually playing the audio. This is now done in 7d388163106b4efa07b13ee515e0534a43cd6510.

[2020-07-02 09:24] rien333 commented on #3832
Neat!

On a vaguely related note, is there anyway to rename the media player name as shown by MPRIS? `playerctl` still lists it as chromium (I hoped that would've changed with this commit)

[2020-07-02 09:33] bitraid commented on #5244
I've created a proper implementation that correctly outputs both stdout and stderr (and also shares stdin, so the GUI app can access data sent by a shell pipe), without any requirement from the GUI app. It is written in 32-bit assembly language and only uses low level WinAPI calls to `kernel32.dll`. The launcher also handles `CTRL-C`, where it terminates the launched app and closes open handles. T

[2020-07-02 10:00] The-Compiler commented on #3832
@rien333 Looks like that one is hardcoded in Chromium :worried: https://source.chromium.org/chromium/chromium/src/+/master:components/system_media_controls/linux/system_media_controls_linux.cc;l=162-166;drc=e31f2d43649586f3fb71f52098f66bb1c19d1b8a

[2020-07-02 20:48] The-Compiler commented on #4976
I did some pair programming with @RJ722 today and we managed to *mostly* get things running on GitHub Actions (though it took us some 9 hours...). :tada: Now GitHub Actions is running in parallel to Travis/AppVeyor, with some problematic environments still remaining there until we get around to also porting them.

What works:

- [x] Linters
- [x] Problem matchers for all linters showing a filename

[2020-07-02 21:10] lufte opened #5562 "Block auto refresh"
I'm wondering if it's possible to block auto refresh/redirect techniques like `<meta http-equiv="refresh" content="5; url=http://example.com/">` or the `Refresh` HTTP header. Firefox has a setting for this, `accessibility.blockautorefresh`, but I haven't been able to find an equivalent in Chromium (I haven't checked Webkit).

In the case the web engines don't support this, is there a way for me to

[2020-07-02 21:51] Gavinok opened #5563 "Drag and drop leaving artifacts"
**Version info**:

qutebrowser v1.12.0
Git commit:
Backend: QtWebEngine (Chromium 80.0.3987.163)
Qt: 5.15.0

CPython: 3.8.3
PyQt: 5.15.0

sip: 5.3.0i
colorama: 0.4.3
pypeg2: 2.15
jinja2: 2.11.2
pygments: 2.6.1
yaml: 5.3.1
cssutils: no
attr: 19.3.0
PyQt5.QtWebEngineWidgets: yes
PyQt5.QtWebEngine: 5.15.0
PyQt5.QtWebKitWidgets: yes
pdf.js: no
sqlite: 3.32.2
QtNetwork SSL: OpenSSL 1.1.1g  21 Apr 2020

[2020-07-02 21:54] Gavinok commented on #5563
Sorry the gif was a bit too big ill post a link to it

[2020-07-02 22:06] lufte commented on #4006
@The-Compiler I just ran into this. Does the issue exist after all? I also couldn't find it.

[2020-07-02 22:08] Gavinok commented on #5563
sorry for the delay here is the [link](https://drive.google.com/file/d/1qk34IVvzoDabgL852qD7mUxrCL3Q6eA6/view?usp=sharing)

[2020-07-03 02:37] LiteracyFanatic opened #5564 "devtools network tab crashes"
**Version info**:

qutebrowser v1.13.0
Git commit:
Backend: QtWebEngine (Chromium 80.0.3987.163)
Qt: 5.15.0

**Does the bug happen if you start with `--temp-basedir`?**:
Yes.

**Description**
Since the most recent update, using the network tab of the devtools causes qutebrowser to crash. This happens with both the embedded and standalone window.

**How to reproduce**

1. Open the devtools.
2. Swit

[2020-07-03 06:38] The-Compiler commented on #5564
Duplicate of #5513

[2020-07-03 06:38] #5564 closed

[2020-07-03 07:12] The-Compiler commented on #5563
Huh, that's weird. For reference, here's a screenshot from the GIF:

![image](https://user-images.githubusercontent.com/625793/86441930-39ca3880-bd0d-11ea-9746-27f3aa0c82ea.png)

I can't reproduce though, and I doubt qutebrowser is to blame. What window manager are you using? Also, can you try whether this is reproducible with [KDE Falkon](https://falkon.org/) and/or Chromium?

[2020-07-03 07:49] The-Compiler commented on #5562
The only place I can imagine being relevant is `WebEnginePage.acceptNavigationRequest` which gets handled in `_on_navigation_request` in `browser/browsertab.py` (and the backend-specific `browser/webengine/webenginetab.py` / `browser/webkit/webkittab.py`).

Trying with http://www.isthe.com/chongo/tech/comp/cgi/index.html, I get:

[code]

But I'm not sure what other types of redirects this will inc

[2020-07-03 07:49] #5562 closed

[2020-07-03 08:09] ykonstant1 opened #5565 "Statusbar error on start"
**Version info**:
The package comes from the arch linux main repo.  Details:

[code]

**Does the bug happen if you start with `--temp-basedir`?**:

No.

**Description**
When I run qutebrowser, I get the message:
```set: NoOption error: No option statusbar.hide```

**How to reproduce**

I had the previous version of Qutebrowser with the ```statusbar.hide``` option set via the console; when it updat

[2020-07-03 08:17] The-Compiler commented on #4006
@lufte Nope, but I think it's the same underlying issue as this one.

[2020-07-03 08:35] The-Compiler commented on #5565
Can you do `:report` so I can take a look at the logs?

[2020-07-03 09:04] ykonstant1 commented on #5565
I did a report, scanned its contents and realized there was no error; I was the one who had a bad setting: I had aliased qutebrowser with ```qutebrowser -s statusbar.hide=true``` in my ```.zshrc``` and had forgotten about it.  So the new version was passed an unknown option and complained.

[2020-07-03 09:06] The-Compiler commented on #5565
Ah, that explains it! I'd recommend setting that via `:set` or a `config.py` instead, see the [configuration docs](https://github.com/qutebrowser/qutebrowser/blob/master/doc/help/configuring.asciidoc).

[2020-07-03 09:06] #5565 closed

[2020-07-03 09:10] #5558 closed

[2020-07-03 09:14] The-Compiler commented on #5524
Taking the freedom to rename this issue a bit, as I don't think this would be related to `input.insert_mode.auto_enter` - the existing `auto_enter` setting controls whether insert mode is entered when an element supporting it is clicked, while that wouldn't be the case for passthrough mode.

One possible solution for this would be autocmds (#35), though I suppose a setting would make things easier

[2020-07-03 17:06] The-Compiler commented on #4976
I think we can consider that finished, I just pushed another bunch of changes:

- 65a610c3b tests: Widen disable-bpf-sandbox argument
- 820c3e30d ci: Upload coverage via GitHub Actions
- 7f1ced0e4 ci: Set up nightly Python
- 86ef7641b ci: Try PyQt 5.7 again
- 517858ddd ci: Set up caching
- a8d12c882 ci: Add CodeQL to ci.yml
- 6b77e1af9 ci: Add Windows/macOS
- 9b55bb2f4 ci: Use python instead of py

[2020-07-03 17:06] #4976 closed

[2020-07-03 17:23] The-Compiler commented on #4976
Oh, just as a data point: On Travis, a full CI run took around 45 minutes. On GitHub Actions, that's down to around 20-25 minutes, with linting results being available after only a minute or so.

[2020-07-03 17:46] The-Compiler opened #5566 "Qt 5.15 session workaround doesn't restore correct page after going back"
It always takes the last page in the history, rather than the current index.

[code]

[2020-07-03 20:15] The-Compiler opened #5567 "GitHub Actions: Install newer shellcheck?"
We get v0.4.6 from March - might be a good idea to use their precompiled binary instead of the pre-installed one?

[2020-07-03 20:36] Gavinok commented on #5563
@The-Compiler this issue does not seem to exist in Chromium. I am using dwm, I will try this in a different window manager and see if it persists.

[2020-07-03 20:49] mschilli87 commented on #5567
I am using 0.7.1 locally and did not encounter any issues so far.

[2020-07-04 01:37] olmokramer commented on #3840
Hmm I'm not sure this is fixed, because I'm consistently getting the behaviour I described in the issue in Chromium, while QuteBrowser still behaves differently: in Chromiumn I get a nonzero `deltaY` (and a zero `deltaX`) when scrolling with the Alt key pressed, while in QuteBrowser I get a nonzero `deltaX` (and a zero `deltaY`).

[2020-07-04 06:26] user202729 commented on #5560
Use a userscript:

`:spawn -u -m /bin/bash -c 'echo "open http://$0.wikipedia.org/wiki/$1" > $QUTE_FIFO' en 1`

`set-cmd-text -s ` + `bind` or `aliases` can be used too.

[2020-07-04 17:46] Unknow0059 opened #5568 "Does not start"
**Version info**:
1.13 version. The latest one. Can't check, cuz you know, it doesn't start, so flags don't work.
I updated from 1.12 to see if the issue would disappear, but it did not.

**Does the bug happen if you start with `--temp-basedir`?**:
Yes.

**Description**
Does not start.
In ProcessHacker, qutebrowser shows up in the log as a program that was started but is then closed immediately.
!

[2020-07-04 21:17] toofar commented on #5568
Can you try using this to get log output from qutebrowser?: https://github.com/qutebrowser/qutebrowser/issues/5244#issuecomment-652900376
So extract that .com file into the same folder as the qutebrowser binary, drag the .com into a cmd.exe window and add `-T --debug` on the end. Maybe it'll print out a reason.

[2020-07-04 23:29] Unknow0059 commented on #5568
@toofar
![image](https://user-images.githubusercontent.com/25656892/86522495-05519c00-be35-11ea-8046-f2df4b940b0c.png)
I had to download the file by using wget because my chromium-based browser did not allow me to download it.

[2020-07-05 05:45] rememberYou commented on #5252
I have exactly the same problem, has anyone managed to find a solution to solve it?

[2020-07-05 06:39] ykonstant1 commented on #5509
I finally managed to open a bug report at the Qt bug tracker.

https://bugreports.qt.io/browse/QTBUG-85433

We'll see.

[2020-07-05 08:15] bitraid commented on #5568
It's a false positive - I'll look into it. Out of 72 AV engines in VirusTotal, 4 (including Microsoft) "think" it's some kind of trojan: [link](https://www.virustotal.com/gui/file/f7998c04494e5c51a01ddb5186a6d237b35e556e28f7cda3f01f199ac2cae34e/detection)
It's very easy to compile the source if you don't trust the binary: just download [fasm](https://flatassembler.net/) and run `fasm conwrap.asm q

[2020-07-05 09:11] Unknow0059 commented on #5568
@bitraid I compiled directly into the qutebrowser dir, because it was still being recognized as a virus.
And I can't run it anyway, because of that.
![image](https://user-images.githubusercontent.com/25656892/86529344-65bcf980-be86-11ea-8e4b-bab569b212ae.png)

[2020-07-05 09:15] bitraid commented on #5568
Yes, you have to add an exception. Also, the name must be `qutebrowser.com` and not `conwrap.exe`.

[2020-07-05 09:26] Unknow0059 commented on #5568
I recompiled with the correct name before replying and it had made no difference.
I can't exclude the file from Windows Defender because it fails to open the file because ""it has a virus".

[2020-07-05 09:32] bitraid commented on #5568
https://support.microsoft.com/en-us/help/4028485/windows-10-add-an-exclusion-to-windows-security

[2020-07-05 09:41] Unknow0059 commented on #5568
You did not believe my description. Here is evidence:
![animation](https://user-images.githubusercontent.com/25656892/86529858-8e46f280-be8a-11ea-9b8b-16c99de21f25.gif)

[2020-07-05 09:44] bitraid commented on #5568
Add the whole directory. Then compile in it.

[2020-07-05 09:58] Unknow0059 commented on #5568
![image](https://user-images.githubusercontent.com/25656892/86530172-db2bc880-be8c-11ea-96f1-e4bf750eab64.png)

Unfortunately nothing came out of it.

[2020-07-05 11:44] bitraid commented on #5568
Can you run `echo %errorlevel%` right after `qutebrowser.com`, and see what number it returns?

[2020-07-05 12:07] Unknow0059 commented on #5568
It returned `9009`.

[2020-07-05 16:02] bitraid commented on #5568
That’s strange. From what I see from your log, qutebrowser doesn’t get the chance to do anything. The process exits right after `ntdll.dll` and nothing else is loaded. Are you able to run an older version?

[2020-07-05 17:00] bitraid commented on #5568
So it's not the full log of  `qutbrowser.exe` process?

[2020-07-05 18:58] cpixl opened #5569 ""Unknown error while getting elements" error when option qt.process_model is process-per-site"
**Version info**:
qutebrowser v1.12.0
Git commit:
Backend: QtWebEngine (Chromium 80.0.3987.163)
Qt: 5.15.0 (compiled 5.13.2)

**Does the bug happen if you start with `--temp-basedir`?**:
Yes.

**Description**
When the option `qt.process_model` is set to `process-per-site`, the default `f` keybind doesn't always work.

**How to reproduce**
1. Run `qutebrowser  --base-tempdir --set qt.process_model

[2020-07-06 00:23] lufte commented on #5562
Awesome, that worked. Thanks!

In my case `navigation_type` is `'other'`, which definitely makes it impossible to add a setting to block these types of redirects. But anyway, a bit of hacking in `config.py` was enough to to block them in this particular site at least. I'll leave the code in case someone wants to do something similar.

[code]

[2020-07-06 00:46] Unknow0059 commented on #5568
I'm gonna try a version older than 1.12 and 1.13.

Included is the point at which the process is first mentioned, and at which it is last mentioned.
Everything else is not at all related to `qutebrowser.exe`, because it either hadn't started yet, or had already exited. Thus I did not include it in the log.
The last point at which it is mentioned is in the path of core.exe.
(...)
I have tried to ru

[2020-07-06 05:09] bitraid commented on #5568
Before capturing a log with ProcessMonitor, you should first add a filter where you set: "Process Name" "is" "qutebrowser.exe" "then" "include". Make sure the default exclusion list is selected - this way only qutebrowser will be captured. Save and post the whole log - don't select individual items.

[2020-07-06 07:23] toofar commented on #5569
Nice work finding a reproducer. I use that setting and have seen it occasionally (on 5.14.2) when I have lots of github tabs open. I'm also seeing a `TypeError: Cannot read property 'webelem' of undefined`. I think that is from when HintManager calls `webelem.css_selector()` because there is no `window._qutebrowser`. It seems something to do with the redirect from ddg bang, I'm not even seeing whe

[2020-07-06 08:01] The-Compiler commented on #5569
@toofar `window._qutebrowser` gets set from `qutebrowser/javascript/global_wrapper.js`, which is applied in `qutebrowser.utils.javascript.wrap_global()`, and that gets called in `qutebrowser.browser.webengine.webenginetab._WebEngineScripts.init` (which then uses `_inject_early_js`, which uses `QWebEngineScript`).

[2020-07-06 08:05] The-Compiler commented on #5569
And FWIW I think your analysis is correct, as shown by `:jseval --world application '_qutebrowser' in window` - that shows true initially, but false after that `!g test` call. Smells like a QtWebEngine bug to me though...

@toofar Are you also running with `qt.process_model process-per-site`?

[2020-07-06 08:20] toofar commented on #5569
Yep, an effort to reduce memory usage from back when I had less.

But that only gets called when a tab gets instantiated right? What about when you navigate somewhere? Don't we expect the `window` object to be a fresh instance after the navigation? I'm missing something because it clearly works most of the time.

[2020-07-06 09:41] The-Compiler commented on #5569
`QWebEngineScript` takes care of injecting the script for every visited page (hence why I believe this is a QtWebEngine bug). This is similar to how the Greasemonkey support works for Qt 5.9+, where Qt takes care of injecting the script based on the Greasemonkey comments, except it always gets injected if there is no such comment.

[2020-07-06 12:09] The-Compiler commented on #5568
I built a build with PyInstaller's debug logging enabled - hopefully that'll print something interesting to tell us what's going on. Could you give that a try, @Unknow0059? https://qutebrowser.org/tmp/debug

[2020-07-06 12:55] The-Compiler commented on #3840
Hm, you're right - looks like I confused myself when trying to scroll with my Trackpoint. I tried again with a real mouse wheel, and indeed things behave like you describe. However, I doubt qutebrowser can do anything about this without QtWebEngine implementing horizontal mouse-wheel scrolling upstream. Should probably open a bug about that upstream, though.

[2020-07-06 13:03] The-Compiler commented on #5563
Thanks for the update! Would be good if you could try with Falkon as well.

[2020-07-06 13:20] The-Compiler commented on #1864
Note that some commands also would need to get the "hinted element" (or maybe just run against the focused element) to be usable via hints - for example, `:open-editor`.

[2020-07-06 13:45] #5567 closed

[2020-07-06 13:51] The-Compiler commented on #5494
Looks like @tjulioh is seeing the same in https://github.com/qutebrowser/qutebrowser/discussions/5561, apparently on Windows too. Still no idea what could be going on here, but I guess I should report a bug upstream.

[2020-07-06 14:04] Unknow0059 commented on #5568
qutebrowser started fine in the debug build.
I can confirm that the normal build still does not start.
This is the log, but I suspect it's nominal:
[qtblog.txt](https://github.com/qutebrowser/qutebrowser/files/4879388/qtblog.txt)

[2020-07-06 14:57] The-Compiler commented on #5568
There might have been some changes in PyInstaller in the meantime - qutebrowser is currently using the PyInstaller development branch, since it needs some Qt fixes in there which haven't made it into a PyInstaller release yet...

I just uploaded regular non-debug builds to https://qutebrowser.org/tmp/debug/ - do those work as well?

[2020-07-06 15:55] Unknow0059 commented on #5568
Neither non-debug build worked.

[2020-07-06 15:57] phrxmd commented on #5524
I would also be happy if I could have a facility to load *all* URLs in passthrough mode by default.
I use Qutebrowser as a Rambox/Franz/Station replacement (essentially as the interface to a fixed number of web clients of popular messengers), so there is not much loading/closing/manipulation of tabs, it's essentially all about entering, copying and pasting text. For that, it would be convenient to

[2020-07-06 15:58] The-Compiler commented on #5524
@phrxmd FWIW you can probably launch something like `qutebrowser --basedir ... ':later 100 enter-mode passthrough'` for that.

[2020-07-06 15:59] The-Compiler commented on #5568
Huh, that is weird. So the debug builds worked, but the non-debug ones don't start at all, correct? I'm a bit out of ideas at this point...

[2020-07-06 16:02] phrxmd commented on #5524
@The-Compiler Thanks, that's very neat, but it works only for the tab that is open on startup, not for all other tabs (I launch my qutebrowser-messenger instance with a number of fixed tabs for all the messengers I'm using) :)

[2020-07-06 16:03] The-Compiler commented on #5524
@phrxmd Ah, right. It should work if you set `tabs.mode_on_change` to `persist`, though!

[2020-07-06 16:05] phrxmd commented on #5524
@The-Compiler it does, thanks!

[2020-07-06 16:51] The-Compiler commented on #2377
FWIW with Qt 5.15.1 it should become possible to enable QUIC: https://codereview.qt-project.org/c/qt/qtwebengine/+/305819

[2020-07-06 16:55] The-Compiler commented on #5549
@maxime-michel It would need to be an example which actually shows multiple windows in full-screen. Not sure if anything suitable exists inside the Qt examples.

[2020-07-06 17:28] McFranko opened #5574 "Qutebrowser not sending audio output to blueman/bluetooth headphones"
When I connect my bluetooth headphones via blueman, the audio output of qutebrowser still goes through my speakers. When I use firefox, the audio just automatically goes through my bluetooth headphones, so I know that my headphones and bluetooth are working.
I am on Debian Testing and am using i3-gaps.

[2020-07-06 17:30] The-Compiler commented on #5574
What about other applications? Could you try e.g. [KDE Falkon](https://www.falkon.org/)? If you use Pulseaudio, what does e.g. `pavucontrol` say?

[2020-07-06 17:31] The-Compiler commented on #5545
@poinck Did you get a chance to test this?

[2020-07-06 17:31] The-Compiler commented on #5544
@zamlz Any update on this?

[2020-07-06 17:31] The-Compiler commented on #5391
@varagnac Gentle ping :wink:

[2020-07-06 21:18] mdtusz opened #5575 "Devtools `Esc` keypresses ignored"
**Version info**:

qutebrowser v1.13.0
Git commit:
Backend: QtWebEngine (Chromium 80.0.3987.163)
Qt: 5.15.0

**Description**

When opening a "docked" instance of devtools (i.e. in the same window frame), the escape keypress escapes from insert mode and leaves focus, so cannot be used for toggling the devtools console. When opened non-docked (i.e. in a separate window usng `:wIw`), things behave as

[2020-07-06 21:45] bitraid commented on #5568
@Unknow0059 If that's all there is in your log, then most probably `C:\Program Files\Diebold\Warsaw\core.exe` (Diebold Nixdorf - Protection Module) is killing qutebrowser for the affected builds.

[2020-07-06 22:10] bitraid commented on #5568
You could [use Winows Sandbox](https://www.windowscentral.com/how-use-windows-sandbox-windows-10-may-2019-update) (if your cpu supports virtualization) and run qutebrowser from there, to figure this out without removing that software.

[2020-07-06 22:34] jtyers commented on #4837
Just hit this with another site. For others stumbling across this issue, the super-hacky quick fix is this:

[code]

...and refresh the page.

That's a JSON array, so use something like this to specify multiple sites:

[code]

Because of the way the command line processes arguments, do not use spaces between entries when using `:set`. Best to put this in your `config.py`.

[2020-07-07 00:14] Gavinok commented on #5563
i3 has the same issue.
Falkon also seems to display the same issue.

[2020-07-07 00:15] Gavinok commented on #5563
Sorry didnt mean to close that

[2020-07-07 07:57] The-Compiler commented on #5563
Closing this as an upstream issue in [QtWebEngine](https://wiki.qt.io/QtWebEngine).

I try to report bugs upstream when I can reproduce them, but unfortunately this wasn't the case here. Since I'll be unable to provide any follow-up information when being asked, could you please report the bug to the [Qt Bugtracker](https://bugreports.qt.io/secure/Dashboard.jspa) yourself? Please use "Project: Qt

[2020-07-07 07:57] #5563 closed

[2020-07-07 09:23] The-Compiler commented on #5473
FWIW this was [fixed](https://git.archlinux.org/svntogit/packages.git/commit/trunk?h=packages/libpng&id=d4972c77c4b9b5555d229b49de3db87738818543) in Archlinux' libpng 1.6.37-3 where the custom apng patch was dropped.

[2020-07-07 11:39] The-Compiler commented on #5530
FWIW if you happen to use Archlinux, the crashes were [fixed](https://git.archlinux.org/svntogit/packages.git/commit/trunk?h=packages/qt5-webengine&id=fc7cbcf3af5fe895e7f19a2b8ce6333c150c362c) in qt5-webengine 5.15.0-3 which backports the upstream fix.

[2020-07-07 11:39] The-Compiler commented on #5513
FWIW if you happen to use Archlinux, the crashes were [fixed](https://git.archlinux.org/svntogit/packages.git/commit/trunk?h=packages/qt5-webengine&id=fc7cbcf3af5fe895e7f19a2b8ce6333c150c362c) in qt5-webengine 5.15.0-3 which backports the upstream fix.

[2020-07-07 11:40] The-Compiler commented on #5564
FWIW if you happen to use Archlinux, the crashes were [fixed](https://git.archlinux.org/svntogit/packages.git/commit/trunk?h=packages/qt5-webengine&id=fc7cbcf3af5fe895e7f19a2b8ce6333c150c362c) in qt5-webengine 5.15.0-3 which backports the upstream fix.

[2020-07-07 11:40] The-Compiler commented on #5504
FWIW on Archlinux, this is [fixed](https://git.archlinux.org/svntogit/packages.git/commit/trunk?h=packages/qt5-webengine&id=fc7cbcf3af5fe895e7f19a2b8ce6333c150c362c) in qt5-webengine 5.15.0-3 which backports the upstream fix.

[2020-07-07 11:41] The-Compiler commented on #5525
FWIW on Archlinux, this is [fixed](https://git.archlinux.org/svntogit/packages.git/commit/trunk?h=packages/qt5-webengine&id=fc7cbcf3af5fe895e7f19a2b8ce6333c150c362c) in qt5-webengine 5.15.0-3 which backports the upstream fix.

[2020-07-07 11:41] The-Compiler commented on #5538
FWIW on Archlinux, this is [fixed](https://git.archlinux.org/svntogit/packages.git/commit/trunk?h=packages/qt5-webengine&id=fc7cbcf3af5fe895e7f19a2b8ce6333c150c362c) in qt5-webengine 5.15.0-3 which backports the upstream fix.

[2020-07-07 11:41] The-Compiler commented on #4320
FWIW on Archlinux, this is [fixed](https://git.archlinux.org/svntogit/packages.git/commit/trunk?h=packages/qt5-webengine&id=fc7cbcf3af5fe895e7f19a2b8ce6333c150c362c) in qt5-webengine 5.15.0-3 which backports the upstream fix.

[2020-07-07 12:03] wioo commented on #5513
Can confirm that crashes are fixed, but preview for some files still doesnt work.

[2020-07-07 12:03] The-Compiler commented on #5513
Do those previews work in Chromium?

[2020-07-07 12:10] wioo commented on #5513
Yes.

[2020-07-07 12:34] The-Compiler opened #5576 "Font family quoting in the config"
_Originally posted by @neeasade in https://github.com/qutebrowser/qutebrowser/pull/5512#issuecomment-654810082_

The current situation is a bit confusing:

- Some settings changed types (notably `fonts.tabs` -> `fonts.tabs.selected` / `.unselected` and `fonts.debug_console`)
- However, there was a subtle behavior change there which isn't handled by the migrations: The `Font` config type requires q

[2020-07-07 12:41] The-Compiler commented on #1504
FWIW one first step towards this would be to have a separate keyboard mode for the devtools and the possibility to run qutebrowser commands (such as hinting or `:jseval`) against it. Especially the latter will be quite a bit of work though. However, that'd also be a big step towards #1716 (split windows).

[2020-07-07 12:45] The-Compiler commented on #5575
I wasn't aware of this keybinding in Chromium. I guess the best you can do at the moment if you want to use it is binding a different key to `leave-mode` in normal mode, or indeed use passthrough mode for the devtools.

In the long run, it might be possible to use commands such as `:fake-key` for the devtools, or have an entirely different keyboard mode for them - see #1504 for that.

Works fine f

[2020-07-07 12:45] #5575 closed

[2020-07-07 13:18] The-Compiler commented on #5513
What website is that on? No issues with any of the requests on Phoronix for me.

[2020-07-07 13:25] The-Compiler commented on #3832
@rien333 FWIW I opened [[QTBUG-85475] Use media::AudioManager::GetGlobalAppName for MPRIS integration - Qt Bug Tracker](https://bugreports.qt.io/browse/QTBUG-85475)

[2020-07-07 15:45] mdtusz commented on #5575
Ah you're right - the passthrough mode does seem to work - I was entering back into insert mode when I clicked.
That will do the trick for the time being.

Thanks and sorry for the false alarm!

[2020-07-07 16:31] LiteracyFanatic commented on #5564
I do as a matter of fact. Great to hear!

[2020-07-07 19:13] wioo commented on #5513
example: https://4d.rtvslo.si/arhiv/tuje-serije/174702685
Its a Slovenian website and video is geo blocked, but i tried to connect from Switzerland vpn and I can reproduce this issue (on short warning video).

[2020-07-07 20:42] GasparVardanyan commented on #5530
Yes, I use ArchLinux, thank you, and thank you for this project, qutebrowser is a great web browser!

[2020-07-07 20:59] pierre-jean opened #5577 "Can't open any thread on Reddit"
**Version info**:
qutebrowser v1.7.0
Git commit:
Backend: QtWebEngine (Chromium 69.0.3497.128)

CPython: 3.7.3
Qt: 5.12.7 (compiled 5.12.4)
PyQt: 5.12.2

sip: 4.19.17
colorama: no
pypeg2: 2.15
jinja2: 2.10.1
pygments: 2.4.2
yaml: 5.1
cssutils: no
attr: 19.1.0
PyQt5.QtWebEngineWidgets: yes
PyQt5.QtWebKitWidgets: no
pdf.js: 2.1.266 (/app/share/pdf.js/build/pdf.js)
sqlite: 3.27.2
QtNetwork SSL: OpenS

[2020-07-07 21:01] The-Compiler commented on #5577
Duplicate of #5486, fixed if you update to either Qt 5.13+ or with a workaround in qutebrowser v1.13.0.

[2020-07-07 21:01] #5577 closed

[2020-07-08 11:56] The-Compiler commented on #3832
@rien333 Looks like a fix will probably make it into Qt 5.15.1: [Use audio-manager app-name for MPRIS (I8600fa86) · Gerrit Code Review](https://codereview.qt-project.org/c/qt/qtwebengine-chromium/+/307217)

[2020-07-08 19:32] maximbaz commented on #5421
Hello again, the bug is now closed, patch is merged in webengine and backported to Arch package, screen sharing under Wayland is now possible with `extra/qt5-webenginge 5.15.0-5` 🚀

[2020-07-08 20:52] gordon-quad commented on #29
I have a question about #5317.
It mentions that it supports ABP syntax but it looks like adblock-rust repo mentions only URL matching against easylist-like filters. So my use-case is a little bit different, I use uBlock-like extension not only to block ads but also quite frequently use "block element" item from popup menu to block unwanted UI elements that might originate from website itself (e.g.

[2020-07-08 21:00] ArniDagur commented on #29
That is called cosmetic blocking, and is supported by the underlying adblocking library. See https://github.com/brave/adblock-rust/blob/master/src/cosmetic_filter_cache.rs for example.

In the comments of #5317 we discussed implementing cosmetic filtering in qutebrowser (see https://github.com/qutebrowser/qutebrowser/pull/5317#issuecomment-612554553), The conclusion was that there would need to be

[2020-07-08 21:07] The-Compiler commented on #29
FWIW there's also the `delete` target for `:hint`, though that isn't persisted.

[2020-07-08 21:18] jgkamat commented on #29
Árni Dagur writes:

Note that it's been possible for year(s) to implement cosmetic filtering
through greasemonkey - for anyone who wants it there shouldn't be any blockers
other than qt bugs.

https://github.com/qutebrowser/qutebrowser/issues/29#issuecomment-481107331

[2020-07-08 21:22] gordon-quad commented on #29
Thanks, I will take a look at it, that sounds like maybe a suboptimal from performance standpoint but a solution nonetheless.

[2020-07-08 21:36] jgkamat commented on #29
gordon-quad writes:

suboptimal in what way exactly? I don't think qb is doing anything
intentionally to slow down scripts (to my knowledge at least) - and if it was
that should be fixed. I don't really see how any alternative available would
launch scripts any faster unless the greasemonkey wrappers were significant.

[2020-07-08 21:39] leephillips opened #5579 "Dead keys do not work in insert mode"
**Version info**:
qutebrowser v1.13.0
Backend: QtWebEngine (Chromium 69.0.3497.128)
Qt: 5.12.4

CPython: 3.7.5
PyQt: 5.12.3

sip: 4.19.18
colorama: no
pypeg2: 2.15
jinja2: 2.10
pygments: 2.2.0
yaml: 5.1.2
cssutils: no
attr: 18.2.0
PyQt5.QtWebEngineWidgets: yes
PyQt5.QtWebEngine: yes
PyQt5.QtWebKitWidgets: no
pdf.js: 1.5.188 (/usr/share/javascript/pdf/build/pdf.js)
sqlite: 3.29.0
QtNetwork SSL: Ope

[2020-07-08 21:41] The-Compiler commented on #5579
Can you try with another application using QtWebEngine, e.g. KDE Falkon / QupZilla? This is likely a Qt bug which has been fixed in later Qt versions.

[2020-07-08 22:00] leephillips commented on #5579
I installed Falkon and tried: and you are right, it has exactly the same problem. Mt Qt is the latest available in my repository, so I guess I have to try to install a later version from whereever it's maintained?
Thank you very much for your super-fast explanation. And for qutebrowser, which is beautiful.

[2020-07-08 22:02] #5579 closed

[2020-07-08 22:03] leephillips commented on #5579
Guess this is not really a qutebrowser issue

[2020-07-09 08:57] The-Compiler commented on #5579
That's how Ubuntu works I'm afraid - you won't get any (non-critical) updates unless you upgrade to the next Ubuntu release (i.e. 20.04 in your case). As an alternative, you could [install qutebrowser via virtualenv](https://github.com/qutebrowser/qutebrowser/blob/master/doc/install.asciidoc#tox), but that'll mean you don't get any support for proprietary codecs like h264/mp4.

[2020-07-09 09:04] The-Compiler commented on #5421
@maximbaz Thanks for taking care of everything! :heart:

[2020-07-09 09:31] user202729 opened #5581 "qute-lastpass lists passwords with domain name contains the domain as a substring"
**Version info**:

Latest master.

**Does the bug happen if you start with `--temp-basedir`?**:

Likely.

**Description**

When I use the `qute-lastpass` userscript with the `-m` option, if the domain name is short (for example `ab`), I might get password suggestions from other unrelated sites too (such as `zzzabzzz`, it only happens to contain `ab` as a substring)

Possible patch: add `\b` around

[2020-07-09 09:31] The-Compiler commented on #5581
cc @welps :wink:

[2020-07-09 14:10] wioo commented on #5504
The problem is still present in 5.15.0-5 on archlinux.

[2020-07-09 15:53] centic9 commented on #5359
FYI, there is a breaking change in how conversion of data in Qt is done in 5.15 which changes results from string to base64 encoded data, see e.g. https://bugreports.qt.io/browse/QTBUG-84495 and https://bugreports.qt.io/browse/QTBUG-85264

I don't know any details as I just stumbled across this issue when looking for a similar problem in another project, so not sure at all if this is related here

[2020-07-09 16:42] The-Compiler commented on #5359
@centic9 Nope, that's unrelated, as we don't use QJsonDocument - thanks for the heads-up, though!

[2020-07-09 19:41] pltrz commented on #5421
@maximbaz awesome!! Does it work by default, or need some specific settings or tweaks? I've updated my system, pulled in `extra/qt5-webengine 5.15.0-5`, still have the same result as before. I've also got `xdg-desktop-portal`, `xdg-desktop-portal-wlr` (AUR), and `libpipewire02` installed.

[2020-07-09 21:08] maximbaz commented on #5421
Everything that you describe is still needed, you only don't need to compile a custom version of webengine anymore. Could you try this command and then test https://mozilla.github.io/webrtc-landing/gum_test.html ?

[code]

I don't know how this is even possible or related, but I'm testing right now the command above, and without `scrolling.bar=always` the screen share is not working... 😕

I could

[2020-07-09 22:55] Unknow0059 commented on #5568
qutebrowser's newest version (1.13) started in Sandbox normally.

[2020-07-10 00:07] pltrz commented on #5421
Seems like `--qt-flag enable-features=WebRTCPipeWireCapturer` is the key here. Can this be passed in qutebrowser's `config.py`?

[2020-07-10 05:03] bitraid commented on #5568
Can you also try with that banking software installed?

[2020-07-10 05:43] greg-minshall commented on #3656
i (a new user -- thanks very much!) would like to be able to configure so that all downloads go to my conifgured download directory.  so that, e.g., files  that are going to be opened are also stored there, for future reference.  my two cents.  cheers.

[2020-07-10 07:52] The-Compiler commented on #5421
@maximbaz The default `scrolling.bar = 'overlay'` internally passes `--enable-features=OverlayScrollbar` to Chromium. Looks like you can't pass `--enable-features` twice, or one will override the other. I guess I'll have to parse existing `--enable-features` flags from the config and if they exist, add `OverlayScrollbar` there instead of passing the switch... I'll take a look.

@pltrz You can set

[2020-07-10 08:18] The-Compiler commented on #5421
I was wondering if qutebrowser should just enable that by default on Wayland. The related [Chromium change](https://chromium-review.googlesource.com/c/chromium/src/+/1402441) says:

@maximbaz @pltrz Can you elaborate on what that means exactly? I didn't find any context on that...

[2020-07-10 08:33] maximbaz commented on #5421
I think I found some context, they refer to how many confirmation dialogs are being opened by Chromium once you click a button to start screen share. See here:

- https://bugs.chromium.org/p/chromium/issues/detail?id=682122#c50
- https://github.com/flatpak/xdg-desktop-portal-gtk/issues/204#issuecomment-510159005

I don't think it applies to qutebrowser, which at least for me only shows a single co

[2020-07-10 09:05] maximbaz commented on #5421
@The-Compiler by the way, when I try to screen share in Chromium, it also shows a confirmation dialog, and one of the options is to share a single tab instead of the entire desktop. What's interesting is that contrary to desktop sharing, sharing a single tab does not require pipewire installed or any Chromium flags, it just works out of the box.

![image](https://user-images.githubusercontent.com/

[2020-07-10 10:17] The-Compiler commented on #5421
Ah, right I missed that. Even if additional dialogs would show up on qutebrowser, I don't think that's a good enough reason to disable the feature entirely by default.

I pushed a couple of commits - qutebrowser now combines the internal `enable-features` flags with existing ones (1a9e74bfaf9a9db2a510dc14572d33ded6040a57) and enables the WebRTC pipewire capturer by default (cfc8aefc46266217c4c94b0

[2020-07-10 10:58] The-Compiler opened #5582 "Add some automation to try pre releases of dependencies"
It'd be nice to be able to test pre-releases of qutebrowser's dependencies without affecting the `master` branch. One possibility would be to:

- Add a flag to use pre-releases to `recompile_requirements.py`
- Add a weekly GitHub Action which does the following:
  * Run `recompile_requirements.py` with `--pre`
  * Commit the result
  * Force-push to a branch so that the normal CI build picks it up

[2020-07-10 12:53] The-Compiler commented on #5582
Alternatively I guess we could also update and use `misc/requirements/requirements-tests-git.txt` instead.

[2020-07-10 14:14] #5550 closed

[2020-07-10 21:40] Unknow0059 commented on #5568
Cannot. It seems it automatically installs itself after installing the parent banking software, plus a restart. Couldn't find any extra setup files.
Windows Sandbox does not support restarts.

[2020-07-10 22:00] Unknow0059 commented on #5568
Cannot. It seems it automatically installs itself after installing the parent banking software, plus a restart. Couldn't find any extra setup files.
Windows Sandbox does not support restarts.
I removed the parent software plus the one where core.exe comes from.
I can now start qutebrowser normally.

[2020-07-10 22:01] Unknow0059 commented on #5568
Cannot. It seems it automatically installs itself after installing the parent banking software, plus a restart. Couldn't find any extra setup files. Also Windows Sandbox does not support restarts.
(...)
I removed the parent software plus the one where core.exe comes from.
I can now start qutebrowser normally.

[2020-07-10 22:01] #5568 closed

[2020-07-10 23:22] jelinekto commented on #2236
I've been working around this issue by forcing setting `statusbar.show` to `always` temporarily via key bindings.

For example, a snippet from my `config.py`:
[code]

Perhaps this is something that could be done by default.

[2020-07-10 23:27] zamlz commented on #5544
My apologies, I have not had the time to check this further yet.

On Mon, Jul 6, 2020 at 10:31 AM Florian Bruhin <notifications@github.com>
wrote:

[2020-07-10 23:31] zabbal commented on #2777
It's used for systemd units so it's almost impossible to find GNU/Linux machine nowadays without some TOML on it. Given that python seems to be converging on pyproject.toml it'll become even more commonly used in the near future.

[2020-07-11 02:18] andrewcarlotti commented on #5551
You might be thinking of my use of row values, which I removed from my pull request due to lack of support in older versions - see the comment [here](https://github.com/qutebrowser/qutebrowser/pull/5337#issuecomment-611679037)

[2020-07-11 08:52] The-Compiler commented on #2777
@zabbal systemd uses something ini-like which is not TOML. Also, I was mainly talking about the `toml` Python library above.

[2020-07-11 08:55] The-Compiler commented on #5568
Thanks @bitraid for helping to debug this, and @Unknow0059 for testing all those things!

[2020-07-11 11:57] perrin4869 opened #5585 "Default binding for tab-focus"
By default, `T` is bound to `tab-focus`, which seems like a useless binding, since it just moves you to the next tab, much like `tab-next`. It almost seems like the real intent of `T` was to be bound to `set-cmd-text -s :tab-focus `, since this allows for navigating the tabs quickly. Am I correct, or did I misunderstand the `tab-focus` command?

[2020-07-11 13:48] The-Compiler commented on #5585
`:tab-focus` can be used with a count, so e.g. `5T` takes you to the 5th tab.

[2020-07-11 13:48] #5585 closed

[2020-07-11 13:58] perrin4869 commented on #5585
Oh, got it! Thanks!

[2020-07-12 14:50] The-Compiler commented on #4052
Also see #5586 - according to @mikeyww there's still an issue when opening more tabs:

Batch script from there:

[code]

[2020-07-12 14:51] The-Compiler commented on #4052
Could someone who's affected (e.g. @mikeyww) check if you get the same problem with [KDE Falkon](https://www.falkon.org/) as well?

[2020-07-12 15:36] mikeyww commented on #4052
I tried Falkon and received the same crash and error message after about five tabs.

[2020-07-12 15:37] The-Compiler commented on #4052
Definitely an upstream issue in Qt then. I first thought it could be Windows 7 specific, but apparently @kmorihiro saw it on Windows 10 above as well? Can someone still reproduce this on Windows 10 with an up-to-date Qt/qutebrowser?

[2020-07-12 15:39] The-Compiler commented on #5574
Closing this because of inactivity, and because I doubt this is a qutebrowser issue. If you don't see the same issue with KDE Falkon, and qutebrowser isn't e.g. muted in `pavucontrol`, please let me know!

[2020-07-12 15:39] #5574 closed

[2020-07-12 15:39] The-Compiler commented on #5545
Closing this because of inactivity, and because I doubt this is a qutebrowser issue. If you don't see the same issue with KDE Falkon, please let me know!

[2020-07-12 15:39] #5545 closed

[2020-07-12 15:40] The-Compiler commented on #5544
Closing this for now because I doubt this is a qutebrowser issue. If you don't see the same issue with KDE Falkon, please let me know!

[2020-07-12 15:40] #5544 closed

[2020-07-12 15:40] The-Compiler commented on #5391
Closing because of inactivity, and as I doubt this is a qutebrowser issue. If you don't see the same issue with an up-to-date Qt/qutebrowser, please let me know!

[2020-07-12 15:40] #5391 closed

[2020-07-12 15:55] mikeyww commented on #4052
FYI: From [Mali_OpenGL_ES_Emulator-v3.0.4-2-g8d905-Windows-64bit.zip](https://developer.arm.com/tools-and-software/graphics-and-gaming/opengl-es-emulator/downloads), I copied the following files into qutebrowser's directory.

- libEGL.dll
- libEGL.lib
- libGLESv2.dll
- libGLESv2.lib
- libMaliEmulator.dll
- libMaliEmulator.lib
- log4cplus.dll

This did not help. The crash still occurred after about

[2020-07-12 20:07] #5566 closed

[2020-07-13 11:42] gordon-quad commented on #3043
Any clues why it works on some systems but doesn't work on others?
Some qtwebengine build flags differ perhaps?
Have no luck with 5.14.2 on Gentoo. Any reports for it working on 5.14.2 anywhere else?

[2020-07-13 12:23] The-Compiler commented on #3043
I'm afraid I have no idea...

[2020-07-13 23:23] daniel-Jones opened #5588 "SETTINGS invalid number of concurrent streams"
**Version info**:
qutebrowser v1.12.0
Git commit:
Backend: new QtWebKit (WebKit 602.1)
Qt: 5.15.0

**Does the bug happen if you start with `--temp-basedir`?**:
yes

**Description**
When accessing https://www.atlassian.com/ (only website come across for now) a qutebrowser error page is shown saying >SETTINGS invalid number of concurrent streams

Terminal gives output:
[code]
website works within an

[2020-07-14 03:18] terlar commented on #3043
I have it working on QtWebEngine 5.15.0

And for me it has been working for the past months as well, so suspect that version worked as well. I remember it was working and then stopped working and then started working again sometime during last year (hence me following this issue). Not sure what made it work, it can also be different sites having an allow list on which browsers they enable FIDO U2F

[2020-07-14 04:37] Figuera commented on #5399
I am having the same problem but the proposed workaround is not working for me.

Typing in the command line altgr works as normal, in any input box or for qutebrowser binding altgr does nothing.

[2020-07-14 07:04] appetrosyan opened #5589 "The browser creates the `.pki/nssdb` directory every time it's run."
Hi. This is a sort-of duplicate of the #5082 , however, with a bit more digging I've come across the following.

Chromium fixed that bug, qutebrowser didn't.

Other QtWebEngine based browsers (i.e. webmacs) don't create the directory.

**Steps to reproduce**:
connect to any webhost via `https`.

**expected behaviour**:
no `pki` directory being created.

**actual behaviour**:
`.pki/nssdb/` being cr

[2020-07-14 07:20] The-Compiler commented on #5589
The underlying [Chromium issue](https://bugs.chromium.org/p/chromium/issues/detail?id=1038587) is still open, so this is still a Chromium issue. I just tried with `HOME=/tmp/tmphome webmacs` and I see a `/tmp/tmphome/.pki/nssdb/` as well.

[2020-07-14 07:20] #5589 closed

[2020-07-14 07:31] The-Compiler commented on #5399
@Figuera Can you show your `:version` information?

[2020-07-14 07:58] The-Compiler commented on #5588
This is an upstream bug in Qt - would be good to have a reproducer outside of QtWebKit though. I'll see if I can cook something up.

[2020-07-14 09:42] McKean commented on #3043
I highly doubt this.
On github for example I can try to use my key but it fails. Does it work for you on github now @terlar?

[code]

[2020-07-14 12:38] terlar commented on #3043
Yup, it is working now.

[code]

[2020-07-14 14:12] dumol commented on #4429
Looks like https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=913287 indeed. If anyone wonders, the fix doesn't appear to have made it to Debian 10.

Seems to be the reason why qutebrowser is broken on Debian 10 arm64.

[2020-07-14 14:13] The-Compiler commented on #4429
@dumol There should be a workaround for this one in qutebrowser since a long time - what qutebrowser version are you running, and what output are you getting precisely?

[2020-07-14 14:24] dumol commented on #4429
@The-Compiler Thanks for the quick reply!

I'm trying 1.6.1, as packaged in Debian 10.
[code]
The output is:
[code]
As the initial reporter wrote, Falkon somehow works…

[2020-07-14 14:32] unmd101 opened #5591 "Certain sites take way too long to load"
**Version info**:

qutebrowser v1.13.0
Git commit:
Backend: QtWebEngine (Chromium 80.0.3987.163)
Qt: 5.15.0
[full version info](https://paste.the-compiler.org/view/4ccd61e9)

**Does the bug happen if you start with `--temp-basedir`?**:
Yes

**Description**
Some sites hang with blank white page and only after 5-10 minutes they successfully load. Also, can't find anything unusual in logs and the bug

[2020-07-14 14:36] The-Compiler commented on #4429
@dumol Does `QUTE_SKIP_LIBGL_WORKAROUND=1 qutebrowser` or the same with `QUTE_SKIP_NOUVEAU_CHECK=1` change anything?

[2020-07-14 14:38] The-Compiler commented on #5591
Works fine here. Can you reproduce with other QtWebEngine based browsers such as KDE Falkon? What about Chromium?

[2020-07-14 14:43] unmd101 commented on #5591
Yes, just tried to reproduce it with Chromium, got the same behavior.

[2020-07-14 14:52] dumol commented on #4429
@The-Compiler No, sorry, no change at all.

For completion, related GLX info:
[code]

[2020-07-14 15:12] The-Compiler commented on #5591
That's some issue with your system or internet connection then - I don't have any idea what's happening exactly, though. You might need to use something like Wireshark or mitmproxy to see what's going on.

[2020-07-14 15:12] #5591 closed

[2020-07-14 15:57] Figuera commented on #5399
qutebrowser v1.13.0
Git commit: 74ba8f3dc-dirty on HEAD (2020-06-26 08:31:20 +0200)
Backend: QtWebEngine (Chromium 80.0.3987.163)
Qt: 5.15.0

CPython: 3.7.7
PyQt: 5.15.0

sip: 5.3.0
colorama: 0.4.3
pypeg2: 2.15
jinja2: 2.11.2
pygments: 2.6.1
yaml: 5.3.1
cssutils: 1.0.2 $Id$
attr: 19.3.0
PyQt5.QtWebEngineWidgets: yes
PyQt5.QtWebEngine: no
PyQt5.QtWebKitWidgets: no
pdf.js: 2.4.456 (bundled)
sqlite:

[2020-07-14 17:41] unmd101 commented on #5591
Strange enough, but I've managed to fix these stutters by disabling javascript on these sites. Anyway, thanks for help.

[2020-07-14 17:50] The-Compiler commented on #5399
The bug fix above ended up being merged in Qt 5.15.1, so I'm guessing when that's released (planned for August) this issue will go away. Closing this, as apparently the workaround doesn't work for everyone and an upstream fix is coming soon.

[2020-07-14 17:50] #5399 closed

[2020-07-14 23:10] winny- commented on #3043
No dice with (from portage with a bumped qutebrowser package):

[code]

Just to be clear, this page works for you @tartar: https://demo.yubico.com/webauthn-technical/registration

[2020-07-14 23:15] gordon-quad commented on #3043
@terlar can I ask which OS/distribution are you running and qtwebengine package version as well? I want to take a peek on how it is built there

[2020-07-14 23:59] winny- commented on #3043
As @terlar suggested it did work via nixpkgs. I just installed qutebrowser from nixpkgs-unstable and was able to use my u2f device (via [this page](https://demo.yubico.com/webauthn-technical/registration)).

([full version info](https://gist.github.com/winny-/feb5d83683340a1793459c7561b342b2))

[code]

Steps to install on non-nix is a bit wonky. Steps for gentoo, most distros should be the same af

[2020-07-15 01:35] terlar commented on #3043
Yes, I am running NixOS and as I suspected it would work for anyone installing it via Nix, I would be very surprised otherwise.

You can easily find how it is build on Nix:
https://github.com/NixOS/nixpkgs/blob/nixos-unstable/pkgs/applications/networking/browsers/qutebrowser/default.nix

As long as you have Nix setup the steps could be simplified a bit:
w/o. NixGL
1. `nix-env -f https://github.com

[2020-07-15 02:00] user202729 commented on #5581
Other notes:

* Currently the regex is not escaped correctly. `.` in site name can match anything.
* I've just noticed that the search is matched against the "name", not the URL as I expected (what's the URL field used for if not matched against?...) -- but (I think) this is a problem with the LastPass CLI.

[2020-07-15 02:26] welps commented on #5581
I'll take a look at the first issue. The second is behavior from `lpass show` as you thought.

Sent from Nine
________________________________
From: user202729 <notifications@github.com>
Sent: Tuesday, July 14, 2020 10:00 PM
To: qutebrowser/qutebrowser
Cc: WC; Mention
Subject: Re: [qutebrowser/qutebrowser] qute-lastpass lists passwords with domain name contains the domain as a substring (#5581)

O

[2020-07-16 09:26] ykahveci commented on #178
Actually most, if not all styled checkboxes and radio buttons don't get hints. I don't know if this is the case for other HTML input types.

A very common example would be bootstraps custom checkboxes, which many people (including myself) use: [Example](https://getbootstrap.com/docs/4.5/components/forms/#checkboxes)

[2020-07-16 12:16] #5349 closed

[2020-07-16 12:17] The-Compiler commented on #338
Probably fixed via #4722 - and given that Google+ doesn't really exist anymore, I'm closing this.

[2020-07-16 12:17] #338 closed

[2020-07-16 12:20] The-Compiler commented on #253
All of those (at least the ones I could test) are fixed via #4722.

[2020-07-16 12:20] #253 closed

[2020-07-16 12:22] The-Compiler commented on #178
@ykahveci Looks like Bootstrap CSS uses `opacity: 0` to hide the underlying browser checkbox. This is now handled correctly in 798fabd5b6e54acbe3f0195c9a6e305d9f3c6777, though that fix is Bootstrap specific. If you see more of those, please let me know!

[2020-07-16 13:21] ykahveci commented on #5427
I'll try to do this. Would be my first-time contribution to a project on GitHub though, so wish me luck!

[2020-07-16 13:27] The-Compiler commented on #5427
Good luck! :+1: Let me know if you need help.

[2020-07-16 14:38] #810 closed

[2020-07-16 14:58] AckslD opened #5592 "Translating pages"
Has there been any efforts in supporting translations of pages, perhaps through a [userscript](https://github.com/qutebrowser/qutebrowser/blob/master/doc/userscripts.asciidoc)?

[2020-07-16 15:07] The-Compiler commented on #5592
Not that I know of (other than the `dict.cc` example at the bottom of that page). Shouldn't be too hard to write one, though.

[2020-07-16 15:07] #5592 closed

[2020-07-16 16:26] ddevault opened #5593 "No longer able to detach web inspector into a separate window"
**Version info**:

<details>
<pre>
         ______     ,,
    ,.-"`      | ,-` |
  .^           ||    |
 /    ,-*^|    ||    |
;    /    |    ||    ;-*```^*.
;   ;     |    |;,-*`         \
|   |     |  ,-*`    ,-"""\    \
|    \   ,-"`    ,-^`|     \    |
 \    `^^    ,-;|    |     ;    |
  *;     ,-*`  ||    |     /   ;;
    `^^`` |    ||    |   ,^    /
          |    ||    `^^`    ,^

[2020-07-16 16:36] The-Compiler commented on #5593
`:devtools ` (with a space) gives you a completion with available positions, and `:devtools window` (or `wIw`) will show them in a separate window (also see the [changelog](https://github.com/qutebrowser/qutebrowser/blob/master/doc/changelog.asciidoc#added-1) explaining those changes in more detail)).

[2020-07-16 16:36] #5593 closed

[2020-07-16 16:36] wedens commented on #5593
`:devtools window`. It lists the options after you type `:devtools `.

[2020-07-16 16:37] ddevault commented on #5593
Thanks!

[2020-07-16 17:00] jpalus opened #5594 "Page loading hangs and qtwebengine process is using 100% CPU"
**Version info**:

qutebrowser v1.13.0
Git commit:
Backend: QtWebEngine (Chromium 80.0.3987.163)
Qt: 5.15.0

**Does the bug happen if you start with `--temp-basedir`?**:

Yes.

**Description**

When entering https://system.t-mobilebankowe.pl page load hangs, nothing is displayed and qtwebengine process is using 100% CPU. Note that it works fine in otter browser with webengine backend.

[2020-07-16 17:08] The-Compiler commented on #5594
Confirmed. Happens with older Qt/qutebrowser versions as well, but not with the minimal testbrowser or with KDE Falkon. No idea what could be causing this I'm afraid, and neither logs nor a profiler told me more...

[2020-07-16 19:01] jpalus commented on #5594
I've tried to obtain stack for whatever is going on:
- enabled single process model
- opened webpage
- attached with gdb
- selected thread with high cpu usage
- run bt

After number of bts I did notice "some" pattern in JS processing but nothing really conclusive

[2020-07-16 19:31] The-Compiler commented on #5594
This fixes it:

[code]

but no idea why. @ulrikdem maybe you have a clue why this is happening?

[2020-07-17 08:02] AckslD commented on #5592
Alright thanks, I might try to make something

[2020-07-17 09:01] ykahveci commented on #5427
@The-Compiler Could you close this? #5595 did it.

[2020-07-17 09:03] The-Compiler commented on #5427
@ykahveci Thanks for the reminder! For future contributions, note that you can mention something like "Closes #5427" in your pull request description or commit message ([docs](https://docs.github.com/en/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword)) for GitHub to do that automatically when the PR is merged.

[2020-07-17 09:03] #5427 closed

[2020-07-17 09:05] ykahveci commented on #5427
Thanks I couldn't figure that out on GitHub im relatively new to contributing, as you may have noticed

[2020-07-17 09:14] The-Compiler commented on #5427
No worries! :+1: Nothing wrong with that, it happens sometimes even to people who know it exists, and closing issues manually works just as well.

[2020-07-17 09:35] The-Compiler commented on #5594
If I use a custom style sheet in KDE Falkon, it doesn't get applied to that page, so the page still works fine. Falkon's JS is much simpler, though:

[code]

Not sure why it doesn't apply the style sheet there, though.

[2020-07-17 09:49] The-Compiler commented on #5390
# Double "element vanished" log in test_spawning_an_editor_and_closing_the_tab

https://github.com/qutebrowser/qutebrowser/runs/879156079?check_suite_focus=true

[code]

[code]

[2020-07-17 09:50] The-Compiler commented on #5390
# Missing scroll position changed log in test_scrolling_to_right_and_to_left_with_scrolltoperc

https://github.com/qutebrowser/qutebrowser/runs/879155864?check_suite_focus=true

[code]

(but I can't actually find that line in the log?!)

[code]

[code]

[2020-07-17 10:33] The-Compiler commented on #3725
Here's a rough draft:

[code]

One problem I only noticed now: GitHub Actions only supports macOS 10.15 Catalina, which would mean we wouldn't support older macOS versions. That's kind of a deal breaker, unfortunately...

[2020-07-17 11:00] m040601 commented on #2988
Is this option, "bind -t", not being considered anymore ?
I would really like to have it for simple scripting and testing purposes with qutebrowser.

[2020-07-17 11:07] AckslD commented on #5592
@The-Compiler FYI, I made a userscript for translation using Google translate which you can find here https://github.com/AckslD/Qute-Translate

[2020-07-17 11:26] The-Compiler commented on #2988
@m040601 if it wasn't considered anymore, this issue would be closed.

[2020-07-17 11:39] mschilli87 commented on #5592
@AckslD: Thanks a lot. Give me a ping if somebody adds a more ethical service as I'd like to use it. I am too busy (as always) to give it a shot myself, so I have no right to complain. :wink:

[2020-07-17 12:02] AckslD commented on #5592
@mschilli87 I could perhaps look into it, did you have a more ethical service in mind :smiley: ?

[2020-07-17 12:14] mschilli87 commented on #5592
@AckslD: Not really. I know deepl.com but never checked them so far. Other alternatives I tried were like Google with a different company and worse performance. :disappointed:

[2020-07-17 12:18] AckslD commented on #5592
@mschilli87 deepl.com does not seem to translate whole pages as far as I can tell unfortunately

[2020-07-17 13:32] The-Compiler commented on #5592
Thanks! I added it to the [list of userscripts](https://github.com/qutebrowser/qutebrowser/tree/master/misc/userscripts).

[2020-07-17 16:12] programandala-net commented on #5560
Thank you for the tips. I've read the description of those commands, and I've seen Qutebrowser is more flexible than I thought. That's great.

I created a shell script `~/.local/share/qutebrowser/userscripts/wp` and made it executable as usual:

[code]

Then the "wp" "pseudo-shortcut" can be accessed with the following command and parameters:

[code]

Typing "spawn -u" could be saved using `set-cm

[2020-07-17 16:31] jpalus commented on #5594
Thanks the workaround works fine.

Regarding issue itself, I'm happily completely ignorant about javascript but perhaps it's some mutual event generation/reaction. Stylesheet code in qutebrowser generates event that triggers site listener which in turn causes some other event which triggers stylesheet code again resulting in event processing loop.

[2020-07-17 21:15] ulrikdem commented on #5594
As far as I can tell, the page keeps removing the style element, and qutebrowser keeps adding it back. This would also explain why the custom style sheet is not applied in Falkon (because the page removed it).

Another workaround, which shouldn't completely disable custom style sheets on all other pages, is to just remove the `root_observer.observe(root_elem, {"childList": true})` line. It watches

[2020-07-17 22:26] Hylian commented on #5526
Updated to `qt5-webengine 5.15.0-5` and the issue is resolved.

[2020-07-18 00:20] tidux commented on #5357
This might be a Qt issue rather than a Qutebrowser issue.  Using Firefox with the KDE desktop portal (`GTK_USE_PORTAL=1 firefox`) exhibits a similar hang, although there at least it's caused partly by delays in thumbnailing.  Based on the latency characteristics I suspect it's scanning one file at a time - the problem gets exponentially worse when the target is an NFS mount, which suggests lots of

[2020-07-18 06:13] darrSonik opened #5596 "Can't write in other language!"
**Version info**:
qutebrowser v1.13.0
Git commit:
Backend: QtWebEngine (Chromium 80.0.3987.163)
Qt: 5.15.0

**Does the bug happen if you start with `--temp-basedir`?**:
Yes

**Description**
I can't write in other languages while using this browser. For example, if I switch my input method to Bangla, it still uses the English keyboard layout. I'm using ibus for managing input methods.

**How to rep

[2020-07-18 08:18] bjoern-tantau opened #5597 "Overflowing conten"
**Version info**:

**Does the bug happen if you start with `--temp-basedir`?**:

**Description**

**How to reproduce**

[2020-07-18 08:19] bjoern-tantau commented on #5597
Sorry, accidently hit enter.

[2020-07-18 08:19] #5597 closed

[2020-07-18 08:23] mschilli87 commented on #5597
@bjoern-tantau: That's one of the may advantages of using Ctrl+E to spawn vim for editing form fields. :wink:

[2020-07-18 08:26] mschilli87 commented on #5596
A workaround might be using and external editor (Ctrl+E by default) for the time being.

[2020-07-18 08:44] bjoern-tantau opened #5598 "Overflowing content with rounded corners is upside down and mirrored"
It's hard to type this, because it is triggered by github's entry page. So I'll try to attach most relevant information.
Since a few days every overflowing content that has rounded corners gets turned upside down and mirrored. This makes it especially hard to type in longer texts in almost every textarea.
I'm on Wayland, using a Pinephone on Debian Bullseye (testing) so thag might not affect so ma

[2020-07-18 08:51] bjoern-tantau commented on #5598
Yep, adding a user-stylesheet with
[code]
works as a workaround.

[2020-07-18 08:52] mschilli87 commented on #5598
Is this qutebrowser specific or can you reproduce this with KDE falkon as well?

[2020-07-18 08:57] bjoern-tantau commented on #5598
Nope, can't reproduce in Falkon.

[2020-07-18 08:58] skuzzymiglet opened #5599 "Make the command line parameter behaviour the same as :open"
It's nice to be able to use search engines from the command line. But quickmarks open as searches. It would be useful to mirror `:open` on the command line. I open qutebrowser by running `rofi` and inputting first.

[2020-07-18 09:14] bjoern-tantau commented on #5598
But I could reproduce it in admbrowser. So I guess the bug lies in PyQt, right?

[2020-07-18 09:19] The-Compiler commented on #5598
I don't see how this could be a PyQt bug, PyQt is a relatively thin wrapper over Qt. Are you sure you're using the same Qt version in Falkon?

[2020-07-18 09:27] bjoern-tantau commented on #5598
I'm a little confused by the output of `qutebrowser --version`. It reports version 5.14.2 for qt but 5.15.0 for PyQt. Falkon reports using 5.14.2. So I guess that in Debian different qt versions are used for python and "normal".

[2020-07-18 09:44] The-Compiler commented on #5598
Qt and PyQt versions are independent of each other (even though their releases are roughly synchronized). Thus, that means Debian ships Qt 5.14.2 (which both Falkon and qutebrowser use), but ships a newer version of the PyQt wrapper (which uses the older Qt version).

Just to make sure, can you confirm that http://httpbin.org/user-agent shows "Chrome/77.0.3865.129" in both cases?

[2020-07-18 09:51] The-Compiler commented on #5599
I'll need to check the code to see why they act differently. Note that you can already do `qutebrowser ":open yourquickmark"` though.

[2020-07-18 09:51] bjoern-tantau commented on #5598
Yes, both are showing the same Chrome version. 77.0.3865.129

[2020-07-18 09:51] The-Compiler commented on #5596
I doubt this is a qutebrowser issue. Would indeed be good to know if the same happens in Falkon. Are you sure you have ibus configured correctly for Qt applications?

[2020-07-18 19:07] rcorre commented on #4641
I recently reimaged my laptop and this came back with a vengeance. Qutebrowser completely freezes every 5 seconds or so (possibly when I switch workspaces in dwm?)

[code]

I must have been wrong when [I claimed](1:2.99.917+908+g7181c5a4-1
) it was fine with all the workarounds disabled, as it all came back with a vanilla Xorg config.

[2020-07-18 19:54] rcorre commented on #4641
I'm having good luck with `qt.force_software_rendering=qt_quick` so far. The other two settings (chromium/opengl) seemed to have no effect.

[2020-07-19 10:30] darrSonik commented on #5596
Since every other applications (Qt and GTK) I've used so far worked fine without exporting the environment variables / configuring ibus, I didn't bother to export the variables. After seeing your reply, I did so and yes, it solved the problem.
Thanks!

No need to use the workaround. And Falcon brings lots of dependency, I'm reluctant to try that for now! Sorry!

[2020-07-19 10:30] #5596 closed

[2020-07-19 13:45] arbitrary-dev opened #5600 "Copy on selection interferes with pasting"
**Version info**:
[code]

**How to reproduce**
1. Copy some text to the clipboard
2. Select some text to replace in browser, in some textarea
3. Paste
4. Observe that the text you recently selected is pasted instead of the one that was in the clipboard

[2020-07-19 17:16] The-Compiler commented on #5600
Are you running some kind of clipboard manager which synchronizes primary selection and clipboard?

[2020-07-19 20:09] arbitrary-dev commented on #5600
Hmm, I guess I've set up Vim to use PRIMARY on copy, and Webkit overrides it on selection. So I'd then suggest adding a settings option to disable PRIMARY in Qutebrowser, if it's possible)

[2020-07-19 20:15] The-Compiler commented on #5600
Nope, that's coming from the underlying QtWebEngine without any way for qutebrowser to influence it. You'd likely see the same with a lot of other applications as well.

[2020-07-19 20:15] #5600 closed

[2020-07-20 06:48] The-Compiler opened #5603 "Issues with completion.use_best_match"
[code]

cc @7lb if you happen to want to work on this :slightly_smiling_face:

[2020-07-20 07:59] The-Compiler commented on #5357
@tidux Note qutebrowser doesn't use a normal file selection prompt here, it uses a `QFileSystemModel` in a `QTreeView`. Thus I hope there's a way for qutebrowser to influence the behavior somehow, but it's entirely possible that there isn't anything we can do.

[2020-07-20 09:18] The-Compiler commented on #4641
You might want to test the modesetting driver (i.e. uninstalling `xf86-video-intel`) again. I had some issues with that initially, but they got fixed at some point and now I'm pretty happy with that setup.

[2020-07-20 09:20] f380cedric commented on #5084
New version, new behavior
### version
https://paste.the-compiler.org/view/b912fcbc

### behavior
The sequence works, even if there is space in it.
However, the hint box disappears after pressing space, so you have to remember it (not an issue if space is the last one ofc).

[2020-07-20 09:23] The-Compiler commented on #5084
Yep, that's due to b25c7d5b36a239f8520670390692c96a2812d300 fixing part of this issue, but it looks like more is needed to fully fix it.

[2020-07-20 09:25] The-Compiler commented on #5598
Are you sure both cases are actually using Wayland rendering and not XWayland? i.e. do you have something like `QT_QPA_PLATFORM=wayland` set in your environment for both? I really can't see anything in qutebrowser which could cause this to happen...

[2020-07-20 09:27] The-Compiler commented on #5526
@Hylian huh, that's weird! I don't see anything in those versions which would have fixed this, and I still see the same isuse with those versions and the google centrify page above.

[2020-07-20 14:27] The-Compiler opened #5605 "Improve leaving insert mode on load"
We could leave insert mode when load finished only if no editable element is currently focused.

I tried this but ran into some trouble because the check is asynchronous, so this requires a bit more thought first. Reverted in 5082331d46a26f03e2adeecf94d4a61b6392a980.

[2020-07-20 17:16] tidux commented on #5357
Possibly related: https://bugreports.qt.io/browse/QTBUG-41373

[2020-07-20 18:07] The-Compiler opened #5606 "Handle NUL bytes in state file"
For some reason, especially on Windows, the `state` file sometimes gets corrupted with leading NUL bytes. Also see #670, #651, #4050. We should probably handle that case and strip the leading NULs when reading the file.

[2020-07-20 22:58] andys8 opened #5607 "textarea in iframe doesn't trigger insert mode"
**Version info**:

qutebrowser v1.13.1
Git commit: da585f2b5 on master (2020-07-18 11:39:00 +0200)
Backend: QtWebEngine (Chromium 80.0.3987.163)
Qt: 5.15.0

**Does the bug happen if you start with `--temp-basedir`?**: Yes

**Description**

It seems to be the case that `textarea` or input elements in general are not triggering in put mode, if they're in an `iframe` / shadow root

**How to reproduce

[2020-07-20 23:24] andys8 opened #5608 "Qutebrowser search is triggering accessibility features on websites?"
**Version info**:
qutebrowser v1.13.1
Git commit: da585f2b5 on master (2020-07-18 11:39:00 +0200)
Backend: QtWebEngine (Chromium 80.0.3987.163)
Qt: 5.15.0

**Description**

I noticed that text searches with qutebrowser seem to trigger accessibility settings on some websites. A similar behavior can be noticed when hitting `TAB`.

**How to reproduce**

1. https://google.com or https://github.com
2.

[2020-07-21 00:52] rcorre commented on #4641
No problems so far with the modesetting driver (no `force_software_rendering` needed). I do notice that when I switching between dwm workspaces quickly sometimes a windows takes a few seconds to update though.

[2020-07-21 04:21] The-Compiler commented on #5608
Do you have a hidden statusbar?

[2020-07-21 06:25] The-Compiler commented on #5607
This is only supported for same-origin frames, and it's questionable whether it's possible to do anything about cross-origin frames - see #3569.

[2020-07-21 06:25] #5607 closed

[2020-07-21 09:31] andys8 commented on #5608
That's a good hint. The setting is:
[code]

The issue is not occuring, when this setting is removed / the statusbar is visible all the time.

[2020-07-21 09:32] The-Compiler commented on #5608
This is a duplicate of #2236 then.

[2020-07-21 09:32] #5608 closed

[2020-07-21 09:43] dumol commented on #4429
Same issue on Debian 11 Bullseye (currently, the _testing_ version), which has `qutebrowser` 1.13.0 packaged.

Again, `falkon` works with the same QT 5 WebEngine package (5.14.2 for Debian Bullseye).

Might be something related to missing hardware acceleration for the Pine64 board. I'm using the 5.4.43 kernel from Armbian 20.05.2.

[2020-07-21 10:20] toofar commented on #4429
I get a couple more warnings before the abort:
[code]
That actually rings some bells from when I was using plasma on postmarkos, maybe this has a weird display format.
This is debian sid, an almost fresh install, on a pinebook pro with the special snowflake manjaro kernal, I have yet to try the mainstream one. I haven't attempted to investigate any further than installing whatever is packaged and