[2018-07-21 14:53] oimaasi commented on #4075
It FINALLY builds.

However, it doesn't crash anymore ...
Then I tried the current no debug from the Arch repo (5.212.0alpha2-18.0). Neither does it crash. Maybe the crash was due to some other related packages and have already been mitigated with a recent update?

Anyway, thank you for guiding me through the whole process.

[2018-07-21 14:55] The-Compiler commented on #4075
Must be magic! :sparkles:

Well, not sure what was going on there, but glad to hear it's fixed!

If you (or anyone I linked to this issue via crash reports) still see this (or see it again), I'd recommend [opening an issue](https://github.com/annulen/webkit/issues/new) in the annulen/webkit repo instead, as this seems like an issue in QtWebKit and not qutebrowser.

[2018-07-21 14:55] #4075 closed

[2018-07-21 19:37] nemanjan00 opened #4088 "The ability to change audio/mute tab widget content"
![2018-07-21-213617_414x150_scrot](https://user-images.githubusercontent.com/448151/43039466-32db67bc-8d2e-11e8-83e5-b6f3225bf43b.png)

It would be great to be able to change this.

I made my changes by editing the code and using custom font.

[2018-07-21 19:39] The-Compiler commented on #4088
#1578 will make that possible - no plans to make it customizable before that.

[2018-07-21 19:39] #4088 closed

[2018-07-21 21:37] jgkamat commented on #4085
Oli Sturm writes:

This link has the ubuntu pyqt5 file along with the patches applied in a
section on the right:

https://packages.ubuntu.com/bionic/pyqt5-dev

This is the bug for one of the patches:

https://bugs.launchpad.net/ubuntu/+source/pyqt5/+bug/1766092

Since you can run an older version of PyQt5 with a newer Qt, you might be able
to just recompile ubuntu's version against your qt install

[2018-07-21 22:19] jgkamat commented on #1455
Just my 2¢, but yapf is really annoying, at least with the config I was using
on a different project. Generally the changes it made made it less readable
than just not following style guidelines.

Hopefully black or autopep8 do things a bit better.

Florian Bruhin writes:

[2018-07-22 08:02] The-Compiler commented on #4085
You can also check http://code.qt.io/cgit/qt/qtwebengine-chromium.git/log/?h=56-based to see the actual backported commits FWIW.

[2018-07-23 16:34] mschilli87 commented on #4085
I just rebuilt qtwebengine on my 6-year old Gentoo notebook and it took almost exactly 4.5 h at max. usage (`make -n 5` on a dual-core i5-2520M @ 2.50GHz) peaking at ~ 5.5 GB of RAM usage (system incl. `/tmp` on tmpfs + build process).
PyQt took 'only' 30 min to build (for both, Python 2.7, and 3.5) and never consumed even 2 GB of RAM (again, incl. running my system) in the process. :smile:

[2018-07-24 08:34] The-Compiler commented on #3573
FWIW Chromium 68 which does this has been released today.

[2018-07-24 09:39] toofar commented on #4039
I built [core-js](https://github.com/zloirock/core-js) (lots of polyfills) with `esnext.reflect` added to the grunt task and loaded that as a greasemonkey script, which does add a `Reflect.construct` function. But because we gave up on working around the page load signals and just load everything at document-end it is too late to make a difference ;_;

[2018-07-24 13:44] #4073 closed

[2018-07-24 14:05] #2603 closed

[2018-07-24 17:34] kalbasit commented on #652
@fosskers did you ever create the bindings? can you share them if so?

[2018-07-24 18:20] fosskers commented on #652
I didn't - I use Firefox with *Vim Vixen* now.

[2018-07-24 22:30] SirCmpwn commented on #3289
Bumping this as http://qutebrowser.org still does not redirect to https://qutebrowser.org

[2018-07-25 09:13] mschilli87 commented on #652
@The-Compiler: Did you ever switch away from QWERTY in the end? :wink:

[2018-07-25 09:14] The-Compiler commented on #652
Well, it hasn't ended yet, but I haven't so far :laughing:

[2018-07-25 09:38] krinistof opened #4093 "Completly black screen on Void LInux after system update"
Hi!
I use Void Linux now for a while and I updated the system via `xbps-install -Su`
This wasn't the first time I done this. Before the update it worked flawlessly, withount any problem.
Now if I start the program, it only outputs warnings about:

    11:10:35 WARNING: QStandardPaths: XDG_RUNTIME_DIR not set, defaulting to '/tmp/runtime-krinistof'
    11:10:35 WARNING: QStandardPaths: XDG_RUNTIME_

[2018-07-25 09:41] The-Compiler commented on #4093
See https://github.com/void-linux/void-packages/issues/1033

[2018-07-25 09:41] #4093 closed

[2018-07-25 09:45] krinistof commented on #4093
Thanks for so fast respose and help! :grin:

[2018-07-25 15:17] The-Compiler opened #4094 "qute://settings link can't be opened from quickstart page"
This probably broke when fixing #4060: When clicking the `qute://settings` link on https://qutebrowser.org/quickstart.html it fails with `ERR_ACCESS_DENIED`:

[code]

[2018-07-25 20:59] alabamaboner commented on #4039
The one and only reason I'm still on qtwebkit is CPU usage and RAM. I basically use qutebrowser as a web document reader with everything I can disabled (javascript, cookies, etc). The fact that the webkit version is old also helps since thankfully the ways words and pictures are displayed on the internet only change when you encounter sites that are abominations yet not the same can be said about

[2018-07-26 08:16] toofar commented on #4094
Ah, that's [this bit](https://github.com/qutebrowser/qutebrowser/blob/master/qutebrowser/browser/webengine/webenginequtescheme.py#L67), it needs to check the requested path too. I know because I tried to reproduce it but don't have 5.11.

[2018-07-26 10:47] Aster89 commented on #3596
This problem is annoying me as well; if it is of any relevace, in Google Maps I experience the problem (_i.e._ back to command mode without pressing <kbd>Esc</kbd>) only when I empty the search box.

1. hit <kbd>i</kbd> to enter insert mode in the search box of Google Maps
2. write something (insert mode is correctly kept on)
3. hold <kbd>Shift</kbd> and press <kbd>Home</kbd> to select everything

[2018-07-26 15:44] The-Compiler commented on #941
Interesting question: Where should the temporary directory land when `--basedir` is used? Probably still outside the basedir, because the basedir is usually persistent.

[2018-07-26 16:15] The-Compiler commented on #335
Some more things I found out:

- There are various reasons why to not use libhttpseverywhere:
  -  It's been quiet for three months - not inherently a bad thing, but it also only lists two users, one of them doesn't anymore (Epiphany) and the other seems quite dead as well (Rainbow Lollipop)
  - It requires Gnome stuff, maybe even a GTK mainloop running
- The rulesets are published at https://www.

[2018-07-26 16:21] oliversturm commented on #4085
Alright.... success with the build. Turns out the problem was that my Qt build was using `-qtnamespace` - I added this to the configure run because at some stage I received a warning from configure saying that I needed to do so. I eventually figured out that this broke the PyQt build. When I tried my full configure command without the option, I didn't see a warning anymore. Duh. With Qt rebuilt wi

[2018-07-26 16:58] The-Compiler commented on #4085
@oliversturm Glad to hear! Might want to follow-up on the PyQt mailinglist with that information so if someone else ever runs into it, they know what's going on :wink:

[2018-07-27 20:50] Jumblemuddle opened #4095 "Getting current scroll percentage in userscript"
Is there a way to get the current scroll percentage in a userscript?
I'm trying to write some incremental reading tools, and I need to be able to save the current position on a page and return to it later.

I can return with
[code]
The `later 500` isn't ideal. Is there a way to run a command when the page is loaded?
I'm calling `qutebrowser $URL `:spawn --userscript $userscript` for my 'return to

[2018-07-28 07:21] The-Compiler commented on #4095
That sounds a lot like `:set-mark` and `:jump-mark` :wink:

No. Things like that will be possible with a proper Python plugin API (#30), but I'd rather not shoehorn them into userscripts.

[2018-07-28 07:21] #4095 closed

[2018-07-28 13:49] user202729 commented on #1861
@The-Compiler #3562 is merged, should this be closed? (and also consider merging the other conflicting PRs, such as #1862 or #1937 )

[2018-07-28 14:50] Jumblemuddle commented on #4095
Thanks! I clearly wasn't looking hard enough. Marks are persistent across
sessions then?

On Sat, Jul 28, 2018, 02:21 Florian Bruhin <notifications@github.com> wrote:

[2018-07-28 15:38] The-Compiler commented on #4095
No, they aren't persisted.

[2018-07-28 18:30] SoptikHa2 opened #4096 "QuteBrowser doesn't support CSS grid"
As title. QuteBrowser lacks CSS grid support, which breaks some websites, like tildes.net . Could be grid support added? Here are CSS grid examples:

https://gridbyexample.com/examples/

QuteBrowser version:
http://paste.the-compiler.org/view/37a64a89

[2018-07-28 18:34] jgkamat commented on #4096
This isn't a problem in qutebrowser, but the backend you use. If you run
:version, it will tell you what chromium version corresponds to the webengine
version used.

I'm using qt5.9.1, with chromium 56, and the examples work as expected for me.

SoptikHa2 writes:

[2018-07-28 18:39] jgkamat commented on #4096
Er, actually, I thought the images were the examples at first, once clicking
through, it dosen't work for me. You'll need to find a qt which corresponds to
a chromium version that supports the CSS feature you are looking for.

I think chrome supported it in v57, so I think qt 5.10 and up should support it.

Jay Kamat writes:

[2018-07-28 19:51] zerodogg commented on #1660
I've written a script that works as a stop-gap solution to this until qutebrowser itself supports it. It's hacky, but it works. Script is available at https://gitlab.com/zerodogg/qutebrowser-cookiecleaner

[2018-07-28 19:51] The-Compiler commented on #4096
According to https://caniuse.com/#feat=css-grid support was added in Chrome 57, so you'll need Qt 5.10.

[2018-07-28 19:51] #4096 closed

[2018-07-28 21:10] dijit commented on #3043
The brave example is an electron application. Which is fundamentally different from python+QtWebEngine.

Sadly.

[2018-07-29 16:57] m2habert opened #4098 "[[Hack]] Creating a cross-window/tab set of jump-marks"
(this is not an issue per se, but I thought it could be referenced as a tip or concept for further discussion/help.)

 I'm always lost buried in a mess of windows and tabs that always seems to outgrow any organization scheme I come up with, so any mark/memory/ref resource is a bonus.

qB's present mark/jump list feature comes in handy for reading, but my main issue is "loosing tabs", therefore a c

[2018-07-29 17:06] m2habert commented on #2642
I stumbled with a possible hack to be able to have jump marks for cross-tab/window through the :buffer command, wrote it in #4098 ... Thought it could be useful for someone.

[2018-07-29 17:13] Hi-Angel opened #4099 "Lots of duplicate URLs in history.sqlite"
I'm not sure what's the right place for the report — sqlite or qutebrowser.

On "cold start" of qutebrowser, pressing <kbd>O</kbd> *(aka `open -t`)*, then typing, results in some-seconds freeze. I figured it has something to do with history being loaded from the disk, so I checked the file, and sure enough, its size is 22MiB. Grepping a url string shows there's a lot of duplicates in the database,

[2018-07-29 18:06] The-Compiler commented on #4099
If you visit a site multiple times, it's going to be in the history multiple times, that's intended.

You also can't just really inspect it using `strings` - there are things like indices for that table (which speeds up things). Doesn't mean that the whole data is read from disk all at once (it's not).

[2018-07-29 18:06] #4099 closed

[2018-07-29 18:07] The-Compiler commented on #4098
I'm going to close this, as it's not an issue, like you say :wink: FWIW for the future, the subreddit or mailinglist are probably better places for this kind of thing.

[2018-07-29 18:07] #4098 closed

[2018-07-29 18:08] The-Compiler commented on #3915
Closing this because of inactivity.

[2018-07-29 18:08] #3915 closed

[2018-07-29 18:46] Hi-Angel commented on #4099
You could store the time of the visit for every url instead of a whole url thingy. Some urls take really a lot of space. Look at this one for example: `https://www.google.ru/search?ei=AsNZW9rXDcWd6AS-5p-wBQ&q=+undefined+symbol%3A+_nss_mymachines_initgroups_dyn&oq=+undefined+symbol%3A+_nss_mymachines_initgroups_dyn&gs_l=psy-ab.3...6240.15749.0.16635.3.3.0.0.0.0.116.298.1j2.3.0....0...1c.1.64.psy-ab

[2018-07-29 18:47] The-Compiler commented on #4099
Which then makes it very expensive to build the history in the format it's needed, which makes things slower rather than faster again.

[2018-07-29 19:55] jgkamat commented on #4099
We might be able to "preload" the database into memory to fix the lag on the
first usage (moving the loading to the start of qb rather than after the
completion is opened), but I'm not sure if that would be worth the effort.

[2018-07-29 19:57] Hi-Angel commented on #4099
first usage (moving the loading to the start of qb rather than after the
completion is opened)

It would just move the lag from one place to another, i.e. it would boot longer.

[2018-07-30 15:14] zacxander opened #4100 "HTML5 Video is becoming a big issue."
I can't watch a lot of youtube videos and most videos on other sites aren't working, I've tried installing the DLLs with no result.

[2018-07-30 15:16] The-Compiler commented on #4100
I assume this is on Windows? You'll get proprietary codec support if you recompile Qt from sources, which is not something I'm willing to do for the release binaries (as compiling big stuff on Windows is a pain).

[2018-07-30 15:16] #4100 closed

[2018-07-30 16:02] Aerex commented on #2375
I am not sure if this is the right issue to ask this but the current fix for this is to set `javascript-can-open-windows-auotmatically` to `True` to enable popups. I am using qutebrowser v1.4.1 and that configuration setting is not available.

[2018-07-30 16:06] The-Compiler commented on #2375
It was renamed to `content.javascript.can_open_tabs_automatically` in v1.0.0

[2018-07-30 16:55] olmokramer commented on #3573
[**@The-Compiler**](https://github.com/The-Compiler) commented on [July 24, 2018 10:34 AM](https://github.com/qutebrowser/qutebrowser/issues/3573#issue-295621523 "2018-02-08T18:38:08Z - Replied by Github Reply Comments"):

Aren't those already possible with `colors.statusbar.url.success.http`?

[2018-07-31 07:11] The-Compiler opened #4102 "Contextual identities / Firefox containers"
Since this came up once or twice in the past, I'd like to collect some thoughts on Firefox containers:

- [Original announcement](https://blog.mozilla.org/tanvi/2016/06/16/contextual-identities-on-the-web/)
- [Testpilot page](https://testpilot.firefox.com/experiments/containers//)
- [Addon](https://addons.mozilla.org/en-US/firefox/addon/multi-account-containers/)
- [Update blogpost 1](https://blog

[2018-07-31 10:45] rr- commented on #29
The built-in filters seem to be less effective with each month, despite `:adblock-update` :(

[2018-08-01 01:27] jgkamat commented on #3904
I can reproduce this when trying to unbind `"`, I'm not sure if any other keys have this behavior. unbinding `\` alone seems to work correctly.

[2018-08-01 19:40] ciampolo commented on #4102
This is the exact reason why Containers in Firefox are so wonderful though. Any tab (or domain) gets assigned a specific context. That tab can't break out of that context and they can be all in the same window.

I wonder why the engine used and supported by Google does not have a functionality that could harm their own business model

[2018-08-01 19:43] p-r-y-l opened #4104 "bookmark all tabs, bookmaks export"
also try to add support for gesture with roller mouse, clickpad, and nipple button laptops

[2018-08-01 19:48] The-Compiler commented on #4104
That sounds like you'd want to use sessions instead.

It's a plaintext file.

I have no idea what you mean exactly. Mouse gestures? Might be possible as a plugin at some point, but it's not something I'd like in the core given that qutebrowser's focus is on the keyboard.

[2018-08-01 19:48] #4104 closed

[2018-08-01 21:27] twosheds-jackson commented on #4102
I'd love to see this feature added to qutebrowser. Personally, I have no issue with containers being fixed to windows at the time the window is opened. If these containers were to encompass history as well as persistent web data, then perhaps it would be elegant to re-conceptualize private browsing as opening a "one-time-use" container.

Taking this a step further, perhaps select settings (or all

[2018-08-01 21:37] The-Compiler commented on #4102
@twosheds-jackson Also see #2314 which talks about per-window settings in general.

[2018-08-01 23:26] jgkamat commented on #4102
This is really hacky but we might be able to do something like preventing the
user from navigating to other urls, or destroying the tab (or just the
webview) and creating a new one every time the domain changes.

If we could make that work, we might be able to fit profiles into the same
'per-domain' framework as the rest of the settings...

[2018-08-02 07:14] The-Compiler commented on #4102
I'd rather just make it clear (via the UI) which context they're using to open the page, and let them decide for themselves :wink:

That sounds like a recipe for too much trouble :wink:

[2018-08-03 08:22] The-Compiler opened #4106 "Ignore window.confirm/alert/prompt in background tabs/windows"
Other browsers do that as well, e.g. Chromium

- [window.confirm()](https://www.chromestatus.com/feature/5140698722467840) (Chrome 69)
- [window.alert()](https://www.chromestatus.com/feature/6477774290157568) (Chrome 64)
- [window.prompt()](https://www.chromestatus.com/feature/5637107137642496) (Chrome 56)

Also see https://docs.google.com/document/d/1wtV5rmLhbf1OZkbg7crtCt6h1mMtig_ctTQt3BLLEIU/ed

[2018-08-03 10:12] toofar commented on #4106
I was reading through that doc and wondering whey they just assumed that cancelling without user involvement was a good idea. Later it says:

So I guess they didn't consider making a prompt not block a renderer?

Anyway, that document talks about a lot of stuff like affordances for showing when a tab has shown a dialog. When you say `easy` I assume you mean just auto-denying?

[2018-08-03 10:14] The-Compiler commented on #4106
Looking at the chrome platform status links above, I think they ended up with just denying it outright? So yeah, that's what qutebrowser should probably do as well.

[2018-08-03 11:58] hicolour commented on #832
For some reason this issue was not so annoying and started to be around date when #4063 was raised, does anyone have idea abot any workaround?

[2018-08-03 19:25] prosoitos opened #4108 "Most bizarre typing issue in Twitter"
Disclaimer: this may not be a problem in qutebrowser. I honestly have no clue where the problem might be.

On occasions (rarely on Facebook and commonly on Tweeter), while I am in insert mode and typing, letters are sent to the beginning of the line (instead of being inserted at the cursor's position) or flipped around with the cursor moving backward.

[2018-08-03 19:34] The-Compiler commented on #4108
Weird! The only thing coming to mind is that Unicode has some... interesting special characters such as [U+202E](https://www.fileformat.info/info/unicode/char/202e/index.htm) (right-to-left-override) which when typed/pasted, changes the writing direction.

Is it possible that you somehow accidentally type/paste that character before that happens?

Relevant [XKCD](https://xkcd.com/1137/):

![image]

[2018-08-03 19:41] prosoitos opened #4109 "How can I allow blocked popups on the fly?"
In Chromium, if a popup is blocked, I get informed by a message in the omnibar and I have access to the option to allow it.

If I visit the same page with qutebrowser, I get no notification, which is puzzling (it feels like there is a problem with the site since clicking on a link has no effect). Even once I understand that the problem is a blocked popup (thanks to a visit to that site on Chromium

[2018-08-03 19:47] prosoitos commented on #4108
Mmm... if this is not a known problem in qutebrowser, I must indeed do something. This never happens on GitHub or other sites though.

I don't think this is it, but how can I type or insert that unicode character??

[2018-08-03 19:52] prosoitos commented on #4109
[On the same website](https://sims.sfu.ca/psp/csprd/EMPLOYEE/HRMS/h/?cmd=logout), I have a different but somewhat similar problem: when I need to see pdf that have been generated by the system, nothing happens (on other browsers, they open in a new tab).

qutebrowser does not allow in this case to have the pdf opened from `temp` nor does it offer to download it. Just, nothing happens.

This websit

[2018-08-03 20:09] The-Compiler commented on #4108
Nope, this is the first time I've heard of it, and I use Twitter (which I assume you meant?) in qutebrowser myself.

I have no idea how to type it (especially accidentally) - it's just the only thing I can think of so far... You can copy it from http://www.unicode-symbol.com/u/202E.html though (funnily enough, it also reverses the page title :laughing:).

[2018-08-03 20:12] The-Compiler commented on #4109
See #2375 - unfortunately, QtWebEngine doesn't expose a way to do this...

What you can likely do however is changing the `content.javascript.can_open_tabs_automatically` setting to allow popups - it supports URL patterns, so something like `:set -u sims.sfu.ca content.javascript.can_open_tabs_automatically true` should work I think. I can't test since it requires a login.

[2018-08-03 20:12] #4109 closed

[2018-08-03 20:16] The-Compiler commented on #2375
I opened [QTBUG-69768](https://bugreports.qt.io/browse/QTBUG-69768) for this - I don't think it's feasible for qutebrowser to do this before Qt has an API to do so.

[2018-08-03 20:16] #2375 closed

[2018-08-03 20:46] prosoitos commented on #4108
Euh, yes, right, Twitter :stuck_out_tongue:

Mmm... ok. I guess I will close the issue. Whatever I am doing seems to have nothing to do with qutebrowser...

[2018-08-03 20:47] The-Compiler commented on #4108
Let me know if you ever find out though! Interesting issue for sure...

[2018-08-03 20:48] prosoitos commented on #4109
Oh, sorry for not spotting #2375...

I will explore your suggestions. Thank you @The-Compiler.

[2018-08-03 23:43] toofar commented on #2375
This is this greasemonkey script https://github.com/AdguardTeam/PopupBlocker
But I just tried it for a bit and got mixed results. I tried it on the demo page they [recommend](http://code.ptcong.com/better-js-popunder-script/) and it appears to work but with [this page](http://www.dummysoftware.com/popupdummy_testpage.html) it doesn't appear to be of any help. Also the options page doesn't work at

[2018-08-04 00:02] toofar commented on #832
There are various permission settings that take the values "true/false/ask". By default they are "ask". All of them support url patterns now so if you want to keep it at the default for all sites except a few which you want to allow or deny automatically you can do something like `:set -u https://some-trusted-site/* content.register_protocol_handler true`.

The options that support an "ask" value

[2018-08-04 16:00] vinnyA3 opened #4110 "Question: Qutebrowser's necessary fonts"
Are there specific fonts that Qutebrowser needs to run?  The reason I ask:  I switched linux distros yesterday, then proceeded to install Qutebrowser.  Here, I noticed that the *xorg-fonts* package was needed--without it, Qutebrowser crashed on startup.

The *xorg-fonts* package comes with a bunch of fonts that I don't necessarily need, so can I forgo installing it by only using a select few font

[2018-08-04 16:06] The-Compiler commented on #4110
qutebrowser itself doesn't have any font handling, so that crash probably happened somewhere inside QtWebEngine/Chromium. No clue what it needs precisely, I suppose it just needs to find *some* font.

[2018-08-04 16:06] #4110 closed

[2018-08-04 16:09] jgkamat commented on #4110
FWIW, when I install qb on a really fresh machine, I usually install terminus
(the default font for the interface) and liberation (for the webview). I think
I do remember getting crashes if no fonts were installed at all, so
The-Compiler is probably correct on that.

[2018-08-04 16:11] vinnyA3 commented on #4110
Hmm, I'll hunt down those fonts when I get the chance.  Not a big deal, was just curious really.  Thanks for the input @The-Compiler @jgkamat

[2018-08-04 16:12] jgkamat commented on #4108
This is probably not going to help too much, but I haven't seen this at all in
qb, and I use Facebook quite regularly. I don't use twitter myself though.

That said, I don't have any non-english fonts or tools installed, so maybe
it's related to that in some way? Sorry for not being more helpful...

Marie-Helene Burle writes:

[2018-08-04 16:28] The-Compiler commented on #4110
Yay, this issue just helped me to get the tests for Qt 5.10 to run again on Travis, which randomly broke at some point (#4055). There (Ubuntu), installing `ttf-dejavu-core` didn't help, but installing `xfonts-base` now did the trick! Qt 5.11 (and also 5.7.1 and 5.9) seems to work fine without that, though...

[2018-08-04 17:47] vinnyA3 commented on #4110
That's great!  I kind of feel like I contributed something :smile: .  For me, installing the core dejavu package solved the font issue (xfonts-base isn't in the main Void Linux repos).

[2018-08-05 07:14] SubbulakshmiRS commented on #4059
how to differentiate between a error and an exception? @The-Compiler

[2018-08-05 09:30] The-Compiler commented on #4108
Another shot in the dark: Do you have some Greasemonkey script in `~/.local/share/qutebrowser/greasemonkey/` which could be causing this? Or any special input method (something like fcitx, or an on-screen keyboard)?

[2018-08-06 00:12] rpietro opened #4111 "multiple tabs open from a single page"
The answer is probably obvious but I am new to qutebrowser and couldn't find it anywhere: is there a way to keep the focus on one tab while you open links on multiple tabs (wihout moving the focus to those tabs). This is different from "F," where the focus changes to the new tab.

In surfingkeys this is achieved through "cf" but I don't know how to get this to work in qutebrowser.

Btw, the projec

[2018-08-06 03:14] The-Compiler commented on #4111
`F` respects the `tabs.background` setting, but you can also use `;b` to force background tabs, or `;r` for rapid hinting (which doesn't leave hint mode after following a hint).

[2018-08-06 03:14] #4111 closed

[2018-08-06 12:54] amerlyq commented on #3636
I'm voting for the "Proxy" settings in the next usecase:
* connect to company VPN -- to get access to inner network
* ssh to workstation and expose socks proxy -- to get access to private project network, inaccessible from simple VPN
* use that socks as proxy for list of expected hostnames
* don't use proxy for everything else -- for common browser traffic to circumvent VPN + socks (however, it st

[2018-08-06 16:57] SubbulakshmiRS commented on #4059
As in which errors are allowed via QuteSchemeError and which are not ? How to differentiate ?

[2018-08-06 17:10] The-Compiler commented on #4059
I still don't follow. Nothing changes about that, whatever was a `QuteSchemeError` before still is a `QuteSchemeError` (or a subclass of it) afterwards. See the patch above where I started working on this.

[2018-08-06 17:50] merspieler commented on #3636
@amerlyq you can add a per domain proxies for .onion (tor network) and for .i2p (and other "tld"s) (i2p network) as well if you use such services in addition to your cases

[2018-08-06 18:38] wu4 opened #4113 "Prevent tab bar from consuming window space when active while tabs.show = 'switching'"
Whenever switching tabs with `tabs.show` set to `'switching'`, the tab bar showing up will reduce the size of the web page display, which can be very laggy and disorienting for some websites. I suggest to at least add an option to make it behave like the completion widget, where it sits on top of the web page display instead of resizing it.

[2018-08-06 18:39] The-Compiler commented on #4113
Duplicate of #1593

[2018-08-06 18:39] #4113 closed

[2018-08-06 19:36] The-Compiler commented on #3747
Note that both RT and OTRS are Perl. There's [django-helpdesk](https://github.com/django-helpdesk/django-helpdesk) using Python FWIW.

[2018-08-07 01:35] jZhangTk opened #4114 "importer.py may fail on chrome bookmarks import"
The importer.py failed on me at `assert 'type' in bm, bm` (currently line# 336). The reason being is there's an entry `"sync_transaction_version": "186"` in my chrome bookmarks, which is a string and doesn't have the `type` key.

I have a simple fix for it - adding `if isinstance(bm, dict):` before asserting type in bm, like
[code]
(I'm not a Python developer. Let me know if this makes sense)

[2018-08-07 04:25] The-Compiler commented on #4114
This looks right the right fix! However, I usually like to exit early for error conditions, i.e. something like:

[code]

Do you want to open a PR with that, or should I just apply it directly?

cc @ryan-farley who implemented this, though I suppose `sync_transaction_version` didn't exist back then.

[2018-08-07 07:43] toofar commented on #4059
In case you are referring to

I think that is referring to passing an exception like

Wheres QuteSchemeErrore [expects](https://github.com/qutebrowser/qutebrowser/blob/master/qutebrowser/browser/qutescheme.py#L89) an error string and then a value from [this enum](http://doc.qt.io/qt-5/qnetworkreply.html#NetworkError-enum).

[2018-08-07 08:41] The-Compiler commented on #4059
Ah! No exceptions should ever be passed - this was a mistake from somewhere, but it was never correct.

But instead of passing error codes, we should have different `QuteSchemeError` subclasses - see my patch above :wink:

[2018-08-07 12:30] rpietro opened #4115 "Screen sharing in Google Hangout"
Google Hangout works really well (I saw all the previous issues that were already addressed - great work!), but one remaining problem is that the screen sharing button doesn't seem to be working (clicking generates no response). Wavebox is having the same issue, thus far without a solution: https://github.com/wavebox/waveboxapp/issues/498

Any thoughts?

qutebrowser v1.4.1
Git commit:
Backend: QtW

[2018-08-07 12:41] The-Compiler commented on #4110
Just found a related Qt issue: https://bugreports.qt.io/browse/QTBUG-51772

[2018-08-07 12:44] The-Compiler commented on #4115
Hmm, so voice/video work for you? Last time I checked, that didn't work at all for me: https://bugreports.qt.io/browse/QTBUG-69267

[2018-08-07 13:42] ykhurshid opened #4116 "[BUG] 1.41 Windows standalone release crashes when attempting downloads."
I tried downloading from Github twice and also a hint mode download command.

Here is my version information
https://paste.the-compiler.org/view/ff226852

[2018-08-07 13:44] The-Compiler commented on #4116
"crashes" how exactly?

[2018-08-07 13:46] ykhurshid commented on #4116
It closes the browser window and brings up the crash dialog. I have reported the logs.

[2018-08-07 13:53] The-Compiler commented on #4116
Looking at the reports, this happens because you tell it to download to `D:\` which (I think?) doesn't exist. Then qutebrowser crashes when trying to create it, because of #2570.

[2018-08-07 13:54] ykhurshid commented on #4116
I just attempted the 1.40 standalone release and same story.
I believe qutebrowser is making an assumption about what directory I am allowed to download to. I am in a public library for some much needed context.

I believe the download prompt is trying to first switch to the C directory and since I am not allowed access to that, it is crashing.

[2018-08-07 13:58] The-Compiler commented on #4116
I missed this bit:

Looking at the log more closely, it seems like Qt detects `D:\` as default download directory, and then tries to create it (and fails), despite it already existing. As a workaround, you should be able to set `downloads.location.directory` to something else (a folder somewhere).

Still, merging this into #2570 as many of the logs there look similar to yours.

[2018-08-07 13:59] #4116 closed

[2018-08-07 14:01] The-Compiler commented on #2570
This doesn't actually seem to happen when creating the directory for a download (in `_after_create_parent_question`) - it's when trying to create the download directory in `download_dir`!

This often happens on Windows because Qt (sometimes?) detects `D:\` as suitable download folder, and we do `os.makedirs(ddir)` even when it exists (and only catch `FileExistsError`). Apparently, trying to do so

[2018-08-07 14:04] ykhurshid commented on #4116
That worked! Thanks for the workaround. :smile:

[2018-08-07 14:28] The-Compiler commented on #2570
At least the Windows-specific part of this should be handled by using `os.path.makedirs(..., exist_ok=True)` - also see https://github.com/python/cpython/commit/a82642f9dbdff5253f40d4acee0cbb27aaf34462

[2018-08-07 14:43] #2570 closed

[2018-08-07 14:44] The-Compiler commented on #4116
Thanks for pointing me into the right direction so I found out what's actually causing this :wink: Should be fixed now for v1.5.0.

[2018-08-07 15:11] SubbulakshmiRS commented on #4059
So for the above files , I have to make the already mentioned changes(from the above patch) and every place with QuteSchemeError , I need to replace with the particular sub classes and no error code should be passed ,right ? @The-Compiler @toofar

[2018-08-07 15:47] The-Compiler commented on #4059
You should be able to apply the above patches directly by piping them to `git am` - I'd highly prefer that even, as then I get the blame instead of you if in the future there's some issue with those changes :wink:

I'm not sure in which state this was, as I intended to finish it after my exams. It's probably almost finished but still failing some tests.

[2018-08-07 16:06] jZhangTk commented on #4114
I can create a PR, though this is my first time contributing to a public repo. Is there guide line I should follow? (I have done a lot of development on bitbucket private repos, but never contribute to gibhub public repo)

[2018-08-07 16:12] mschilli87 commented on #4114
@jZhangTk: I guess your experience will do. Check the [contribution guide](https://www.qutebrowser.org/doc/contributing.html) for some helpful advice.

[2018-08-07 17:35] DerJesko opened #4117 "Dead install link on contribute site"
I'm not sure if this is the right place to report this but:
on the contributing site https://www.qutebrowser.org/doc/contributing.html is a dead link to https://www.qutebrowser.org/doc/install.asciidoc#tox my research tells me it should be https://www.qutebrowser.org/doc/install.html#tox

[2018-08-08 06:45] #4114 closed

[2018-08-08 09:28] The-Compiler commented on #4006
As @DerJesko points out in #4118, parsing IPv6 addresses in `UrlPattern` works fine:

[code]

so the issue you're actually seeing is with the `tsh` binding, similar to how it handles `file://` URLs incorrectly. I thought there was an issue for that already, but I cn't find it right now.

[2018-08-08 12:47] rpietro commented on #4115
@The-Compiler yes, it works seamlessly: I can hear and be heard without any issues (a menu did come up the first time like it would in Chrome), people can share their screens with me, and the chat also works. Not a single crash so far. The only thing that doesn't work at this point is the screen sharing button.

[2018-08-08 12:52] The-Compiler commented on #4115
Hmm, I think this should work in general. Some questions:

- Does https://www.webrtc-experiment.com/screen-sharing/ work for you?
- Does it work when you start with `--debug --temp-basedir`? Does anything interesting get logged when you click the button?

[2018-08-08 19:00] The-Compiler commented on #2163
Just noticed this didn't actually work correctly on Qt 5.11. It's fixed in e927fecbbc12053d2e64deddf4bc89e570f0dcc6 and you can add `force-webrtc-ip-handling-policy=default_public_interface_only` to `qt.args` as a workaround.

[2018-08-08 20:16] The-Compiler commented on #3888
I've reported this some while ago as [QTBUG-68727](https://bugreports.qt.io/browse/QTBUG-68727), and fixed the crash with 2b6b4e82a7c65683483032e922a0683e87b5db18.

[2018-08-08 20:16] #3888 closed

[2018-08-08 20:19] The-Compiler commented on #4039
Rough plan forward for this, FWIW:

- Wait for Qt 5.12 and add notification support (#3992)
- Add pdf.js support (#2330)
- Add process model settings to preserve RAM/maybe CPU (#4040)
- Show warning (once) about QtWebKit mentioning that QtWebEngine probably has feature parity by now.

[2018-08-08 22:10] jZhangTk opened #4121 "Can we replace `mapfile` in password_fill?"
In userscript `password_fill`, it uses `mapfile` (at line# 315 right now).
[code]

Since `mapfile` doesn't work on Mac, can we replace it with something else like
[code]

And I noticed it was using `files`, but it is not referenced anywhere afterward, so I think it should be `file`. Let me know if I missed anything.

(I can create a PR for the change. Please let me know if the change is good.)

[2018-08-08 22:15] The-Compiler commented on #4121
Fun, looks like macOS 10.11 (El Capitan) has an ancient bash 3.2.57 from 2007... :worried:

I think that change looks fine, but I don't understand why it'd need to be `file` - there are multiple files in that array after all.

cc @t-wissmann

[2018-08-09 00:02] jZhangTk commented on #4121
Yeah, Mac still uses ancient bash... 🤷‍♂️

I think here is trying to remove duplicates, so singular should make sense. And When I tried `files` (in my modified code), it didn't fill anything. As soon as I changed it to `file`, it started to work.

[2018-08-09 01:57] rpietro commented on #4115
I could share my screen both times. Here is the log from the time I shared it with the debug option turned on:

21:50:54 DEBUG    misc       app:on_focus_object_changed:840 Focus object changed: <PyQt5.QtWidgets.QWidget object at 0x7f4c392ebca8>
21:50:55 DEBUG    modes      modeman:_handle_keyrelease:219 filter: True
21:50:57 DEBUG    modes      modeman:_handle_keypress:172 got keypress in mode Ke

[2018-08-09 05:48] SubbulakshmiRS commented on #4059
the commit is only for the patch files . Will check for more mentions of QuteSchemeError and make an other commit if necessary

[2018-08-09 12:55] SubbulakshmiRS commented on #4059
There is no mention of QuteSchemeError after applying the patches(git grep) . Should I look for different Exception based classes using a error code ? @The-Compiler @toofar

[2018-08-09 16:53] t-wissmann commented on #4121
I think the change itself looks fine, but I can't guarantee for anything... I mean there are reasons why bash introduced mapfile at some point.

The mapfile here removes duplicate files form the files array. And yes, one should accumulate them in the array `files` and that array needs to be emptied. So I assume the correct code snipped is:
[code]
And a quick test with ```files=( a a b c d d d efg

[2018-08-10 02:04] jZhangTk commented on #4121
Ah, yeah, once I empty `files`, it started to work with files.

I also tried to install bash 4.4.23 (through homebrew). It comes with `mapfile` now.

However, I still get the same error (line 315: mapfile: command not found) when I run the script inside qutebrowser.

Even with
[code]
it still can't recognize `mapfile` (it solved lpass not found though). Any idea?

[2018-08-10 03:02] jgkamat commented on #4121
JZ writes:

This is because mac os mangles your system path in GUI apps.

This won't help because the updated bash is probably not in /usr/local/bin,
it's probably wherever homebrew put it.

Easy fix is to run it from a terminal, but the proper one is to fix Mac OS
path inheritance from .profile.

[2018-08-10 04:18] The-Compiler commented on #4110
Huh, and now it started failing again on Travis... :confused: Weird!

[2018-08-10 15:08] jZhangTk commented on #4121
This solved the issue (with the order switch, the new bash finally takes the control)
[code]

Though I tried many different things with .profile, .launchd.conf, /etc/paths to set PATH (I prefer fixing in this way), none of them worked for me. @jgkamat do you have any idea or reference that I can check out?

[2018-08-10 16:17] jgkamat commented on #4121
Afaik, the gui env does not inherit from .profile (which is standard) on mac, instead you have to edit a different XML file. I haven't tried this myself but this is all the info I could find.

https://serverfault.com/a/16736

On August 10, 2018 8:08:30 AM PDT, JZ <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2018-08-10 19:51] vinnyA3 commented on #4110
That's weird.  Why would the tests randomly break ?  :thinking: I'm glad it works from a user perspective though

[2018-08-11 02:52] jZhangTk commented on #4121
Thanks @jgkamat . That method seems to be outdated, though I finally found a way. Running the command below solved my issue.
[code]

I think we can close this issue now.

[2018-08-11 02:53] #4121 closed

[2018-08-11 07:16] The-Compiler commented on #4115
But you do have `content.desktop_capture` set to `ask`, yeah? Can you try quitting qutebrowser and running with `--debug` (but not `--temp-basedir` and show the log you get there?

[2018-08-11 09:58] The-Compiler opened #4124 "Using :set with a config.py overwrites old autoconfig.yml"
From IRC:

- Have a autoconfig with user changes.
- Not be using a config.py
- Qutebrowser is open

- Create config.py with infomation from theme repo (+clone repo into config folder)- https://github.com/evannagle/qutebrowser-dracula-theme
  - *Does not contain*:  config.load_autoconfig()

- Restart Qutebrowser
  - Theme is 'active'
  - autoconfig is not read, user settings are not loaded

- Use t

[2018-08-11 11:06] HiTuX opened #4125 "Private mode data isn't cleared after private windows are closed"
Usualy, I open my email in private mode `open -p gmail.com`, so no password will be stored.

What I expect from a private mode is that all session information (history, commands, cache, passwords, ....) will not be saved OR will be cleared after closing "private windows".  However, I noticed that qutebrowser did not clear passwords and cache of private mode if it is in not totally closed (close al

[2018-08-11 11:13] The-Compiler commented on #4125
Looking at Chromium, incognito mode data is shared between multiple incognito windows, but indeed is cleared as soon as all of those are closed.

Not sure yet to what extend we can clear that data - it might be sufficient to use a different `QWebEngineProfile` object for the private profile once all existing windows are closed.

[2018-08-11 14:29] The-Compiler commented on #4115
I can't see you accepting the prompt in that log - did you get a prompt (and accept it)?

Also, this seems odd:

[code]

Can you try renaming/removing `/home/rpietro/.local/share/qutebrowser/webengine/IndexedDB/https_mail.google.com_0.indexeddb.leveldb/`?

[2018-08-11 14:46] rpietro commented on #4115
@The-Compiler yes I did. before I try the renaming, here is a new set of errors I got while trying to open the screen sharing from a hangout session (not the site you pointed me to) in a different way: instead of clicking on the green button without a response, I used a menu, which then gave me a window saying that there was an error. Below is the log corresponding to that error:

10:34:53 DEBUG

[2018-08-11 14:57] The-Compiler commented on #4115
Please make sure to enclose your logs with triple-backticks (\``` on a line on its own), that way it's rendered as a code block which makes it easier to read :wink:

Relevant parts of the log:

[code]

You said with `--temp-basedir` it works fine on Google Hangouts, right? I'm guessing something in your settings is influencing this somehow. Do you have `content.webrtc_public_interfaces_only` set?

[2018-08-11 20:00] The-Compiler opened #4127 "Make it possible to build dmg with Homebrew's PyQt"
`build_release.py` should have the possibility to use Homebrew's (or possibly another system-wide) PyQt instead of the one from PyPI.

At least when the stars align properly during a release*, this would allow to release builds with proprietary codec supports for macOS.

* meaning Homebrew does have everything in the proper versions

[2018-08-12 10:50] The-Compiler opened #4128 "Make sure JS world IDs are valid"
In places where a user can pass a JS world ID (like `:jseval` or GreaseMonkey scripts), we should make sure:

- The ID isn't negative.
- The ID isn't bigger than 11, due to [QTBUG-69904](https://bugreports.qt.io/browse/QTBUG-69904).

[2018-08-12 13:12] The-Compiler commented on #4128
Looks like this is [getting bumped up](https://codereview.qt-project.org/#/c/236635/) for Qt 5.11.2/5.12, so we should allow IDs up to 256 there.

[2018-08-12 17:51] rpietro commented on #4115
@The-Compiler sorry, I will add ``` from now on. as for the hangout, everything works *but* screen sharing, regardless of how qutebrowser is started. the log I sent you in my last post seemed more informative, but the screen sharing still doesn't work.

I have now set content.webrtc_public_interfaces_only  to false. Screen sharing is still working, and when I click on the screen sharing button I g

[2018-08-12 18:31] The-Compiler commented on #3538
@glatzor Whoops, I must've missed your comment. I've tried to do some custom stuff in `setup.py` before but it was a pain, so I'd rather not. Seems fine to me to have a `setup.py` for the Python specific stuff (and everything which can land e.g. in a virtualenv when installing), and a Makefile to take care of the other system-wide stuff.

[2018-08-12 20:31] rpietro commented on #4115
Falkon installed, but still no screen sharing:

```16:27:58 DEBUG    webview    webenginetab:_js_cb_single:595 Got element from JS: {'attributes': {'class': 'j-u-x-Hv-p u-x-Y-f-Q c0L8pb'}, 'class_name': 'j-u-x-Hv-p u-x-Y-f-Q c0L8pb', 'id': 11, 'outer_xml': '<div class="j-u-x-Hv-p u-x-Y-f-Q c0L8pb"></div>', 'rects': [{'bottom': 107, 'height': 32, 'left': 14, 'right': 46, 'top': 75, 'width': 32}], '

[2018-08-12 20:37] The-Compiler commented on #4115
Falkon is another QtWebEngine based browser, so you'd need to test with that - however, looking at its source it doesn't actually support desktop capture at all, so that won't work...

Still, I believe you're seeing the same Qt issue I linked above - I'll add a comment there, but I don't think there's anything qutebrowser can do here I'm afraid.

[2018-08-12 20:37] #4115 closed

[2018-08-13 08:31] The-Compiler commented on #4128
Oh, fun, `:jseval --world=-1 1+1` even throws an exception currently.

[2018-08-13 19:25] brorbw commented on #4067
Is there a fix for this yet?

[2018-08-13 19:27] The-Compiler commented on #4067
@brorbw No, which is why the issue is still open.

[2018-08-13 19:55] brorbw commented on #4067
Alright. Someone might have found at temporary fix for this issue.
@koekeishiya this is, however not the only program where I have experinced this behaviour. Disableing the titlebar(window decoration) in the Helium browser for macOS, yeilds the same problem, the window is moveable, but not scaleable with chunkwm. Which leads me to believe that this isn't entirely the fault of Qt or qutebrowser.

[2018-08-13 21:34] #4006 closed

[2018-08-13 23:49] rpietro commented on #4115
sorry, i didn't even check what falkon was. but thanks for giving it a try, I will keep an eye on whether these guys  wavebox/waveboxapp#498 find anything - if they do, it might be translatable to qutebrowser

[2018-08-13 23:50] rien333 commented on #4067
@brorbw older versions (e.g. 1.3.0) hide the titlebar just fine, so given the above discussion this is almost certainly a Qt issue.

[2018-08-14 15:43] jgkamat commented on #4006
Ah, that's true, I only tested the tsu binding(s).

On my server http://[::1]:8080/ {url} is http://[::1]:8080/ and {url:host} is
'::1'. This fails in the actual binding because it's not in square brackest
(I'm guessing).

I'm also not sure if this would be different if it wasn't just my toy server
setup :P

Florian Bruhin writes:

[2018-08-14 20:07] The-Compiler commented on #3014
Meh, it's not like anyone cares about v0.11.0 anymore.

[2018-08-14 20:07] #3014 closed

[2018-08-14 20:45] jbwiv opened #4132 "Add a --config-py option to specify a path to an alternate config.py"
Currently, config.py is always expected to be found in <basedir>/config/config.py. However, there are many cases where it would be useful to specify the path to the config.py on the command line. For example, you may wish to use a custom config.py with ---temp-basedir, where the basedir isn't known ahead of time.

Please consider adding this functionality. It will be very useful.

Thanks.

[2018-08-14 21:05] The-Compiler commented on #4132
Also see #2115/671ce67be5bb2df6a13b408c19d8c79c76eaade4 which removed a similar `--confdir` setting - but I'm fine with just having a `--config-py` because it'd indeed be useful, and it's much more clear how it should behave (as `config.py` is read-only).

[2018-08-15 08:28] The-Compiler commented on #3636
@toofar I meant the first-party URL with "top-level URL". Back when I wrote this, the cookie filtering API wasn't really a thing yet. Nowadays I think it's fine to just not support this before Qt 5.11 (because it'd be a hack), so we do have access to that information.

The question is whether to use `firstPartyUrl` or `origin` there.

[2018-08-15 08:29] The-Compiler commented on #3636
@amerlyq Using multiple basedirs is kind of cumbersome, so I'd still like to have support for per-domain proxies. It's probably not very difficult either - in `queryProxy` in `qutebrowser/browser/network/proxy.py` we already get the URL as part of `query`, so that'd just need to be passed to the config system.

[2018-08-15 08:50] toofar commented on #3636
I think using firstPartyUrl is a closer to what the setting means currently and is what #4046 proposes. Using the origin URL would have different semantics (apply to these resources rather than apply when on this page). But after thinking about it for a bit using the origin URL would be more useful in every case and I think it would still be a one line change.

[2018-08-15 23:47] ExpandingMan opened #4134 "text entered into editor not inserted"
Hello all, I feel like this is probably due to something really silly that I am doing or failing to do, so I was loathe to open an issue, but I can't figure it out for the life of me so here it goes.

When using `open-editor` (`Ctrl-E` when in insert mode by default) my editor opens successfully, I can enter text, and save to the buffer, but then nothing happens: nothing is inserted into the field

[2018-08-16 03:09] The-Compiler commented on #4134
No worries! You're not the first one to have this issue, and it's a bit subtle :wink:

In order to find out when to stop listening to file changes, qutebrowser waits until the process it spawned exits. However, `gnome-terminal` probably forks to the background immediately (i.e. if you run the above in another terminal, you'll get your prompt back immediately, not after vim is closed).

Looking at

[2018-08-16 03:09] #4134 closed

[2018-08-16 16:56] notthebee opened #4135 "Qutebrowser is broken on Ubuntu 18.04"
Hi. I decided to check out the new LTS version of Ubuntu, but unfortunately the qutebrowser package from the official repos does not work: it crashes upon launching. [Here's the full traceback](https://pastebin.com/R8100DiN)

I will appreciate any feedback.

[2018-08-16 17:00] The-Compiler commented on #4135
You're running KDE neon and not Ubuntu 18.04. KDE neon isn't intended as a general-purpose Linux distribution, and software which isn't part of KDE isn't supported by them. This happens because it ships an old qutebrowser version (from Ubuntu) but a much newer Qt version.

[2018-08-16 17:00] #4135 closed

[2018-08-16 17:59] wishfort36 opened #4136 "Add support for mode keystroke efficient hinting"

[2018-08-16 18:08] The-Compiler commented on #4136
So how does vimperator differentiate between you typing 1 and 11? Do you need to press enter to follow the hint after typing the number?

[2018-08-16 18:10] wishfort36 commented on #4136
@The-Compiler Yes. Vimperator would just wait, as there are multiple choices left.

[2018-08-16 18:17] The-Compiler commented on #4136
...which means you're back to the same number of keystrokes, at least for the common case of two-digit hints :wink:

[2018-08-16 18:28] The-Compiler commented on #3892
One pattern I see in almost all crash reports is that the users report switching/closing tabs. In other words, they don't actually seem to be hinting links?

[2018-08-16 18:30] The-Compiler commented on #4136
Fair point. I'm still kind of sceptical that it's worth the complexity, but I might take a look whenever I look at hints again.

[2018-08-16 19:30] notthebee commented on #4135
I see. Thank you for the awesome browser by the way!

[2018-08-17 03:56] lufte opened #4137 "qute://log adds a new level of html escaped characters every time"
Every time you visit qute://log, the log messages are HTML-escaped but the result is saved on the log entry. Next time you visit the page, the previous escaped message will be re-escaped, eventually resulting in something like `&amp;amp;amp;amp;...`.

How to reproduce:

1. Run the following command: `spawn --userscript somenotexistentuserscript`
2. Visit qute://log?level=info.
3. Refresh the page

[2018-08-17 06:14] #155 closed

[2018-08-17 06:15] The-Compiler commented on #236
Probably not worth it as it makes PySide adoption harder - see #3625

[2018-08-17 06:15] #236 closed

[2018-08-17 06:16] The-Compiler commented on #408
Not relevant anymore with QtWebEngine.

[2018-08-17 06:16] #408 closed

[2018-08-17 06:25] The-Compiler commented on #4137
Duplicate of #2537

[2018-08-17 06:25] #4137 closed

[2018-08-17 06:26] The-Compiler commented on #4137
To be fair, #2537 is almost impossible to find - took me a while, but I knew it was somewhere :laughing:

[2018-08-17 08:13] mrpewpew commented on #1256
Is there a way to achieve that right now ? I am really interested

[2018-08-17 08:14] The-Compiler commented on #1256
@mrpewpew partially using CSS, see the earlier comments.

[2018-08-17 08:16] HolySmoke86 commented on #1256
Does the CSS really have to use the * selector or would `body` work as well. I can see how it's slow with * (since that means each and every element will have that filter).

[2018-08-17 08:28] The-Compiler commented on #2777
Reopening as this is still an issue for some people. Probably time to switch to TOML or JSON. Maybe we might want to get rid of PyYAML entirely seeing that it repeatedly had issues with its maintainance so far.

[2018-08-17 09:17] The-Compiler commented on #3706
This seems to be fixed, probably due to 7ac7ccc2967d19cae332e7082e380e7df27d1e75 and ee06ba0140ef5867abaae94b8270ea12960c10a9.

[2018-08-17 09:17] #3706 closed

[2018-08-17 09:27] The-Compiler commented on #1335
Not reproducible anymore.

[2018-08-17 09:27] #1335 closed

[2018-08-17 13:47] brorbw opened #4139 "Using VPN give me different content"
Im using VPN to access my universities network to get access to articles. But im unable to get it to work in qutebrowser, and quite frankly im baffled. This makes no sense.
Using chrome, accessing ACM i can download articles just fine. Using qutebrowser, i cant.

Here is an image of the same site, visited at the same time through the same VPN. Notice the field with `Full Text:`.
[https://imgur.com

[2018-08-17 13:53] The-Compiler commented on #4139
I have no clue what's going on either, but I doubt this is related to qutebrowser. Also note the page says "State Library in Aarhus" at the top of the page in Chrome, but not in qutebrowser.

Some stuff you could try:

- Make sure you have the same IP to the outside via https://ifconfig.co/ (though that should be the case)
- Try playing with the `content.headers.user_agent` setting
- Try with `--t

[2018-08-17 13:53] #4139 closed

[2018-08-17 14:09] brorbw commented on #4139
The have the same external IP, which is the only thing access to ACM should be based on.

Im working on a mac and KDE is no supported (iirc).

[2018-08-17 14:10] brorbw commented on #4139
The user_agent field is empty by default. Is this purposefully?

[2018-08-17 14:16] The-Compiler commented on #4139
Can you try with [QupZilla](https://qupzilla.com/download#mac) then? It's the predecessor of Falkon, so it might be a bit outdated, but still useful to test.

An empty user agent just sends the backend's default. You can check e.g. http://httpbin.org/headers to get the actual value.

[2018-08-17 14:33] brorbw commented on #4139
Now it works, and i think i've figured out why.

Im not sure about the caching in qutebrowser, but it could be that the session doesn't change even though the connection has changed?

If I turn my VPN on, and open the browser and then the page. It works, if i turn off the VPN, and refreshes - it shows the exact same page.
If I open the browser and then the page, and then turn on the VPN, it does n

[2018-08-17 14:33] brorbw commented on #4139
FYI turning the VPN on and off in google works perfectly.

[2018-08-17 14:34] The-Compiler commented on #4139
Depends on what the website does exactly. Cookies are entirely handled by QtWebEngine (which is based on Chromium) though, so there isn't much qutebrowser can do here. No idea what the culprit is precisely...

[2018-08-17 14:34] brorbw commented on #4139
I would reopen this issue

[2018-08-17 15:01] The-Compiler commented on #4139
Like I said, there's nothing qutebrowser can do here - it does not handle cookies or sessions at all. Not sure what's happening exactly (could be existing cookies if you don't get the same behavior with `--temp-basedir`, could be the older Chromium QtWebEngine relies on, could be something the website does differently).

[2018-08-17 23:26] brorbw commented on #4139
At first i thought that it worked with `--temp-basedir` but it works just as bad.

[2018-08-18 02:03] jgkamat commented on #4139
Bror Winther writes:

Going back and forth on these things makes it really hard to debug anything
(especially since we cannot visit the site ourselves).

I would recommend you ask your uni how exactly they control access. If it is
by external IP, using the VPN should suffice, but you shouldn't get access
after turning the VPN off (as 'google' seems to do for you?)

If it is by cookies, you should

[2018-08-18 09:01] The-Compiler commented on #1248
As pointed out by @toofar, you can do something like `:bind --mode=command <PgDown> repeat 14 completion-item-focus next` as a workaround.

[2018-08-18 09:41] The-Compiler opened #4141 "Update list of similar projects in the README"
Looks like some projects which were active aren't anymore - also see e.g. https://github.com/lusakasa/saka-key/issues/171

[2018-08-18 09:44] The-Compiler commented on #4141
Also might want to add [webmacs](https://github.com/parkouss/webmacs) and [Next](https://github.com/next-browser/next) (though I still hear the latter is rather buggy, apparently?)

[2018-08-18 19:57] jcjordyn130 opened #4142 "[Windows] Webpages that should be displayed as HTML are downloaded instead"
I'm on Windows 10 x64 1803, using qutebrowser v1.4.1 from git commit 75d153d6d (downloaded from the releases), and I'm using the qtwebengine 65.0.3325.230 backend.

I only have this problem on windows, FreeBSD and Linux both don't exhibit the problem.

What happens is that randomly webpages that should be displayed as HTML are downloaded.

[2018-08-18 20:02] The-Compiler commented on #4142
Do you have an example?

[2018-08-18 20:37] The-Compiler commented on #4142
Can you do `:report` after it happens so I can take a look at the logs?

[2018-08-18 20:49] jcjordyn130 commented on #4142
I tried to report it but the reporter failed with a abrupt closed connection, so here: https://privatebin.net/?7c9fe248e19d632e#W2AypDeBG9OCQna/4StFiixsnXZ8ST+8xEaa0zui09M=

[2018-08-18 20:51] #2537 closed

[2018-08-18 20:53] prosoitos opened #4143 "Insert mode not maintained after the search results get updated in search boxes that allow live filtering"
Example: in the search box of GitHub repositories for users.

[See here for instance.](https://github.com/The-Compiler?utf8=%E2%9C%93&tab=repositories&q=&type=&language=)

[2018-08-18 20:54] The-Compiler commented on #4143
Duplicate of #3596

[2018-08-18 20:54] #4143 closed

[2018-08-18 20:55] jcjordyn130 commented on #4142
Just note it took a while to get it to happen

[2018-08-18 21:03] The-Compiler commented on #4142
Reports should be fixed. Not sure what's going on there. I can see the download getting started, but that's coming from QtWebEngine. Any chance you can check whether you run into similar issues with [Falkon](https://www.falkon.org/) as well?

[2018-08-18 23:28] jcjordyn130 commented on #4142
To answer your question, this happens with falkon as well.

[2018-08-19 06:57] The-Compiler commented on #4142
Yeah, this is a QtWebEngine issue then. One more thing to try would be whether it happens in Google Chrome as well... Either way, nothing qutebrowser can do here. This is the first time I hear about an issue like that FWIW.

[2018-08-19 06:57] #4142 closed

[2018-08-19 19:43] rpietro opened #4145 "Web app does not work"
This is more of a curiosity than a request for a feature: why doesn't  the [enhance](https://www.enhance.computer/) site work?

[2018-08-19 20:31] bearcatsandor opened #4146 "Allow for easy re-loading of quickmarks"
While it would be great to have a way to edit quickmarks, at this time my main concern is re-loading them. Currently, after editing a quickmark in vim, qutebrowser doesn't reflect the changes until i quit qutebrowser and re-load it. How about a reload command that reloads all the config files in their current state, for those of us that use text editors (probably all of us using this browser)

[2018-08-19 21:47] The-Compiler commented on #4145
Their JS does this:

[code]

(funnily enough, `window.pause()` doesn't seem to exist on any browser...)

[2018-08-19 21:47] #4145 closed

[2018-08-19 22:03] The-Compiler commented on #4145
I hoped to be able to trick it using GreaseMonkey:

[code]

but that doesn't seem to work either - maybe `document-start` is too early and `document-end` is too late? @toofar do you have an idea why that doesn't work?

[2018-08-19 22:40] toofar commented on #4145
You can try using `unsafeWindow`[0] instead of `window`. Also add an `// @grant unsafeWindow` line to the metadata (not that we require it...).

[0] https://wiki.greasespot.net/UnsafeWindow

[2018-08-20 00:06] clp commented on #4141
I will look into this issue as a first contribution to an outstanding project.
The saka-key project might still be seeking a maintainer; but it does have a recent fix merged in July, so I would not call it Inactive yet.
I will check the projects listed in the README.
The two projects mentioned in the above comment seem appropriate to add to the Active list.

[2018-08-20 06:57] bbtdev opened #4149 "Slow startup compared to chrome based browsers, safari, firefox etc"
On MacOS every browser opens instantly, except qutebrowser ( about 4 seconds). Of course, it sounds like a first world problem, but when you are used to everything being snappy, you notice it.

Is this something can be improved or desire to improve?

**My specs:** 2,2 GHz Intel Core i7, 16 GB 1600 MHz DDR3, SSD, Retina
**qutebrowser version:**
qutebrowser v1.4.1
Git commit:
Backend: QtWebEngine (C

[2018-08-20 07:15] jgkamat commented on #4149
Another issue (not sure if it's related or not), is that `config.bind` seems to be very slow. This is probaby related to copying dicts (that was the bottleneck when I was investigating the tab performance issues, before I decided we should probably just cache the values completely).

[code]

[2018-08-20 07:31] The-Compiler commented on #4149
See #2967 and #153 - don't think we need another issue for this, even if there are likely multiple factors contributing to a slow startup.

[2018-08-20 07:31] #4149 closed

[2018-08-20 08:00] The-Compiler commented on #4145
Hah, yep, dumping this into `~/.local/share/qutebrowser/greasemonkey/enhance.user.js` seems to make it start at least:

[code]

[2018-08-21 09:12] Jaegrqualm opened #4152 "Crash on typing that excludes history, after scrolling through history"
Steps to reproduce:
1. type in something to `:open -t` that gives you enough history to scroll through the history, e.g. 'google'
2. scroll through the history with the mouse a little bit (in my case a trackpad, so smooth scrolling)
3. type an additional letter that would not show anything in the history or bookmarks, e.g. "x", so that the line would read `:open -t googlex`
4. it crashes

Expected

[2018-08-21 10:16] toofar commented on #4152
I tested on de8fd25f4351, same webengine, and could not reproduce. Is there anything logged when it crashes? If not maybe you can try following the instructions [here](https://github.com/qutebrowser/qutebrowser/blob/master/doc/stacktrace.asciidoc) to get a core file (maybe run `ulimit -c unlimited` first).

[2018-08-21 10:29] Jaegrqualm commented on #4152
Okay, and here's a segfault from gdb.
[code]
And here's a bit of the leadup debug info.
[code]

[2018-08-21 10:41] toofar commented on #4152
Oh you are on arch (right?) and python3.7 which is different from me. There is a some debug packages for arch in that link above so you can get a full backtrace. Also it might be worth reproducing it with a --temp-basedir, or at least a basedir different from your main one too see if it is something about your history which is causing it.

[2018-08-21 14:10] The-Compiler commented on #4152
I can reproduce this - full gdb stacktrace:

[code]

@rcorre do you have an idea what could be going on here?

[2018-08-21 15:34] rcorre commented on #4152
I can't repro on 1.4.1, but I'll take a look tonight.

[2018-08-21 16:51] The-Compiler commented on #4152
I can reproduce with `python3 -m qutebrowser --temp-basedir  a b c d e f g h i j k l m n o p q r s t u v w x y z ` (and a small enough window size), waiting until they are all loaded, doing `:open duck`, scrolling down, and typing `z` (so I get `:open duckz` with no matches).

[2018-08-22 00:29] rcorre commented on #4152
Expanding on the `python3 -m qutebrowser --temp-basedir a b c d e f g h i j k l m n o p q r s t u v w x y z` example:

1. If you scroll down and scroll back up, no repro
2. If you scroll down but press `TAB` so the selection is in view again, no repro
3. If you scroll down and just type `z`, it reproes. No prior search term is necessary.

[2018-08-22 00:44] rcorre commented on #4152
I'm tempted to call this a Qt bug. When you type `z`, it decides to [hide because there are no completions left](https://github.com/qutebrowser/qutebrowser/blob/a370a0019499f20ad8c0b3f5eeab7f43ccfd9412/qutebrowser/completion/completionwidget.py#L330). At that point, something deep in the Qt logic for `hide()` explodes.

[2018-08-22 01:18] rcorre commented on #4152
We can hack around it by forcing a scroll to the first item before hiding, but I'll look into reporting it to Qt:

[code]

[2018-08-22 05:04] jgkamat commented on #4146
AFAIK, :config-source only reloads config.py, not quickmarks or bookmarks.

That said, if you add quickmarks via :quickmark-add they will get added
properly (although you get less control).

Jakob Steinn writes:

[2018-08-22 07:39] toofar commented on #4152
I still can't reproduce with
[code]

[2018-08-23 00:12] paulclarkaranz commented on #2626
Does anyone have an idea of what the UI for this would look like? I get how the blocking would be handled mostly, but I'm not sure of a good way of letting the user configure it. Or would it just be `:config-source`?

[2018-08-23 00:16] toofar commented on #2626
Does anyone have an idea of what the UI for this would look like? I get how the blocking would be implemented, mostly. But how best to let the user configure it? Or would it just be `:config-source`?

[2018-08-23 08:31] The-Compiler commented on #2626
For this issue and added from-url support, yeah, it'd be something like `config.set('content.block.xhr`, True, url='http://example.com/', from_url='http://www.example.org/')` and `:set --url http://example.com/ --from-url http://example.org/ content.block.xhr` or so.

With #28 there should be a proper UI for the same, similar like [uMatrix](https://addons.mozilla.org/en-US/firefox/addon/umatrix/)

[2018-08-23 09:36] edi9999 opened #4154 "Disabling sound completely on qutebrowser ?"
Hello, I would like to know if it is possible through the config to disable sound completely either on all windows or just a given domain ?

It would be useful to me as some sites have some annoying sounds, and I would even prefer my browser not to make any sound.

[2018-08-23 09:38] edi9999 opened #4155 "Know where sound is coming from"
I think many browsers now show when a sound is played on  a tab :

it looks like this :

![selection_001](https://user-images.githubusercontent.com/2071336/44517824-f510f780-a6c8-11e8-8b95-f4b4c62e5019.png)

It is useful when you want to know where some noise is coming from, it is related to #4154 but not totally the same.

[2018-08-23 10:19] The-Compiler commented on #4154
`:tab-mute` / `<Alt-m>` does so if your Qt version supports it.

[2018-08-23 10:38] The-Compiler commented on #4154
Hmm, reconsidering this, it might make sense to be able to disable sound for a given domain via a setting.

[2018-08-24 06:48] jgkamat commented on #4154
Maybe this could go under #3636? Either way, I think this would be pretty easy to add.

[2018-08-24 07:33] The-Compiler commented on #4154
I don't think this fits in with #3636 as the stuff there is mostly related to [QWebEngineUrlRequestInterceptor](https://doc.qt.io/qt-5/qwebengineurlrequestinterceptor.html), while this would just be a per-url setting to mute a page.

[2018-08-24 09:24] supremew opened #4157 "[bug] when I try open some links by using "f" or ";b", qutebrowser not only open the links and do some other actions"
version :+1:
qutebrowser v1.4.1
Git commit: 2d54cdaec (2018-08-23 21:31:21 +0200)
Backend: QtWebEngine (Chromium 65.0.3325.230)

CPython: 3.6.5
Qt: 5.11.1
PyQt: 5.11.2

sip: 4.19.12
colorama: no
pypeg2: 2.15
jinja2: 2.10
pygments: 2.2.0
yaml: 3.12
cssutils: 1.0.2 $Id$
attr: 17.4.0
PyQt5.QtWebEngineWidgets: yes
PyQt5.QtWebKitWidgets: no
pdf.js: no
sqlite: 3.23.1
QtNetwork SSL: OpenSSL 1.0.2n  7 Dec

[2018-08-24 17:17] GoingFast commented on #3811
@shizy your fix works. thanks man. had the same problem with laggy scrolling however qt-quick to software rendering fixed it

[2018-08-24 19:39] sambanks commented on #345
What is the current status of this? Would this be a good one for a new contrib, with relevant experience (more mkdocs, but some sphinx) to pick up?

[2018-08-24 19:53] The-Compiler commented on #345
@sambanks Hey! I planned to pick this up again as part of work on the plugin API which starts in September. I'd be happy about some help, but we should probably discuss a bit and coordinate this appropriately - I suggest you join [the IRC channel](https://github.com/qutebrowser/qutebrowser#getting-help) and we coordinate things there. Note that I won't be very active for another week or two though

[2018-08-24 19:59] sambanks commented on #345
Sounds good @The-Compiler !

[2018-08-24 20:18] clp opened #4158 "Dead link in FAQ pointing to stacktrace guide"
qutebrowser v1.4.1
Git commit: 65ca15e (2018-08-21 11:48:16 -0700)
Backend: QtWebEngine (Chromium 61.0.3163.140)

In FAQ doc here:
https://qutebrowser.org/doc/faq.html
The **Troubleshooting:My issue is not listed** section (near bottom of file) has a link called 'guide' that points to this URL:
	https://qutebrowser.org/doc/doc/stacktrace.html
That link responds w/ a 404 error.

This URL, with only

[2018-08-24 21:31] #3287 closed

[2018-08-24 21:37] The-Compiler commented on #3287
Looked at this again thanks to https://copy.sh/v86/ and it seems to work fine without any focus tricks being needed :laughing:

[2018-08-24 22:33] bitraid commented on #4158
The code in `doc/faq.asciidoc` has changed in 2d54cda, but as you can see in my comments there, i still find the link in `:help` broken.

[2018-08-24 23:03] nfd9001 opened #4159 "tab-give unloads the given tab"

[2018-08-25 01:07] glglwty commented on #2932
Qt 5.11.1 with QTBUG-68479 patch works for me with HW accelaration (sway 0.15.2, mesa driver).

[2018-08-25 03:32] supremew commented on #4157
Ok, I try it.

[2018-08-25 03:43] supremew commented on #4157
[log.txt](https://github.com/qutebrowser/qutebrowser/files/2320319/log.txt)
I do the ":report" command, qutebrowser is crashed. so I paste it here.

[2018-08-25 05:35] The-Compiler commented on #4157
The log shows that there was another `d` keypress after `fd` which closed the tab. Do you maybe have a very fast key repetition delay configured or something? You might want to set `hints.auto_follow_timeout` which ignores keypresses for a given delay after a hint is followed.

I don't think there's any qutebrowser issue here - either there's something on your system actually generating two keypre

[2018-08-25 05:35] #4157 closed

[2018-08-25 05:38] The-Compiler commented on #2932
@glglwty Huh? What that Archlinux patch does is disabling HW acceleration.

[2018-08-25 06:54] jgkamat commented on #3231
A quick half-baked discussion about this:

[code]

[2018-08-25 07:44] glglwty commented on #2932
@The-Compiler I meant the upstream fix https://codereview.qt-project.org/#/c/232017/

[2018-08-25 17:49] dax-dev commented on #2932
Working fine under Arch with sway-1.0-alpha.5, qt5-5.11.1, qutebrowser-1.4.1

QT_QPA_PLATFORM=wayland QUTE_SKIP_WAYLAND_CHECK=1 qutebrowser

[2018-08-25 18:31] rpietro opened #4160 "Opening multiple pages based on a single search engine"
I currently have the following lines in my config.py, one for each of the italian, american, french and german kindle stores. this works, but would it be possible to create a script where I add one set of terms (say the author's name) and then I get one tab for each search run on each of the countries?

[code]

[2018-08-25 18:35] The-Compiler commented on #4160
You could write a [userscript](https://github.com/qutebrowser/qutebrowser/blob/master/doc/userscripts.asciidoc) which sends four `:open` commands to qutebrowser with the respective search engines.

Something like:

[code]

and then spawn that with `:spawn -u /path/to/script searchterm`, or even add an alias for it. Didn't test it though.

[2018-08-25 18:35] #4160 closed

[2018-08-25 18:46] rpietro commented on #4160
@The-Compiler you're way too fast, man. thanks a ton, this script not only solves this problem but the general structure will help me do a bunch of other things. I will also go over userscripts in detail.

[2018-08-26 08:54] The-Compiler commented on #2932
Looks like I'll need to look at this one yet again :laughing:

FWIW 5.12 has some other changes (mostly [using the Ozone backend](https://codereview.qt-project.org/#/c/220302/)) which might change this situation yet again.

[2018-08-26 13:34] cauimsouza commented on #4154
Can somebody give me some pointers on where to start and also which file should I be looking at to work on it? This would be my first contribution.

[2018-08-26 14:55] The-Compiler commented on #4154
@cauimsouza The main place to look at is the `WebEngineAudio` class in `browser/webengine/webenginetab.py`:

https://github.com/qutebrowser/qutebrowser/blob/59e7adc1e622e1d439073b629b648b0bbaa375c6/qutebrowser/browser/webengine/webenginetab.py#L633-L652

You'll need to change `AbstractAudio` in `browser/browsertab.py` so it takes the `tab` object as first argument, similar to how other classes do

[2018-08-26 15:01] cauimsouza commented on #4154
Thank you, @The-Compiler ! I'll start working on this.

[2018-08-26 17:30] rpietro opened #4161 "Missing hints"
This might be a bug: on the left panel of https://web.whatsapp.com/ , names without a photo will not get a hint, meaning that hey have to be clicked with the mouse. Interestingly, this is still the case when names are shown as part of a group -- see name at the bottom where that person still gets a hint since he does have a phone but the photo is not shown because he is speaking in a group:

![qtb

[2018-08-26 17:37] The-Compiler commented on #4161
I added this to #178 - the issue is that those are just `<div>` elements, and images get hints (but probably shouldn't, see #825).

[2018-08-26 17:37] #4161 closed

[2018-08-26 21:00] hook-s3c commented on #1585
Fresh install Ubuntu 16.04, Python 3.5.2, XPS 13 9350

visited qute://settings and updated the highdpi value above to true;

[code]

[code]

[2018-08-27 08:11] The-Compiler commented on #2743
(Broken) changes from the abandoned PR (#4062):

[code]

[2018-08-27 08:16] The-Compiler commented on #2636
Patch from #4119 (which doesn't reassign any window/tab IDs and thus breaks a lot of things):

[code]

I'd propose waiting until after #640 with this.

[2018-08-27 09:39] tom-doerr opened #4162 "Unable to edit text with editor on Whatsapp"
Version: 1.1.1

Steps to reproduce:
- Focus on Whatsapp text field
- Press <C-e> to open the editor
- Insert text, save and exit

The text doesn't appear in the text box. Interestingly it seems to get inserted somewhere, since the same text appears again when relaunching the editor.

[2018-08-27 09:41] The-Compiler commented on #4162
Duplicate of #2215

[2018-08-27 09:41] #4162 closed

[2018-08-27 09:55] tom-doerr commented on #4162
I saw that issue, and I'm not sure if it's really the same problem. The text entered on https://regex101.com/ is not visible after closing the editor and opening it again whereas the text is still there when you reopen the editor in Whatsapp.

[2018-08-27 10:03] The-Compiler commented on #4162
It's the same issue as in that both websites use some "rich text" editor.

[2018-08-27 11:16] The-Compiler commented on #3992
Qt 5.12 feature freeze is in effect since a week now, unfortunately quite a lot of stuff (notably, notifications) didn't make it :worried:

[2018-08-27 16:56] #4141 closed

[2018-08-28 06:28] matoruru opened #4166 "I cannot insert to any textbox when the browser is restored from force-quit"
I would like to report a things like a bug.

As the title suggests, I cannot insert to any textbox when the borwser is restored from force-quit such as poweroff, reboot...
This problem was NOT SOLVED by using F5 but it was SOLVED by using :reload command.

So I think there are bugs at F5 or a reload process because of this experiences.

If this behavior is not a bug, I am so sorry.

<hr>
Version i

[2018-08-28 13:32] agguser commented on #521
Please add a hint to reload a broken image.

[2018-08-28 14:12] rprimus opened #4167 "[macOS] [Settings] [Proxy] [System] off by default - how to turn on in settings?"
<details>
<summary>System Info:</summary>

#### System Info

ProductName:	Mac OS X
ProductVersion:	10.13.6
BuildVersion:	17G65

[code]
<hr>
</details>

Discovered `qutebrowser` from [here](https://spyware.neocities.org/articles/qutebrowser.html).

The first thing I checked was the proxy settings and operation.   Following on from https://github.com/qutebrowser/qutebrowser/issues/2934, I decided to

[2018-08-28 18:25] JonathanReeve opened #4168 "Feature request: repeat last search with another search engine"
I find myself often wanting to repeat a search with a different search engine. For instance, if I search DuckDuckGo with `:open searchterm`, but am not satisfied with the results, I'd love to do something like `:repeatSearch g` (g is my shortcut for Google) which would be equivalent to `:open g searchterm`, or performing the same search again, but through Google.

If there's already a way to do th

[2018-08-28 20:04] jgkamat commented on #4168
For ddg in particular, my workflow is `o` (open) `Ctrl-p` `!g` `<enter>`.

You might be able to make a bind for this by using a bind to go to the start of the previous open command, delete the searchengine, and repeat it with what you want.

(eventually, I'd like to write a plugin to merge `!g` style and qb style quickmarks)

[2018-08-29 00:37] JonathanReeve commented on #4168
That's awesome, @The-Compiler. Although it doesn't quite work in the case I outline in my first comment, since in the first case, I'd be using my default search engine. So `:open term1 term2` would be the first search, and then `:repeat-search` would transform that command to `:open term2`. And if it's something opened in a new tab, the first search command would be `:open -t g term1 term2`, which

[2018-08-29 01:36] ExpandingMan opened #4169 "unable to completely set HTTP accept header"
with
[code]
my accept header is reading as
[code]
So it seems as if qutebrowser is always appending the string `" gzip, defalte, br en-US,en"` to the accept header.

Is there a way to explicitly set the *entire* accept header?

By the way [this site](https://panopticlick.eff.org/) from EFF is useful for testing this.

I'm on version 1.4.1.

Thanks all.

[2018-08-29 06:19] The-Compiler commented on #4169
Testing with this, it looks fine here:

[code]

but on panopticlick I indeed get the same value as you.

I've also looked at the header being sent with [mitmproxy](https://mitmproxy.org/) and it's indeed the correct `text/html, */*; q=0.01 gzip, deflate, br en-US,en;q=0.5`, so I'm tempted to call this some kind of panopticlick bug.

[2018-08-29 06:19] #4169 closed

[2018-08-29 06:56] mschilli87 commented on #4168
Personally, I use [a userscript](https://userscripts-mirror.org/scripts/show/129505) that adds links to the same search in other search engines to the ddg page. So in your use case, all you'd have to do is follow a hint (in the same tab or a new, whatever you prefer).

[2018-08-29 07:43] NoctuaNivalis commented on #4169
Panopticlick just appends your `Accept-Encoding` and `Accept-Language` to it, yes?

[2018-08-29 08:29] ExpandingMan commented on #4169
Also checked [here](https://browserleaks.com/ip), seems you are right, panopticlick is not only reporting the wrong header it is also misinforming users as to the frequency of their header as a result.

Thanks all.

[2018-08-29 12:46] Al-Caveman opened #4170 "phishing possibility due to the way url shortening is done"
this url, and maybe any long url, is shortened in such a way that "indiatimes.com" becomes just "indiatimes. ..." without the tld.  this makes fishing easier.

example url:
https://economictimes.indiatimes.com/news/defence/indian-army-carries-out-drills-in-counter-terrorist-environment-in-russia/200-member-indian-contingent/slideshow/65589215.cms

[2018-08-29 14:00] hitsfromdabong opened #4171 "Cannot enter character from meta-layer in normal mode"
I use an optimized keyboard layout called AdNW. It is similar to Dvorak, but also includes an additional layer where all the special characters are mapped in a convenient and ordered manner. See:
![image](https://user-images.githubusercontent.com/42746238/44791958-26933280-aba3-11e8-8cb6-378c45c19ab5.png)

On my implementation I use "Alt" as the modifier. (As I run macOS I then use Karabiner-Eleme

[2018-08-29 21:35] blueyed opened #4172 "Lower priority for 404 pages in history"
After opening https://github.com/qutebrowser/qutebrowser/404, `:open` will display this link on top - although it was a page that was not found.

While it should be still in the history, it should get a lower priority.

I think all pages with status codes not starting with 2 should get this, although something like 500 might be working on the next try again - so rather only assign a lower prio to

[2018-08-29 23:32] jgkamat commented on #4170
For me, this appears to happen in firefox as well if the window is small. I'm
not sure if we can solve this easily...

Toraboran Caveman writes:

[2018-08-30 00:02] Al-Caveman commented on #4170
i tried with firefox, and firefox does not ommit the tld, it looks something like this: https://economictimes.indiatimes.com/.../65589215.cms -- which is correct imo (note tld visible).

[2018-08-30 01:12] jgkamat commented on #4170
ah, I was shrinking the page too much and getting something like this
https://s25.postimg.cc/4je6iuuxb/2018-08-29-180638_505x273_scrot.png

I'm still not sure if we can implement this though, I'm pretty sure qt handles
the shortening but maybe there's some tweakables to it that allow it to be
optimized for urls.

Toraboran Caveman writes:

[2018-08-30 05:50] #4170 closed

[2018-08-30 05:51] The-Compiler commented on #4170
Well caught, and an easy fix! :wink:

[2018-08-30 07:46] maxf130 opened #4174 "Is it possible to have per domain cookies retention policies with QtWebEngine?"
As the title says: Is it possible to only retain cookies from some domains?

I'm dimmly aware that such things might be possible with QtWebKit, but not necessarily with QtWebEngine.  Can somebody confirm that?

If so, is this a limitation of QtWebEngine or of qutebrowser?

Many Thanks

Max

[2018-08-30 08:01] The-Compiler commented on #4174
It's possible with Qt >= 5.11, but not implemented yet - see #3636.

[2018-08-30 08:01] #4174 closed

[2018-08-30 08:01] toofar commented on #4174
If you mean to be able to make the `content.cookies.accept` setting have a defferent value for different domain then not right now. No-one has gotten around to implementing it yet. I don't think it would be hard to add though, there is some discussion of it in #3636, the comments at the bottom are more up to date than the main issue text.

The things to change would be for webengine in `qutebrowse

[2018-08-30 08:02] The-Compiler commented on #4174
To clarify: *Accepting* cookies per-domain is possible. Accepting them globally but only *storing* them selectively isn't.

[2018-08-30 08:11] supremew opened #4175 "Can't play video in fullscreen in adobe flash player."
example:
1. I can't play the video in fullscreen in adobe flash player, "http://movie.le.com/izt/2018jmzb/index.html"
2. can't play video in the "http:youku.com", the reason is likely it can't get the right video url address.

[1.txt](https://github.com/qutebrowser/qutebrowser/files/2335229/1.txt)

[2018-08-30 15:27] blueyed opened #4176 ""copy as curl" command"
It would be useful to have a command that would generate and copy a curl command to get the current tab's web page from the command line.

There is a related issue to get this via dev tools (https://github.com/qutebrowser/qutebrowser/issues/1625), but I think it makes sense to have it without using `--enable-webengine-inspector`, and as a command itself.

I've quickly looked at https://github.com/

[2018-08-30 15:31] blueyed commented on #4172
@jgkamat
I am not sure about it either, but it is just a quick idea I had.

Reloading is much easier via <kbd>r</kbd> / `:reload` already, or <kbd>:</kbd> <kbd>Ctrl</kbd>-<kbd>p</kbd>.

Is the history just sorted by last-access currently?

[2018-08-30 15:34] The-Compiler commented on #1625
FWIW this works just fine on Qt 5.11 with the inspector.

[2018-08-30 15:35] The-Compiler commented on #4176
You can do this in the dev tools, which don't need `--enable-webengine-inspector` anymore since Qt 5.11. There's no API to expose this via a command (but also see #1504 which goes in a similar direction).

[2018-08-30 15:35] #4176 closed

[2018-08-30 15:37] The-Compiler commented on #4172
I currently don't want to go away from the current time-based sorting (indeed only by last-access), but see #601 which explores some other ways how sorting could be improved in the future.

Note that there's no API to get the detailed status code, all we can tell is whether there was an error or not.

[2018-08-30 15:37] #4172 closed

[2018-08-30 15:59] The-Compiler commented on #4175
QtWebEngine does [not support Flash fullscreen](https://bugreports.qt.io/browse/QTBUG-51306), and since [Flash is going away soon](https://www.chromium.org/flash-roadmap) this probably won't change.

I see the same behavior (redirecting to a 404 page) in Chromium, so it's probably the page's fault.

[2018-08-30 15:59] #4175 closed

[2018-08-31 03:18] jgkamat commented on #4166
Hmm, I don't think I can reproduce this when I kill qutebrowser forcefully
(eg: kill -9).

Can you try opening with qutebrowser --temp-baesdir? Maybe some files got
corrupted in the crash, and that's what causing this (in which case you could
try making a new basedir or deleting out the offending files).

matoruru writes:

[2018-08-31 03:56] jgkamat commented on #4167
R Primus writes:

That's quite odd, for me:

[jay@laythe ~]$ export http_proxy=socks5://localhost:9150                                                                                                                                           [11011]  8:47PM
[jay@laythe ~]$ python3

[2018-08-31 04:56] rprimus commented on #4167
Fri Aug 31 05:37:01 BST 2018

A default `config.py` was created using `:config-write-py` (file created in `~/.quotebrowser/config.py`).

Adding `from PyQt5.QtNetwork import QNetworkProxyFactory; QNetworkProxyFactory.setUseSystemConfiguration(True)` at the end of the file has no effect.

[2018-08-31 15:11] Aster89 opened #4177 "`:open \ something` opens first result of `:open something` - intended behavior?"
This is not bug report. Anyway I use [this version](https://paste.the-compiler.org/view/052c9b5e), which should be the current one from official repo.

As I pointed out in a minor comment at [this answer](https://stackoverflow.com/a/51789076/5825294), I noticed by pure chance that entering `:open \ something` is equivalent to running `:open something` **and then** opening the first result of the s

[2018-08-31 15:15] The-Compiler commented on #4177
The same happens when you enter `\ something` [on DuckDuckGo](https://duckduckgo.com/) - it's a DuckDuckGo feature.

[2018-08-31 15:15] #4177 closed

[2018-08-31 19:07] The-Compiler commented on #2967
Some other optimizations to be done:

- Make sure no change handlers run when the config is initially read, as this is before anything else reads the config anyways.
- Only run change handlers when the value actually changed (how to handle per-domain settings there, though?). Note that for some settings, like `content.user_stylesheets`, we want to be able to re-read the files by setting the option

[2018-08-31 19:10] The-Compiler opened #4179 "Use URL patterns for content.host_blocking.whitelist"
For historical reasons, the `content.host_blocking.whitelist` setting uses [fnmatch](https://docs.python.org/3/library/fnmatch.html) (see `is_whitelisted_host` in `browser/adblock.py`).

Now that we have [URL patterns](https://github.com/qutebrowser/qutebrowser/blob/master/qutebrowser/utils/urlmatch.py), it should use those instead.

[2018-09-01 13:11] The-Compiler commented on #3630
Almost all of them are `SQLITE_IOERR` (disk I/O error) or `SQLITE_CANTOPEN` (can't open database). I'll add those to `environmental_errors`.

[2018-09-01 20:16] prosoitos opened #4182 "Way to stop animations?"
Is there a way to stop all gif and other animations in qutebrowser? (e.g. some kind of equivalent to one of these tools https://www.pcmag.com/article/345706/how-to-stop-animated-gifs-from-auto-playing-in-your-browser).

Thank you!

[2018-09-01 20:40] The-Compiler commented on #4182
I've looked at a couple of things, but found nothing unfortunately.

- The [Animation Policy](https://chrome.google.com/webstore/detail/animation-policy/ncigbofjfbodhkaffojakplpmnleeoee?hl=en) addon listed there ([source](https://cs.chromium.org/chromium/src/ui/accessibility/extensions/animation/popup.js?sq=package:chromium&dr&g=0)) is quite simple and uses the `chrome.accessibilityFeatures.animat

[2018-09-01 20:40] #4182 closed

[2018-09-01 20:43] The-Compiler opened #4183 "Unhide scroll bar while a search result is displayed"
We hide the scroll bar by default, but we should probably always show it with QtWebEngine while showing a search result, as qutebrowser can display the results there (like Chromium):

![image](https://user-images.githubusercontent.com/625793/44949747-57d86080-ae38-11e8-980a-6b3f1bd0feaf.png)

[2018-09-01 20:50] prosoitos commented on #4182
OK. Thank you for your quick reply. And thanks for pointing out the `content.autoplay` option. It is mostly gif that I was hoping to stop and I guess those won't be blocked by it(?)

[2018-09-02 02:08] matoruru commented on #4166
@jgkamat
if I used --temp-basedir option as you said, then the probrem did not occur!

[2018-09-02 07:40] The-Compiler commented on #4182
Yeah, I think it'll only affect videos (and "GIFs" which are actually videos, like on imgur).

[2018-09-02 10:26] hook-s3c opened #4184 "hidpi - issue with config, won't start - is this a quick fix?"
Fresh install Ubuntu 16.04, Python 3.5.2, XPS 13 9350

visited qute://settings and updated the hi-dpi value above to true;

[code]

[code]

[2018-09-02 12:08] The-Compiler commented on #4184
I've never seen that happen, but it looks like some issue with Qt (or even GTK, which IIRC is used for things like native file dialog) - also see e.g. https://github.com/daniruiz/flat-remix/issues/72

Nothing qutebrowser can do about this I'm afraid...

[2018-09-02 12:08] #4184 closed

[2018-09-02 14:27] hook-s3c commented on #4184
Actually, that can't be it - I `ln -s`'ed the svg files and the error still occurs - looking further up the trace there are other files missing, but these don't break to exit

[2018-09-02 14:47] ibr123 commented on #1054
I'm using **Qt 5.10 on Visual Studio 2017**, this error is more frequent on **Release** build rather than **Debug** build, do you have any idea on how to solve this issue? i have been searching all around but no luck

[2018-09-02 15:15] jgkamat commented on #4166
In that case, the problem is most likley in your config, or in the internal
files that qtwebengine stores. You can look at :version for the location of
the directories where files are stored (usually ~/.config/qutebrowser,
~/.local/share/qutebrowser and ~/.cache/qutebrowser

If moving your config dosen't help, I would try moving away the cache and then
~/.local/share/qutebrowser. Most likley, this

[2018-09-02 16:11] The-Compiler commented on #1054
@ibr123 It's a bug in Qt, this probably isn't really the right place for general Qt questions. I'm surprised to hear that you're still having trouble though, looking at e.g. [this Qt bug](https://bugreports.qt.io/browse/QTBUG-55180) it seems to [have been fixed](https://codereview.qt-project.org/#/c/212187/) with Qt 5.9.6 (and 5.10).

[2018-09-03 09:47] The-Compiler commented on #4183
@sumit9696 There's already a PR open for this by @Synray (#4186), so it's probably better if you pick something else :wink:

[2018-09-03 09:47] The-Compiler commented on #4179
@sumit9696 Nobody has worked on this yet, and it should be a good newcomer issue - so please do, and feel free to ask if you need help!

[2018-09-03 09:51] sumit9696 commented on #4179
Ok.. Thanks...

[2018-09-03 20:16] The-Compiler opened #4188 "Support URL patterns in custom adblock lists"
Until we get around to #29, we could at least support adding URL patterns to `~/.config/qutebrowser/blocked-hosts` for some more custom blocking flexibility. Probably shouldn't accept pattern for normal (downloaded) adblock lists though as it's not a common format.

[2018-09-04 06:35] umrwifi opened #4190 "macos chunkwm WM cant tilling this window"
rt

[2018-09-04 07:14] toofar commented on #4179
This should probably build on top of https://github.com/qutebrowser/qutebrowser/pull/4181/commits/7fb222464000de15dac945b40712615fd546d9c3 so that custom validation of the patterns doesn't need to be done.
The `config.val.content.host_blocking.whitelist`
The whitelist check is here https://github.com/qutebrowser/qutebrowser/blob/25c189d8d469b123a9284847e48f4cbfc5a2fa0b/qutebrowser/browser/adblock.

[2018-09-04 09:49] The-Compiler commented on #4190
Duplicate of #4067

[2018-09-04 09:49] #4190 closed

[2018-09-04 20:20] #3341 closed

[2018-09-04 21:47] #4059 closed

[2018-09-05 07:55] zaowen commented on #464
Can I do this?

[2018-09-05 08:05] The-Compiler commented on #464
@zaowen Sure, go ahead!

[2018-09-05 10:11] rndusr commented on #68
I think the `fake-key` hack should be documented in the FAQ or something.

Being forced to use the cursor keys until I found this issue was probably the
biggest hurdle for me. I had to find the `fake-key` hack and then figure out the
shortcuts, like <Ctrl-Right>. I would've been absolutely delighted to find
something like this:

[code]

[2018-09-05 10:16] The-Compiler commented on #4040
Note that we crash with an assertion (but Chromium does too) when opening a private window with `--single-process`. So if we add a value for that, we should avoid opening private windows.

[2018-09-05 12:40] The-Compiler opened #4192 "Separate config validation from conversion"
Before the new config system in v1.0.0, validaton and conversion were separated in configtypes.py. The new config merged the two, as often they had very similar code.

However, this turns out to be a quite big performance hog when a completion option is retrieved repeatedly, e.g. for tabs (#4185) or converting the web history (https://github.com/qutebrowser/qutebrowser/pull/4185#issuecomment-41871

[2018-09-05 12:42] The-Compiler opened #4193 "Cache converted config objects"
With some config types (like `UrlPattern`, converting them is somewhat expensive. The cache in #4185 helps in places where this is really bad, but maybe we should do this for the config in general.

[2018-09-05 12:48] #3538 closed

[2018-09-05 22:13] rien333 commented on #1585
My qutebrowser is sort of in a weird state rn from messing with dpi related environment variables (which I can't get really get anything good out of), is changing the default zoom a viable option? It seems that some web elements might get weird and images might get too zoomed (or too far off) if you change the default zoom value.

[2018-09-06 15:13] rr- opened #4195 "Prev/next page hotkeys don't respect base URL"
<details>
<summary>Qutebrowser version (click to expand)</summary>
<pre>
qutebrowser v1.4.1
Git commit: b962c5c4d (2018-08-13 14:33:53 -0700)
Backend: QtWebEngine (Chromium 65.0.3325.230)

CPython: 3.7.0
Qt: 5.11.1
PyQt: 5.11.2

sip: 4.19.12
colorama: 0.3.9
pypeg2: 2.15
jinja2: 2.10
pygments: 2.2.0
yaml: 3.13
cssutils: no
attr: 18.1.0
PyQt5.QtWebEngineWidgets: yes
PyQt5.QtWebKitWidgets: yes
pdf.js

[2018-09-06 15:16] mahaaaham opened #4196 "being "stuck" in a search bar"
Hi,

  I'm not sure if this is a bug of if I haven't iunderstand something so, I apologise if it is the case.

  When I'm, for example, in google, in the "search bar" and I want to quit it, I don't know of to "quit" the bar without the mouse. This is a problem because I'm forced to either use the mouse (and click anywhere in the page) or use "ctrl-f ctrl-g" to scroll the page: I can't use j and k

[2018-09-06 15:16] The-Compiler commented on #4195
Duplicate of #739

[2018-09-06 15:16] #4195 closed

[2018-09-06 15:28] The-Compiler commented on #4196
Currently the easiest way is using the mouse indeed - #2668 has some discussion on this already, and some of the open PRs by @jgkamat will hopefully help with this.

[2018-09-06 15:28] #4196 closed

[2018-09-06 17:09] The-Compiler commented on #2330
Debugging this from the JS side, the crash happens [around here](https://github.com/mozilla/pdf.js/blob/v1.9.426/web/view_history.js#L76) - after that line, the promise gets returned, the "then" on line 32 is highlighted, and one step later the loading continues somehow and crashes.

[2018-09-06 20:26] The-Compiler commented on #2330
Pushed my work to the `pdfjs` branch in this repo now, as it finally looks like I have something usable.

@Kingdread can I talk you into a review once it's finished, or rather not? :wink:

[2018-09-06 21:33] Al-Caveman opened #4197 "how to apply per domain user css?"
latest git version.

[2018-09-06 21:36] jgkamat commented on #4197
The per domain css patch is here, it's not fully reviewed/merged yet: https://github.com/qutebrowser/qutebrowser/pull/3854

[2018-09-06 22:18] #4197 closed

[2018-09-07 09:52] Yodzorah commented on #3636
Would be very helpful to have `content.javascript.can_access_clipboard` setting here. It's, actually, the only way to have keyboard management in qutebrowser working properly for all websites whether they're using their own keybindings or not. Block it by default and allow for some domains.

Btw, can I ask, why the setting is not working with `QtWebEngine`? Is there a chance is will work for it so

[2018-09-07 09:54] The-Compiler commented on #3636
@Yodzorah `content.javascript.can_access_clipboard` already supports per-domain settings. It also works fine with QtWebEngine. What you describe seems to have nothing to do with the clipboard at all, I don't really follow.

[2018-09-07 10:30] Yodzorah commented on #29
1. What about requests blocking via our two backends? Do they support domain patterns? And if not, what about `dnsmasq`?

2. uBlock, AdBlock, etc. suck. Sorry, but it's true. They work on similar rulesets for request blocking (with patterns, though), css and js and they are centered on just removing ads. They have full control over files, scripts, etc., they have full functionality for full contro

[2018-09-07 10:31] The-Compiler opened #4198 "Register qute:// URL with Chromium on Qt 5.12"
As soon as we can, we should register the `qute://` URL scheme with Chromium on Qt 5.12:

https://bugreports.qt.io/browse/QTBUG-70420
https://bugreports.qt.io/browse/QTBUG-70421

We already have some related code with will break on Qt 5.12 without the scheme being registered.

This also should allow us to mark `qute://` as a local-only scheme as an additional protection against #4198.

[2018-09-07 10:36] Yodzorah commented on #3636
@The-Compiler,

... Sorry, mixed this up. Have read 'keyboard' instead of clipboard, very sorry.

[2018-09-07 10:41] The-Compiler commented on #29
@Yodzorah

1) See #4188, though real adblock lists would also be patterns. Not sure what you're asking about dnsmasq.

2) You're free to have your opinion, but not everyone wants to spend time configuring rules on every website they visit. I'd like to have both in the long run.

3) That sounds quite similar to uMatrix, see #28 (and also #2626)

[2018-09-07 10:42] The-Compiler commented on #3636
FWIW websites can not override qutebrowser bindings (they don't even get to see keys bound in qutebrowser). If you're talking about hjkl on DuckDuckGo, those simulate cursor keypresses. You can rebind them to `:scroll-px` instead, but then scrolling will break on other pages. #3691 will hopefully help.

[2018-09-07 11:16] Yodzorah commented on #29
@The-Compiler,

2. My option doesn't require users to configure websites all the time in order to get rid from ads. It can do both with the functionality of usual adblockers, while the usual adblockers with functionality of usual adblockers can only block ads. I just don't think it's a good idea to have such highly specialized tool that, in fact, can do more really useful stuff with the same 'effo

[2018-09-07 11:19] The-Compiler commented on #29
I'm not sure what you're trying to achieve with this discussion - like I said above I'd like to have both, as both solutions have their benefits and drawbacks. This is not the right place to discuss whether adblockers are a good thing or not.

[2018-09-07 11:30] Yodzorah commented on #29
@The-Compiler, I was trying to convince you to not try usual adblockers until you will be sure there is no flexible solution) Maybe, it was not wise, but I should have try at least - I'm using qutebrowser because of its flexibility, so if this won't be the case, I will lose even a half-comfortable browser and will be forced to migrate on Vivaldi, because with the same low level of flexibility it a

[2018-09-07 11:34] toofar commented on #29
There is no plan for qutebrowser to support the usual adblockers. See https://github.com/qutebrowser/qutebrowser/issues/2626 for a discussion about a flexible request blocking framework and https://github.com/qutebrowser/qutebrowser/issues/28 for a prettier UI over that.

[2018-09-07 11:50] Yodzorah commented on #3636
@The-Compiler, ... I understood nothing, sorry. What cursor keypresses? When I type j/k on Duckduckgo, website snippets behave like under :hover event, not keypress. And when I 'keypress' with cursor on a snippet, its website opens.

[2018-09-07 12:17] mschilli87 commented on #3636
@Yodzorah: As far as I understood, 'cursor keypress' means 'pressing [cursor keys](https://en.wikipedia.org/wiki/Arrow_keys)'. Hope this helps.

[2018-09-07 13:18] Yodzorah commented on #3636
@mschilli87, thank you, that makes sense)

@The-Compiler, the problem is not with inability to navigate through Duckduckgo pages - it's in inability to have keybindings actually working equally for all websites. If Duckduckgo can change default behaviour on `j`/`k`, other websites can, too. I'm not sure I can serf the web with keyboard-driven browser if hotkeys can be defined by websites' develope

[2018-09-07 13:31] The-Compiler commented on #3636
@Yodzorah But that's not the case. hjkl scroll by sending cursor keypresses to the website (like I've explained above), and the website can handle those.

[2018-09-07 13:40] The-Compiler commented on #3636
I'm now hiding all the off-topic comments here. If you want to continue this discussion, let's please do so in the [IRC channel](https://github.com/qutebrowser/qutebrowser#getting-help).

[2018-09-07 13:40] Yodzorah commented on #3636
@The-Compiler, I don't understand. If most of websites can handle cursor keypresses, what's wrong with Duckduckgo? I still can't figure out how it works. Implementation of `j`/`k` actions is the same for all websites, so if it does not work for some of them, it's because of their code. In most cases, it's js, sometimes it's just frames issue. As far as I understand, when real cursor keypresses inv

[2018-09-07 13:42] Yodzorah commented on #3636
@The-Compiler, can I create a new issue on the topic later? I don't have IRC and for now I even don't know how to use it.

[2018-09-07 13:45] The-Compiler commented on #3636
No, the issue would be invalid, because it's based on the incorrect assumption that websites can get qutebrowser keypresses. I don't know how else to explain it. Like I've said earlier already, there's #3691 which will help by not doing scrolling by emulating keypresses.

[2018-09-07 13:49] The-Compiler commented on #29
Note I've already linked those [above](https://github.com/qutebrowser/qutebrowser/issues/29#issuecomment-419400209), but whatever...

[2018-09-07 13:57] Yodzorah commented on #3636
@The-Compiler,

... but it's not. Seems like we have terminological misunderstanding.

JS code can read what keys were pressed by the user. So, I assume, when qutebrowser imitates cursor keypresses (Arrows, right?), Duckduckgo _reads them as cursor keypresses_, but binds unusual behaviour to them. So, if one will open Duckduckgo from Chrome without any browser keybindings at all, and use standard

[2018-09-07 14:38] The-Compiler opened #4199 "Apostrophes sometimes show as HTML escapes in the completion"
When doing `python3 -m qutebrowser --temp-basedir -s aliases '{"x": "session-load -c custom-sess"}'` and doing `:x`, the apostrophes in the description show up as escapes (but that isn't always the case):

![image](https://user-images.githubusercontent.com/625793/45225231-584f7c00-b2bc-11e8-9de5-d4f83a00296d.png)

Maybe Qt interprets it as plaintext instead of rich text?

cc @rcorre if you feel li

[2018-09-07 14:44] The-Compiler commented on #4199
Ah, looks like we're first running `html.escape` over the text, and then replacing highlighted parts, causing us to replace the `x` inside the HTML escape.

[2018-09-07 15:50] lockeadams commented on #3596
This issue is still affecting me, any updates?

[2018-09-07 15:54] The-Compiler commented on #3596
@lockeadams so far nobody has looked at it, and the Qt bug behind it still isn't fixed as far as I know. If there are updates, subscribing to the issue is the best way to know about them.

[2018-09-07 17:27] The-Compiler commented on #3364
@marc-groundctl What Qt version are you on? I suppose you could do a similar workaround automatically via a Greasemonkey script.

[2018-09-07 17:28] The-Compiler commented on #3364
There's also [QTBUG-70081](https://bugreports.qt.io/browse/QTBUG-70081) which you might be seeing here.

[2018-09-07 17:38] marc-groundctl commented on #3364
qutebrowser v1.4.2
Git commit: 5aa69027e (2018-09-02 14:55:39 +0200)
Backend: QtWebEngine (Chromium 65.0.3325.230)

CPython: 3.6.5
Qt: 5.11.1
PyQt: 5.11.2

sip: 4.19.11
colorama: 0.3.9
pypeg2: 2.15
jinja2: 2.10
pygments: 2.2.0
yaml: 3.13
cssutils: 1.0.2 $Id$
attr: 18.1.0
PyQt5.QtWebEngineWidgets: yes
PyQt5.QtWebKitWidgets: no
pdf.js: no
sqlite: 3.23.1
QtNetwork SSL: OpenSSL 1.0.2k  26 Jan 2017

St

[2018-09-07 19:05] jgkamat commented on #3596
Just to increase visibility, please go vote for [QTBUG-65223](https://bugreports.qt.io/browse/QTBUG-65223). I'm pretty surprised it's not fixed yet :(

[2018-09-07 20:07] cauimsouza commented on #4132
Could I start working on this?

[2018-09-07 20:08] The-Compiler commented on #4132
@cauimsouza Sure, go ahead! :+1:

[2018-09-08 01:36] jgkamat commented on #3573
My 2c on this is that just because chrome does some ui change, doesn't mean we should do it either. Many people use qb precisely because google cannot control its ui. Since we are already marking `https` as "secure" with green, I don't think we need to push it any more. When I see 'red/yellow' I think more of 'errors' than 'no ssl' (and because of that, I would put the setting back to the default)

[2018-09-08 02:02] R3load commented on #3573
The ability to set a custom status string for those would be nice, so I can put a padlock in there :^)

[2018-09-08 07:17] sudo-nice opened #4200 "Qutebrowser is leaking ip over WebRTC"
As you can see it [here.]

[code]

[here.]: https://ip.voidsec.com/

[2018-09-08 09:26] The-Compiler opened #4201 "Expose force-webrtc-ip-handling-policy=disable_non_proxied_udp flag"
While we can set `content.webrtc_public_interfaces_only`, that only prevents leaking the private IP via WebRTC (it still exposes the real public IP when using a proxy).

Instead, we should probably migrate to a `content.webrtc_ip_handling` setting with values `default-public-and-private-interfaces`, `default-public-interface-only` and `disable-non-proxied-udp` corresponding to the respective [Chro

[2018-09-08 09:27] The-Compiler commented on #4200
Hmm, turns out I was wrong - while Qt exposes a setting for this, it only allows to restrict exposing private IPs. However, WebRTC can be restricted further by setting `qt.args` to `[force-webrtc-ip-handling-policy=disable_non_proxied_udp]`.

I've opened #4201 to expose that as a qutebrowser setting.

[2018-09-08 09:28] The-Compiler commented on #4201
Note you can already set `qt.args` to `['force-webrtc-ip-handling-policy=disable_non_proxied_udp']`.

[2018-09-08 09:28] The-Compiler commented on #2163
It looks like with that Qt setting set, private IPs aren't leaked anymore, but public IPs still are - see #4201.

[2018-09-08 09:34] The-Compiler commented on #4166
@matoruru Any update on this? Would be good to find out if there's something special in your config which causes this.

[2018-09-08 09:42] sudo-nice commented on #4200
Confirming as a working solution, thank you!

[2018-09-08 17:14] bengartner commented on #3457
I'm working on a fix based on this:
https://asciidoctor.org/docs/user-manual/#navigating-between-source-files

Will be my first PR :)

[2018-09-08 18:02] thamma opened #4203 "Hooks"
Hey fellow qb users,

I implemented notification hooks to send notification for finished downloads. I think hooks in generel could be useful, but I assume that's something the plugin API should take care off.

What's the state of the plugin API at the moment? Do you think hooks could be a temporary solution for some features that the plugin API would provide? What do you think about that?

[2018-09-08 19:59] jgkamat commented on #4203
Yup, the way I understand it, hooks would be a natural part of the plugin api (using qt signals/slots). How are you exposing the hook currently?

[2018-09-08 20:09] thamma commented on #4203
Currently, the hooks are hardcoded subprocess calls. Obviously, this is subject to change.

I take a lot of inspiration from [git hooks](https://git-scm.com/book/pl/v2/Customizing-Git-Git-Hooks). Each hook is one executable file. This allows the user to have freedom of programming languages (be it python scripts or simple bash calls to notify-send) using shebang. Arguments (for instance name of th

[2018-09-08 20:16] thamma commented on #4203
Browsing the project some more, i discovered @The-Compiler's intention to tackle the plugin API in the upcoming semester as a [student research project (german)](https://wiki.hsr.ch/StefanKeller/wiki.cgi?SA_HS18_Bruhin_Schwab_Aufgabenstellung).

[2018-09-08 20:32] thamma commented on #4203
I doubt these hooks would require complex information in the first place. Otherwise, JSON would likely be a suitable solution. Anyway, this won't be an issue due to the likely soon to be upcoming plugin API.

Good point on the download watcher.

Linking to [issues/30](https://github.com/qutebrowser/qutebrowser/issues/30) for future reference, I think we can close this issue.

[2018-09-08 20:39] #4203 closed

[2018-09-09 01:34] l29ah commented on #3013
@benbenolson could you make the bitmap fonts work?

[2018-09-09 03:16] rpietro opened #4205 "Shortener"
I know this is pretty basic, but I have been trying to write a userscript for a while without getting anywhere: the goal is to assign the ss keybinding to shorten the current url using bitly (for the lack of a better one). One of the many things I tried was a script file called shortener (permission set with `chmod +x`) with:

[code]

where mytoken was obtained with:

`curl -u "username:pwd" -X PO

[2018-09-09 06:17] jgkamat commented on #4205
qutebrowser dosen't provide an api for writing to the clipboard through userscripts. I think that script will write the literal string `open -t https://api-ssl.bitly.com/v3/shorten?format=txt&access_token=
    mytoken%&longURL=QUTE_URL` to a file called `{clipboard}`.

First, create a curl or wget command which shortens a URL stored in `QUTE_URL`. This might be something like:

[code]

Then, pass

[2018-09-09 07:44] R3load commented on #4205
In `longURL=QUTE_URL`, 'QUTE_URL' is a string, not a variable reference.

[2018-09-09 08:46] The-Compiler commented on #4205
Closing this as it looks like it should work after those changes :wink: I agree with @jgkamat, would be cool to have this in the `userscripts` folder, with the API key in a variable or something!

[2018-09-09 08:46] #4205 closed

[2018-09-09 09:30] The-Compiler commented on #68
Someone would first need to verify (ideally by writing tests) that those keybindings work as expected, and also do so on macOS and Windows.

[2018-09-09 15:17] matoruru commented on #4166
@The-Compiler Nothing in particular. But I might find something.

In case of restored browser from reboot or poweroff => this problem is occured.
In case of restored browser from kill => this probrem is NOT occured.

[2018-09-09 22:00] rpietro commented on #4205
thanks everybody for your responses. addressing @jgkamat 's suggestion, here is the final working code for the userscript:

[code]

and the keybinding:

`config.bind('ss', 'spawn --userscript shortener')`

@The-Compiler I can send this as a pull request if you think that a version without an API key would be useful.

[2018-09-10 01:20] prosoitos opened #4208 "Loading issue?"
Is anyone else having issues while loading pages?

For the past couple of weeks, I have had to refresh many pages (sometimes several times) to have them fully load. If I don't, the loading process stops without having completed and I get no error message. This is something that I never noticed until rather recently and I do not experience if testing the same pages on another browser.

(Let me know

[2018-09-10 04:58] matoruru commented on #4166
When I use kill -9 to kill the browser forcefully, this problem is occured. I think it is same to reboot and poweroff.

@jgkamat said about kill -9, so I realized. I didn't know kill -9 until now. Thank you @jgkamat .

[2018-09-10 07:43] NoctuaNivalis commented on #4208
Can't say I've run into this myself. Is this related to some specific pages or does it just occur at random anywhere?

Maybe you could try to reproduce this with `--temp-basedir`, if it occurs often?

[2018-09-10 07:55] prosoitos commented on #4208
Seems to happen at random anywhere.

[2018-09-10 10:29] The-Compiler commented on #1218
Fixed with the PDF.js rewrite which just landed in master!

[2018-09-10 10:29] #1218 closed

[2018-09-10 10:29] The-Compiler commented on #1557
Fixed with the PDF.js rewrite which just landed in master!

[2018-09-10 10:29] #1557 closed

[2018-09-10 10:35] The-Compiler commented on #2330
I now merged the `pdfjs` branch, so this is ready now! :tada:

[2018-09-10 10:35] #2330 closed

[2018-09-10 10:35] The-Compiler commented on #2525
Fixed with the PDF.js rewrite which just landed in master!

[2018-09-10 10:35] #2525 closed

[2018-09-10 10:41] The-Compiler commented on #4208
What do you mean with "blue progress bar" exactly? The one in the statusbar isn't supposed to be blue, though it's possible that it is, depending on your theme.

Do you have a proxy set (see the `content.proxy` setting)?

Also, can you try quitting qutebrowser and removing `~/.cache/qutebrowser`? No important data should be stored in there, but maybe it helps clearing it.

[2018-09-10 12:16] The-Compiler commented on #1252
Works fine with QtWebEngine, and I'd rather not do mime sniffing at all.

[2018-09-10 12:16] #1252 closed

[2018-09-10 14:37] ExpandingMan opened #4209 "discourse icons (fonts?) not loading properly"
They render as little empty boxes.

I'm sorry I can't give a much more useful description.  `:messages` is empty.  Here is my version
[code]
Here's a picture:
![2018-09-10-102726_140x111_scrot](https://user-images.githubusercontent.com/11379353/45304127-69c79c80-b4e5-11e8-9a42-b20b8ff55656.png)

Looks normal in other browsers.

[2018-09-10 14:51] The-Compiler commented on #4209
Can you reproduce this with `--temp-basedir`?

[2018-09-10 15:38] ExpandingMan commented on #4209
Hm, that seems to work.  It could be something in my config?  I didn't change anything since that happened (... I don't think).

You can find my config [here](https://github.com/ExpandingMan/dotfiles/blob/master/.config/qutebrowser/config.py).

Thanks!

[2018-09-10 15:40] The-Compiler commented on #4209
[code]

Pretty sure it's one of those - can you find out which?

[2018-09-10 15:41] mschilli87 commented on #4209
@ExpandingMan: You could try to rename you cache and data directories to make sure it's config related.

[2018-09-10 15:59] ExpandingMan commented on #4209
Ah, it's the accept header.  Note that I actually had to reload qutebrowser to restore the icons, doing `:config-source` and reloading the page didn't do it for some reason.

I feel rather silly for not having thought that might be the issue before posting this, however I was about 95% sure that I was using the exact same headers on another machine and discourse was working fine.  A change in disc

[2018-09-10 15:59] #4209 closed

[2018-09-10 19:29] prosoitos commented on #2330
Thank you *SO MUCH* @The-Compiler! This is really cool!!! :smile:

[2018-09-10 22:37] asmbits opened #4211 "tab audio status as statusbar widget"
It would be nice to have a widget in statusbar to see current tab audio status(muted or not).

[2018-09-10 23:07] jgkamat commented on #4211
I think this should be fairly easy to implement, and we can make it optional since statusbar widgets are configurable now. I'm not sure if it could possibly be combined with https://github.com/qutebrowser/qutebrowser/pull/4097 (probably not).

[2018-09-11 06:58] toofar commented on #4211
Also it's already available for the tab title, maybe we could bring those two things together somehow.

[2018-09-11 16:08] The-Compiler commented on #3327
Maybe https://github.com/altendky/altendpyqt5/pull/10 would be interesting as well.

[2018-09-11 18:14] bouncepaw opened #4212 "xdotool shift key not working with qutebrowser"
Version: https://paste.the-compiler.org/view/8494ca96

There are keyboard shortcuts on https://soundcloud.com (online music service). For example, when you press `l` (lowercase L), current track is liked; when you press `shift+l`, the track is repeated in a loop.

Consider qutebrowser window ID is `0x0060001f` (I have found it with `wmctrl -l`). When I do this: `xdotool key --window 0x0060001f l`,

[2018-09-11 18:28] The-Compiler commented on #4212
Works fine here with the same versions. Can you do `:report` so I can take a look at the logs please?

[2018-09-11 18:53] jgkamat commented on #4212
Timur Ismagilov writes:

This is a bit unrelated to this issue, but you may be interested in :fake-key
which lets you rebind keys sent to the webpage. The xdotool method should work
too though.

[2018-09-11 23:41] The-Compiler opened #4213 "Allow turning off counts"
A qutebrowser with emacs-like bindings is [almost possible](https://gitlab.com/jgkamat/qutemacs/blob/master/qutemacs.py) - however, typing number keys in insert mode isn't possible as they're always handled even if unbound. There should probably be a setting to prevent that from happening.

[2018-09-11 23:43] jgkamat commented on #4213
A workaround that works for now is to, for example, `:bind 1 fake-key 1`

[2018-09-11 23:47] The-Compiler commented on #4212
FWIW both `shift+l` and `L` work fine for me.

[2018-09-12 00:01] prosoitos commented on #4208
The problem is still there. So it wasn't because of the cache...

[2018-09-12 00:47] prosoitos commented on #4208
I *might* have gotten a clue:

Usually, when the problem happens, the page is all white (then loads properly if I refresh) or it loads poorly with messed up formatting of some elements with most missing (and again, loads fine if I refresh). But upon vising a [superuser](https://superuser.com/) page, I got the error message:

`Super User requires external JavaScript from another domain, which is bl

[2018-09-12 01:09] R3load commented on #4208
A similar, if not the same issue (random white page or broken formatting, fixed or semi-fixed by refresh) used to happen for my mom on a Samsung NP310-E5C with Windows 8 preinstalled, in Google Chrome. Could've been happening in Firefox too, not sure. Probably did though, as I can't remember a reason for her to be hellbent on using Chrome. She'd probably just start using FF and forget about it.
Pr

[2018-09-12 01:55] jchutrue opened #4214 "Reducing power consumption"
Hi! Thanks for making this very nice browser. I was doing some comparisons between qutebrowser (1.4.2) and Chrome before I migrate out of Chrome fully. On idle, my Ubuntu 16.04 system runs at 4.5 W. When playing the same YouTube video, that number averages 6.5 W on Chrome and 7.8 W on qutebrowser. Addtionally CPU usage with qutebrowser is about 10-20% higher for each of my 4 cores. I'd like to ach

[2018-09-12 03:06] jgkamat commented on #4214
@jchutrue which process exactly is the CPU usage coming from (is the python 'qutebrowser' process high or is it the qtwebengine process). How many tabs do you typically have? For CPU usage from the python process, #4185 and #4070 will help although I'm not sure how much that will translate to power savings. If you think the python process has too much CPU usage, you could submit a [profile](https:

[2018-09-12 05:06] jchutrue commented on #4214
Unfortunately it is qtwebengine that's chewing up my CPU and battery. Of all the browsers I've tested, Chrome performs the best for YouTube (but that's probably something you'd expect anyway). The test I did was for a single tab, only one video. Perhaps I'll use different browsers for different purposes. Thanks for your help.

[2018-09-12 06:55] jchutrue commented on #4214
Hah! You saved me another watt by recommending mpv. Great call.

Yes, a low CPU and memory usage system is one of my highest priorities right now. Right now it's not that bad but could be better. I'm planning to migrate to Arch, where <4 W idling should be feasible with the 4.17 kernel.

Anyway this was a productive discussion, and I'll close this ticket out within 24 hours. Appreciate your assist

[2018-09-12 07:07] toofar commented on #4214
Is that for active browsing or background tabs? Either way consider disabling javascript globally and only enabling it selectively to help reduce resource usage.

[2018-09-12 07:14] jchutrue commented on #4214
Active, while watching video. Using a dedicated video player cut CPU usage significantly.

[2018-09-12 11:38] R3load commented on #4214
Dayum, I never expected my full-nerdout walls of text to bring someone any *measurable* value. :D
That's like ~12% less power consumption on top of reduced CPU load! Unix ftw :)
What kind of box is that, if it's not a secret?

As a side note: remember this isn't just mpv; youtube-dl handles the browser magic and just streams a clean video and a bit of metadata to mpv.
Wonder if mpv also uses that

[2018-09-12 12:18] The-Compiler commented on #3630
All fixed except the `SQLITE_PROTOCOL` one. For that one, I only see [four crash reports](https://crashes.qutebrowser.org/lists?search=locking+protocol) from two users. We get it when running `PRAGMA journal_mode=WAL`, but the [sqlite docs](https://sqlite.org/rescode.html) say:

No idea why that would happen. But since it happens very rarely, let's ignore it for now.

[2018-09-12 12:18] #3630 closed

[2018-09-12 16:20] bouncepaw commented on #4212
Well, it seems like the problem is on i3wm's side, because on dwm everything works fine. Sorry for inconvience, I'll close the issue.

:fake-key is cool, thanks for telling about it.

I tried it and it works fine too.

That's pointless now.

[2018-09-12 16:20] #4212 closed

[2018-09-13 05:44] R3load commented on #591
Also, we could use drag-scrolling done by holding down a key (or mouse button, I'd use RMB/Mouse2/button3 personally) and dragging the cursor on the page in a direction opposite to the scrolling direction.

[2018-09-13 07:10] jgkamat commented on #1354
This is implemented in [vimium here](https://github.com/philc/vimium/blob/026c90ccff6f40cdc370c11339cdfab4a5e6b7b9/content_scripts/scroller.coffee#L98-L114), I'll look into it after #3691 (and maybe creating a hint to select scrollable frames). However, that method will only work with `:scroll-page/px`.

[2018-09-13 11:54] olmokramer opened #4215 "Incorrect completion with completion.delay > 0"
When I set `completion.delay` even to something reasonably small like 200ms, and press `<Tab>` before the delay has passed, I get a wrong completion. For example, when I am in normal mode and type without pausing `:set com<Tab>`, it gets completed to `:set adblock-update `, so it looks like pressing `<Tab>` doesn't update the completion candidates prior to cycling through the matches. This is easi

[2018-09-13 12:42] The-Compiler commented on #4215
Hmm, I guess we should force the completion to be updated when pressing tab indeed.

cc @jreinert (who implemented `completion.delay`) and @rcorre

[2018-09-14 08:25] The-Compiler opened #4216 ":navigate prev/next doesn't consider buttons"
This means it doesn't find the button on https://searx.me/?q=test as it uses `webelem.SELECTORS[webelem.Group.links]`. We don't have a separate `buttons` group though, and `all` is too much...

[2018-09-14 15:41] D-Nice commented on #4152
This appears to happen to me consistently once the history.sqlite database fills up to a certain point, however, it appears as if so much history overflows something, as even trying to type google (which I'm sure there's lots of entries for), with the open command, it will crash at go or goog etc...

[code]

[2018-09-14 16:40] R3load commented on #4152
Sounds like typing or querying the database tries to insert something into it? That shouldn't happen. What the hell are you gonna add to the db that way, the user's key log?

[2018-09-14 16:49] The-Compiler commented on #4152
@R3load I don't understand how you're getting to that conclusion. Either way, the only thing which should insert something to the history is loading pages.

[2018-09-14 19:16] o-vexler opened #4217 "Add New Installation Method- Docker Container"
Hi,
I really love using qutebrowser, thought it would be great to have it easily installed on Linux with a Docker container.

I will be glad to contribute to this project with a Docker image.
Just forked the project and started working on it :)

[2018-09-14 23:18] o-vexler commented on #4217
The PR is right here: #4219 :beers:

[2018-09-15 12:53] CosmoJG commented on #2932
Here's a screenshot of my setup: https://i.imgur.com/txJVuZb.png

I have both `QT_QPA_PLATFORM=wayland` and `QUTE_SKIP_WAYLAND_CHECK=1` set and use Qutebrowser natively on a daily basis! Everything works beautifully, even hardware acceleration according to chrome:gpu. I'm currently running qt5-base version 5.11.1-3, qt5-wayland version 5.11.1-1, and qt5-webengine version 5.11.1-3, all three of whi

[2018-09-15 13:39] The-Compiler commented on #2932
@CosmoJG No clue I'm afraid. I guess you could always decrease the font size in the config.

[2018-09-15 14:13] bitraid commented on #2932
@CosmoJG https://github.com/swaywm/sway/issues/2424

[2018-09-15 22:27] The-Compiler commented on #4201
Felt like writing some C++: https://codereview.qt-project.org/#/c/240121/

However, I noticed that `default` isn't the same as `default-public-and-private-interfaces`, see the explanations in [webrtc_ip_handling_policy.h](https://cs.chromium.org/chromium/src/content/public/common/webrtc_ip_handling_policy.h?g=0). I guess it'd be best to add an enum...

[2018-09-15 23:01] CosmoJG commented on #2932
@bitraid Thank you so much!

[2018-09-16 02:15] concatime commented on #2932
One little issue with QuteBrowser on Wayland: `app_id` is set to `python3`, hence, cannot assign it to a workspace (python3 is too generic).

[2018-09-16 03:46] vilhalmer commented on #2932
I fixed that recently (#4153), should be in the next release!

[2018-09-16 07:48] prosoitos commented on #4208
![image](https://user-images.githubusercontent.com/4634851/45594120-0eb10200-b94a-11e8-87bb-ee747a5a27ae.png)

Here is the message I am talking about. And my problem is still there. Something is definitely not loading. Any suggestion would be great. Thanks!

[2018-09-16 20:49] asmbits commented on #601
I miss this feature a lot. Firefox with vimperator had great completion, it knew exactly what I wanted. It would be fantastic to have it implemented in qutebrowser.

[2018-09-16 20:51] The-Compiler commented on #601
Contributions welcome! Like I've said above, finding something which works well and still is fast enough isn't going to be easy, though.

[2018-09-16 22:29] The-Compiler opened #4221 "Interesting changes in Qt 5.13"
Qt 5.13 [will be released](https://wiki.qt.io/Qt_5.13_Release) ~~2019-05-21~~ 2019-06-13, Feature Freeze 2019-02-01.

- [Interesting JIRA issues](https://bugreports.qt.io/issues/?jql=fixVersion%20%3D%205.13%20and%20component%20%3D%20webengine)
- Interesting codereview changes: ~~[dev](https://codereview.qt-project.org/#/q/project:qt/qtwebengine+branch:dev,n,z)~~, [5.13](https://codereview.qt-proje

[2018-09-17 00:59] m42a opened #4223 "On referencesource.microsoft.com the input field loses focus while typing"
## Steps to reproduce:
1. Go to https://referencesource.microsoft.com/
2. Start typing in the search box in the top left

## Expected results
Qutebrowser stays in insert mode

## Actual results
Qutebrowser leaves insert mode when updating the search results

This appears to be caused by a call to `top.history.replaceState`.  Qutebrowser interprets that as a page load, and so leaves insert mode.  T

[2018-09-17 01:30] jgkamat commented on #4223
I think this is a duplicate of https://github.com/qutebrowser/qutebrowser/issues/3596. Please vote for https://bugreports.qt.io/browse/QTBUG-65223

[2018-09-17 01:30] #4223 closed

[2018-09-17 05:30] nickspoons commented on #4050
FYI: I just experienced this same issue, after a major windows crash. Removing `%USERPROFILE%\AppData\Roaming\qutebrowser\data\state` (which was full of nulls) resolved it.

[2018-09-17 06:32] blueyed opened #4224 "Improve performance with many tabs (pinned statistics)"
On 2018-06-11 there was some discussion on IRC to improve performance with many tabs (when loading a session in qutebrowser during startup mostly), and profiling lead to some patch from @The-Compiler.

Apparently this has not been addressed yet, so I'm creating this issue to ask about the state of it, and if there are any plans in this regard.

/cc @jgkamat

[code]

[2018-09-17 06:40] The-Compiler commented on #4224
See #4070

[2018-09-17 06:40] #4224 closed

[2018-09-17 10:11] DarkDefender opened #4225 "History cache is not correctly updated on certain sites (reddit.com)"
I've been having this problem for a while now (at least half a year or more) so I guess it is time that I report it.

It seems to me that the history cache is not invalidated correctly on reddit.com.
Here is my steps to reproduce:

1. Go to a subreddit for example: https://old.reddit.com/r/hardware/
2. Wait until the next day or more
3. Go to the same subreddit and click to go to a comment section

[2018-09-17 12:40] johanhelsing commented on #2932
@CosmoJG, @bitraid: The comically large fonts probably happen because qutebrowser uses point-sized fonts with pixel-sized ui elements and you have a monitor with high dpi and a low scale factor. qutebrowser should either scale the tab-bar height based on the text height (or dpi), or switch to pixel-sized fonts.

I just checked, and I think you can set to pixel fonts manually. i.e.

[code]

Fixes i

[2018-09-17 16:33] The-Compiler opened #4226 "Split up browsertab/webkittab/webenginetab.py"
Those are getting kinda long:

browsertab.py: >1000 lines
webkittab.py: >800 lines
webenginetab.py: >1400 lines

Those should be split up (1 file per class roughly), but only after the current PRs are merged.

[2018-09-17 16:35] The-Compiler opened #4227 "Clean up YamlConfig._handle_migrations"
It's getting kinda long, and some migrations should be simplified or moved into functions. Maybe it should even be its own `YamlConfigMigrations` class.

Also, there's some coverage issue when using it with non-scoped settings IIRC, I remember seeing that in some PR (not sure which it was...).

[2018-09-17 18:34] #4040 closed

[2018-09-17 18:34] #4201 closed

[2018-09-17 18:54] The-Compiler commented on #2377
I added some more switches, and don't think anything else from https://peter.sh/experiments/chromium-command-line-switches/ should be exposed.

However, it's possible that I missed something, and looking through those is a nice way to help qutebrowser without needing to be able to code.

chrome://flags/ inside Chrome/Chromium is also a nice place to look, many of those things could be exposed to q

[2018-09-17 18:55] The-Compiler opened #4229 "Output config.py syntax in qute://configdiff"
Currently we show something which is useful, but which can't easily be copy-pasted for debugging. Since there's the `:config-write-py` command already, I think it shouldn't be too hard to do the same for `qute://configdiff` as well.

[2018-09-17 21:16] blueyed commented on #2176
I am also seeing the "Current URL is invalid!" error when trying something like `gu` or `go` on a page that is still loading.
qutebrowser should be able to set the URL internally already I would assume.

[2018-09-18 16:38] The-Compiler opened #4230 "test_checking_visibleinvisible_window_size started failing on AppVeyor"
I think that always fails, not sure since when.

[code]

[2018-09-18 18:00] SubbulakshmiRS commented on #4229
I  would like to work on this issue. Do I have to create a python file which would auto-generate a html file to be linked to an the url qute://configdiff ?( like https://github.com/qutebrowser/qutebrowser/blob/master/scripts/dev/src2asciidoc.py -> qute://help/commands.html )

[2018-09-18 18:29] #4179 closed

[2018-09-18 19:09] The-Compiler commented on #2932
Doesn't look like [Qt supports that](http://doc.qt.io/qt-5/stylesheet-reference.html#length) for stylesheets, so that's pretty much out of the question.

[2018-09-18 20:45] The-Compiler commented on #345
Looks like MarkMD [does have extensions](https://python-markdown.github.io/extensions/) in the meantime, so using that instead of Sphinx might actually be an option to reconsider.

[2018-09-18 21:01] sambanks commented on #345
Mkdocs isn't as slick as Sphinx but I much prefer Markdown personally.

[2018-09-18 21:11] The-Compiler commented on #345
Hmm, one thing it seems to lack is generating API documentation (https://github.com/mkdocs/mkdocs/issues/20) which would quite useful for a Python plugin API. I still prefer Sphinx so far, despite not liking the ReST syntax very much.

[2018-09-18 21:18] sambanks commented on #345
Yeah I would agree. Someone has made one, but I don't know how good it is https://github.com/raghakot/markdown-apidocs

[2018-09-18 21:19] The-Compiler commented on #345
I don't want to depend on a one-man project which hasn't been touched in years again, been there with asciidoc basically :wink:

[2018-09-18 21:20] sambanks commented on #345
Haha agreed

[2018-09-19 16:19] The-Compiler opened #4232 "Update PyInstaller patching for new release"
The new PyInstaller seems to work on Windows without any custom patching (`build_release.py` is already updated for that).

On macOS, the current patching fails, and when removed it also still doesn't seem to work. https://github.com/pyinstaller/pyinstaller/pull/3661 fixes it, but I'd rather have `build_release.py` take care of it.

Looking at the diff between what's generated by the PyInstaller r

[2018-09-20 07:41] SubbulakshmiRS commented on #4229
So the whole configdata.yml (or a more presentable form of it )file should be be printed for the url qute://configdiff ?

[2018-09-20 10:19] toofar commented on #4213
historically related https://github.com/qutebrowser/qutebrowser/issues/3307

[2018-09-20 13:56] The-Compiler commented on #4229
`configdata.yml` is unrelated, that's a definition of all available config options. The `qute://configdiff` page should do what it does already (only show changed options), but output them in a format which can be copy-pasted into a `config.py` file to try them easily.

Also see the [configuration docs](https://github.com/qutebrowser/qutebrowser/blob/master/doc/help/configuring.asciidoc) for some

[2018-09-20 15:47] rien333 commented on #4010
I still experience this often, even with qutebrowser on arch linux with everything updated.

[2018-09-20 16:06] jgkamat commented on #4225
I think this is a 'feature' in web browsers, to make 'back' instant. I'm almost
certain it's coming from qtwebengine, as I can reproduce this in stock chrome
and firefox, using changes in github issues to test. For example, if I change
the labels on this issue in one browser, and navigate back in chrome/firefox,
the labels are out of date.

Most likely we won't be able to fix this, but you might b

[2018-09-21 03:32] rpietro commented on #4196
@mahaaaham I tab out of it, it works

[2018-09-21 03:39] rpietro commented on #4057
@aleprovencio probably not what you have in mind, but I use stow and git to version the quickmarks file. You could also save it to dropbox.

[2018-09-21 03:41] rpietro commented on #4077
@mschenck0 my solution is a bit unorthodox: I switched the keys so that it can be more vim-like, so that I get into insert mode with i and back into normal mode with esc, also releasing ctrl-v so that it can paste under any mode.

[2018-09-21 06:13] mschilli87 commented on #4196
@rpietro: Unless you have a dropdown with suggestions, then even after leaving insert mode via <kbd>Esc</kbd>, <kbd>Tab</kbd> will cycle through that list instead of removing focus from the search bar.

[2018-09-21 07:36] The-Compiler opened #4235 "PDF.js v1.10 and later fails with "Failed to fetch""
Since https://github.com/mozilla/pdf.js/pull/8768, PDF.js tries to use the Fetch API to get PDFs. However, that fails for us with:

[code]

https://github.com/mozilla/pdf.js/pull/9363 is supposed to fix that kind of thing, but it doesn't seem to help. I'm not sure where that code gets an URL from, though...

[2018-09-21 09:09] helbling opened #4236 "inspector inside tab"
It would be very cool to have the :inspector inside the tab (splitted window: webpage | inspector) instead of in a separate window. Similar to how chromium or firefox have it.

Has anybody already looked into that?
Would this be possible to implement with the current QtWebEngine?

[2018-09-21 11:15] aleprovencio commented on #4057
You're correct @rpietro. Since I don't keep as many bookmarks, the solution I've found is to make a startpage, shared on nextcloud so it works on all my devices. Nevertheless, I still think it would be nice having something that syncs with floccus,  nextcloud bookmarks, etc. The "bomb" though is somehow also sync the quickmark name with Firefox's keyword bookmarks, so I'm able to use them on the m

[2018-09-21 11:54] qaeu commented on #4236
#1400

[2018-09-21 12:01] The-Compiler commented on #4236
Duplicate of #1400

[2018-09-21 12:01] #4236 closed

[2018-09-21 12:53] The-Compiler commented on #4235
In v1.10, `pdf.js` has a `setPDFNetworkStreamClass`. Somewhere during init of `pdf.js`, this is done:

[code]

In v2, this seems to have been changed to `setPDFNetworkStreamFactory`.

I see a couple of possibilities:

- Before the `pdf.js` file is loaded, do `window.Response = undefined` to make that check use XHR instead.
- Find some way to require `./display/network.js` from our code, and call `

[2018-09-21 13:00] The-Compiler commented on #4077
Huh? Those are default bindings :wink:

[2018-09-21 13:04] The-Compiler opened #4237 "Changed API in PDF.js v2"
https://github.com/mozilla/pdf.js/releases/tag/2.0.550 which currently is a prerelease seems to have some backwards-incompatible changes (e.g. the `PDFJS` global is gone).

[2018-09-21 13:59] helbling commented on #1400
Minimal example for a page and an inspector splitted with QSplitter (with QtWebEngine):

[code]
The QSplitter would replace the webview for the tab content and create an additional widget hierarchy level.
A lot of the code base seems to have the assumption that the tab is already the web view widget.

[2018-09-21 15:31] blueyed commented on #2922
@The-Compiler
Would it be possible for qutebrowser to stop QtWebEngineProc in inactive tabs?

[2018-09-21 20:59] The-Compiler commented on #2922
No, qutebrowser has no control over those processes at all (it doesn't even know their PID). It could possibly not create a QWebEngineView at all, or destroy/recreate those, but that'll come with quite some cost.

[2018-09-22 07:58] #4232 closed

[2018-09-22 13:29] The-Compiler commented on #1912
I've just tried using PyInstaller on Linux again, and with a [quick fix](https://github.com/pyinstaller/pyinstaller/pull/3758), at least a binary built on Archlinux works there. If we can build with that on some old Ubuntu, that might be a nice solution.

If that works, that'd be my preferred solution, because we already use PyInstaller for Windows/macOS.

[2018-09-22 17:06] JonathanReeve opened #4238 "Is there a way to specify print properties?"
I notice that every time I print something (to PDF, in my case), I have to click "properties" and set the page margins and everything else in the resulting dialog box. That is, it doesn't seem to remember the print properties settings from one print to another. I noticed there's the setting `content.print_element_backgrounds`, but I can't seem to find other settings, for, e.g., margins. I would've

[2018-09-22 17:14] m2habert opened #4239 "Unable to download certain pages ("Connection closed" error)"
All sites from the following newspaper:

https://chicago.suntimes.com/entertainment/fahrenheit-11-9-review-michael-moore-movie-flint-trump-documentary/

fail to download ("Connection closed" error message).

If, however, I choose "Sove Link" through control-mouse-clicking on a search page ( for instance:

https://duckduckgo.com/?q=%27Fahrenheit+11%2F9%27+review%3A+Michael+Moore+targets+more+than+&

[2018-09-22 18:29] #4235 closed

[2018-09-22 18:29] #4237 closed

[2018-09-22 18:36] The-Compiler commented on #4238
You should be able to set them in CUPS' default settings, not sure how that'd work with printing to PDF, though. See [various Qt bugs](https://bugreports.qt.io/issues/?jql=text%20~%20margins%20and%20component%20%3D%20webengine) as for setting them from CSS.

Given that there's a lot of things to configure (and it also differs a bit from printer to printer), I'd rather not expose all that via quteb

[2018-09-22 18:36] #4238 closed

[2018-09-22 19:16] #4069 closed

[2018-09-22 19:30] jgkamat commented on #4069
Let me know if anyone still sees performance issues with tabs on master (and tell me what you were doing, number of tabs, etc).

Right now, the only slowdown I see is when closing tabs with low number indexes (because every tab needs to have it's title updated). I might take a look at that as well, but the situation should be a lot better than it was a while ago :)

[2018-09-22 21:40] pankaramp commented on #4106
I'd like to implement this. Is it ok to check whether a tab is in the background by using [currentIndex()](https://doc.qt.io/qt-5/qtabwidget.html#currentIndex-prop) in QTabWidget?

[2018-09-23 13:36] The-Compiler commented on #4106
@pankaramp yeah, that should work!

[2018-09-23 14:30] m2habert commented on #4239
Jesus Christ, I totally forgot that I've posted #2800! (I seached before posting this one, but since it's closed, it did't show up). My bad.

[2018-09-23 14:41] The-Compiler commented on #4239
No worries! I didn't remember either, but found it via a search because I knew there was some issue open about this already :wink:

[2018-09-23 15:05] The-Compiler opened #4240 "Segfault when downloading via HTTPS from localhost"
Recently (Qt 5.11.2?) starting `python3 tests/end2end/fixtures/webserver_sub.py 1337` and then doing `:download https://localhost:1337` in qutebrowser, we get a segfault here:

[code]

[2018-09-23 17:19] FlyingWombat opened #4241 "[Bug] Won't stay in Insert mode for dynamic search box"
Some websites have search boxes, where results pop up as you type.
The problem is that once a character is typed, the page loads some results, and qutebrowser's input mode gets reset. So, I have to hit `i` for every character I want to type in the search box.
I have only encountered one case of this so far: [GOG's community wishlist](https://www.gog.com/wishlist/site)

#### QB version
qutebrowser

[2018-09-23 17:19] #4241 closed, assigned to nobody

[2018-09-23 18:46] supremew opened #4242 "Help! I can't play video in sites by you-get with qutebrowser's cookies."
the following step is:
`bind hint links spawn you-get -p mpv -c '/home/deepin-mew/.local/share/qutebrowser/webengine/Cookies' '{hint-url}'`
I can't play video in youku.com with my vip account, that's because the qutebrowser's cookies and the chrome's cookies are both not surpported by you-get (https://github.com/soimort/you-get). I can convert the chrome cookies's fromat from sqlite to txt, the yo

[2018-09-23 18:50] The-Compiler commented on #4242
You'll need to find a way to convert between Chromium's cookie format and whatever you-get takes, this doesn't sound like a qutebrowser issue.

[2018-09-23 18:50] #4242 closed

[2018-09-23 19:42] The-Compiler opened #4243 "Qt 5.12: Segfault in test_stylesheet.py"
Same with tests/unit/javascript/test_js_execution.py too:

[code]

Demangled:

[code]

See #4025

[2018-09-23 19:44] The-Compiler commented on #4025
With 69-based:

[code]

[2018-09-23 20:37] The-Compiler commented on #4243
Opened [QTBUG-70696](https://bugreports.qt.io/browse/QTBUG-70696), and also [QTBUG-70695](https://bugreports.qt.io/browse/QTBUG-70695) for the perhaps similar issue I see in C++.

[2018-09-23 21:03] The-Compiler opened #4244 "Qt 5.12: Uncaught TypeError: Cannot read property 'namespaceURI' of null"
[code]

~~Probably~~ also happens in the tests: https://github.com/qutebrowser/qutebrowser/issues/4025#issuecomment-400629755, ~~but can't check that thanks to #4243.~~

But also when just running qutebrowser with `--temp-basedir`.

[2018-09-23 21:34] rnhmjoj commented on #3238
I have found an issue with a script I made:
[code]

The script doesn't work because `document.getElementsByTagName("link")` returns an empty array when running from greasemonkey, pasting the code into the console however works fine.

[2018-09-23 21:57] toofar commented on #3238
That's just because it is running too early before those elements have been added. Try changing the `// @run-at       document-start` to `// @run-at       document-end`. (`document-idle` is even later but doesn't appear to be necessary here.)

[2018-09-23 22:10] rnhmjoj commented on #3238
Ah, thank you! it's working. This used to work with violentmonkey... is it just slower to load the scripts then?

[2018-09-23 22:18] prosoitos commented on #4208
Yet another message from a website that confirms that something doesn't load fast enough or gets blocked for some time in my system. While loading a website, I got this message:

![2018-09-23_15-16](https://user-images.githubusercontent.com/4634851/45933527-a4005780-bf43-11e8-85ef-8ab34bbe5010.png)

Yet, after clicking "OK", the page was loaded fine and I did not have to refresh the page for it to

[2018-09-23 22:37] toofar commented on #3238
Oh that's interesting, and annoying. QtWebEngine handles the events for us so maybe that gets access to earlier triggers than extensions do.

[2018-09-24 06:17] The-Compiler commented on #3238
The [GreaseMonkey wiki](https://wiki.greasespot.net/Metadata_Block#.40run-at) says that only `document-end` works in GreaseMonkey 4.x (the WebExtensions port) - maybe something similar is true for ViolentMonkey as well.

FWIW the [document.readyState docs](https://developer.mozilla.org/en-US/docs/Web/API/Document/readyState) say "We can now access the DOM elements." for the "interactive" state, wh

[2018-09-24 06:58] The-Compiler opened #4247 "Qt 5.12: Errors from in_progress_cache_impl.cc"
Various dowmload related tests fail with:

[code]

[Related Chromium sources](https://cs.chromium.org/chromium/src/components/download/database/in_progress/in_progress_cache_impl.cc?q=in_progress_cache_impl.cc)

[code]

See #4025.

[2018-09-24 07:12] The-Compiler commented on #4247
[QTBUG-70702](https://bugreports.qt.io/browse/QTBUG-70702)

[2018-09-24 08:53] nepumuk-fs opened #4248 "Alt-[1-8] behaves differently when Tab is already focused"
### Summary
Pressing Alt-[1-8] multiple times results in alternating the tab focus between tab [1-8] and the tab focused before.
### Steps to reproduce
1. Open / Load more than one tab in the same window, e. g. 10 tabs.
2. Choose a number out of {1; 2; 3; 4; 5; 6; 7; 8}.
3. Press Alt-[chosen number] multiple times.
3. a) I. If the tab isn't focused before pressing Alt-[chosen number], it will be f

[2018-09-24 09:09] The-Compiler commented on #4248
Alt-9 not having that behavior is the real bug here, which is now fixed. You can rebind those keys to pass `--no-last` to `:tab-focus` to disable this.

[2018-09-24 09:09] #4248 closed

[2018-09-24 09:10] #4247 closed

[2018-09-24 10:06] The-Compiler commented on #4248
Going to the last tab with Alt-9 and doing nothing with Alt-0 is also what Chrome/Firefox do, so I'd like to keep consistent with that.

[2018-09-24 10:10] justUmen opened #4249 "Can't switch to another tab using keyboard if in "insert Mode"."
[code]

If in "insert mode", I can't go to another tab with Alt + 1-9, is that a bug or a feature ?

[2018-09-24 10:11] The-Compiler commented on #4249
That's intended, but you can bind those keys yourself with e.g. `:bind --mode=insert <Alt+1> tab-focus 1`.

[2018-09-24 10:11] #4249 closed

[2018-09-24 10:17] justUmen commented on #4249
That's a quick answer thanks !
So I guess the "insert mode" is browser based, not tab based.
Is it possible to have some pages always being in insert mode ? (by urls ?)

[2018-09-24 10:35] The-Compiler opened #4250 "Qt 5.12: test_follow_a_manually_selected_link fails"
With the current Qt 5.12 tip (69-based):

[code]

I think this is the same situation we had with Qt 5.10 before #3624: Selecting via a search or manually works, but selecting via JS (`search_select.js`) and then `:follow-selected` doesn't seem to work.

Also see #2635.

@jgkamat want to take a look at that? If you don't want to build Qt from source, you can get the Qt 5.12 Alpha via the binary ins

[2018-09-24 10:42] The-Compiler commented on #4249
Yeah, it's window-based. There's the `tabs.mode_on_change` setting which controls what happens when switching tabs.

Currently not, I added it to #3636.

[2018-09-24 10:53] justUmen commented on #4249
Amazing, keep up the great work ! I'll try to use qutebrowser as my main browser for a while. ;)

[2018-09-24 11:12] The-Compiler commented on #4025
Fixed some, and opened separate issues for the rest.

[2018-09-24 11:12] #4025 closed

[2018-09-24 11:27] The-Compiler commented on #4249
Do you mean "Open link in new tab", which already exists?

[2018-09-24 13:40] benedikt-bartscher opened #4251 "Youtube streaming not available"
I can watch YT Videos without any problems, but there is no option to stream to my Chromecast/TV. No problems on the same machine with Chromium or Firefox.

qutebrowser --version
[code]

[2018-09-24 13:43] The-Compiler commented on #4251
This will need to be implemented in Qt, see [QTBUG-61352](https://bugreports.qt.io/browse/QTBUG-61352). Also check the [cast userscript](https://github.com/qutebrowser/qutebrowser/blob/master/misc/userscripts/cast) which might work for that as well (also see [castnow docs](https://github.com/xat/castnow#youtube-support)).

[2018-09-24 13:43] #4251 closed

[2018-09-24 16:36] D-Nice commented on #4152
I'll look to send a stacktrace later when I'm able. It's not the exact issue (I can reproduce this one), but once my history file size gets to a certain size, it crashes constantly upon trying to open a page, after typing a certain amount of characters, as an example `:open goo` even crashes.

[2018-09-24 17:40] The-Compiler commented on #4152
@D-Nice Please open a new issue once you have a stacktrace then. I'll now hide those comments as off-topic to keep things organized :wink:

[2018-09-24 20:31] cancercufasole commented on #4039
gif loading is still as atrocious as I remember with qtwebengine, it will try to use as much cpu as possible to load it as fast as possible even with low-end device mode on always and process model to single process but overall it wasn't that bad
There's no way to currently block something like gifs through chromium flags right ?

[2018-09-24 20:51] The-Compiler commented on #4039
@cancercufasole Nothing I'm aware of. It might be possible to expose [this setting](https://cs.chromium.org/chromium/src/third_party/blink/public/web/web_settings.h?g=0&l=188) to QtWebEngine, but I don't see a way to set it via flags.

[2018-09-24 22:16] cancercufasole commented on #4039
That would require patching QtWebEngine tho right ?

[2018-09-25 13:40] MaximilianKindshofer opened #4253 "Add a way to show cert details"
I did not find a way to show the details of a SSL Certificate.

It would be nice to have a way to see the details of a certificate to see who issued it for which domain, get the fingerprint etc

[2018-09-25 13:42] The-Compiler commented on #4253
This isn't possible until QtWebEngine exposes an API to do so - see [various related Qt issues](https://bugreports.qt.io/browse/QTBUG-66681) about it.

[2018-09-25 13:42] #4253 closed

[2018-09-25 15:32] brianbuccola opened #4254 "How to clear cache to (maybe) fix "too many redirects" error"
I just tried adding a second Google account, and after switching accounts a few times, I'm no longer able to load Gmail (for either account):

I'm definitely logged in, because when I go to `https://www.google.com/`, I can see so. It's just Gmail that's not loading.

Apparently this is a known issue, and the solutions I've found recommend clearing cookies and cache. I already tried deleting `~/.lo

[2018-09-25 15:53] mschilli87 commented on #4254
@brianbuccola: Did you try logging in from `qutebrowser --temp-basedir` before deleting files?

[2018-09-25 15:59] supremew commented on #4242
通过不段的尝试， 利用 qutebrowser-userscript 写了一个小的脚本， 解决了上面遇到的问题。 希望记录于此处， 能够有所帮助其他人。
[code]

[2018-09-25 16:42] brianbuccola commented on #4254
Not before deleting files, but I just tried, and using `--temp-basedir` worked fine (just like private browsing also works).

[2018-09-25 18:30] brianbuccola commented on #4254
Thanks, but unfortunately that didn't work either. Strange...

[2018-09-25 18:33] The-Compiler commented on #4254
Can you show `:open qute://configdiff` please?

[2018-09-25 18:37] brianbuccola commented on #4254
[code]

[2018-09-25 18:41] The-Compiler commented on #4254
Hmm, nothing suspicious in there. Maybe try moving away your `~/.local/share/qutebrowser` (or `~/.config/qutebrowser` if that doesn't help) entirely and see if that makes any difference...

[2018-09-26 05:20] leungbk opened #4256 "Accelerated scrolling"
In Firefox, accelerated scrolling can be configured by going to `about:config` and changing `mousewheel.acceleration.factor` and `mousewheel.acceleration.start`. Is it possible to do something similar with Qutebrowser?

[2018-09-26 06:14] jgkamat commented on #4256
The easy way to get more control over scrolling is to use :scroll-page or
:scroll-px instead of the default scrolling methods, which let you configure
how much you scroll by.

You can also run :scroll with a count to scroll more in one go.

Brian Leung writes:

[2018-09-26 07:10] terlar commented on #22
For setting the default web browser manually on macOS you can do the following:
https://support.apple.com/en-us/HT201607

Not sure about how to trigger it from the browser though, but should be possible as other browsers have code to do it from within the browser.

[2018-09-26 07:16] mrpewpew opened #4257 "qute://history/ is blank"
I just noticed the `:history` page is totally empty but I still get the history when I try to open a new tab/window.
I checked `~/.local/share/qutebrowser/history.sqlite` and it's not empty.
Any idea what the problem is ?
[code]

[2018-09-26 07:17] The-Compiler commented on #4257
It's a bug in Qt 5.11.2 which already has a workaround commited (but not released yet). I assume you use that Qt version - are you on Archlinux?

[2018-09-26 07:17] #4257 closed

[2018-09-26 07:38] brianbuccola commented on #4254
I moved away `~/.local/share/qutebrowser/webengine`, and that seems to have fixed things. So, I guess there was something inside there besides `Cookies` or `Cookies-journal` that was causing the problem. And this way I get to keep all my history. Thanks for the help!

[2018-09-26 12:03] D3faIt opened #4259 "DNS issues"
Hi

Since the day I installed qutebrowser on my linux laptop, I wanted to install it on my work laptop as well (Windows 10).
So far, I have **never** been able to get it online, except if I specify the ip address in the hosts file. local servers also work.
The current configured proxy is a .pac url. It should be configured via the system, not the application.

## Troubleshooting

I have tried chan

[2018-09-27 04:05] leungbk commented on #4256
Thanks for your response. Accelerated mousewheel scrolling is a bit different in that rotating the mousewheel a given number of notches in a short time interval can produce a greater amount of screen movement than would be observed for the same angular displacement over a longer time interval. `:scroll-page` is nice, but sometimes my hands get a bit worn out from sustained keyboard scrolling. Runn

[2018-09-27 06:55] jgkamat commented on #4256
If you want to customize mousewheel scrolling, there should be tools to do
that on your system level, so it applies everywhere, and not just in
qutebrowser. I found imwheel which seems to work for me, but maybe changing
changing the value through evdev or xinput would be cleaner.

http://imwheel.sourceforge.net/
https://askubuntu.com/questions/255890/how-can-i-adjust-the-mouse-scroll-speed

Brian

[2018-09-27 07:17] The-Compiler commented on #4259
There's no PAC support for QtWebEngine currently, see #2492. I'm not sure if it'll be picked up if you set the proxy to `system`. Could you check whether it works in [Falkon](https://www.falkon.org/)?

[2018-09-27 08:13] mkraemer commented on #4010
Same for me, using:

[2018-09-27 08:40] The-Compiler commented on #937
Patch from #4082 which adds a `{link_hovered}` command variable, something similar could probably done for userscripts as well (but `last_hovered_link` should live in `TabData`):

[code]

[2018-09-27 08:53] rien333 commented on #4010
Can anyone confirm that this shows up with a fairly vanilla config? I have yet to see this happen with `$ qutebrowser -T` but I have a nudge this only shows up after having a lot of tabs over for a prolonged period of time. I can't always reproduce with the method @TrilbyWhite mentions, but qutebrowser crashes frequently on simple HTML pages such as the arch wiki.

[2018-09-27 13:43] TrilbyWhite commented on #4010
I've only once seen a render process fail since I removed the setting for a hidden status bar (it's been a few weeks at least, and qb is almost always open/running on my system).  So with a vanilla config, I can't say I really see this, but with a hidden status bar it had become *far* more frequent that originally reported here and was no longer really correlated with searching the page (a search

[2018-09-27 14:36] #3786 closed

[2018-09-27 14:43] The-Compiler commented on #2215
I had hoped that #4204 improves things here as well, but it doesn't look like it.

[2018-09-27 14:50] rien333 commented on #4010
That's interesting, I always have my statusbar hidden across all my machines, and I also see a lot of crashes when not searching. I'll try unhiding it for a bit.

[2018-09-27 15:38] The-Compiler opened #4262 "Make :download work on PDF.js pages"
When on a PDF.js page, the download button doesn't work (though it hopefully will with Qt 5.12). However, we could make `:download` copy the PDF to the given path. Not sure yet whether it's worth the complexity, though, as it's not a real download.

[2018-09-27 21:09] The-Compiler opened #4264 "Pressing shift resets hint keystring"
On French keyboards, pressing Shift is needed to get number keys. However, that resets a partial hint string in numbers mode.

Pressing '2':

[code]

pressing Shift:

[code]

[2018-09-27 21:58] The-Compiler commented on #4158
Fixed in #4202 - thanks @bengartner!

[2018-09-27 21:58] #4158 closed

[2018-09-27 21:58] The-Compiler commented on #3457
Fixed in #4202 - thanks @bengartner, didn't know that was possible!

[2018-09-27 21:58] #3457 closed

[2018-09-28 05:59] D3faIt commented on #4259
Hmm

It works on Falkon

![2018-09-28 07_50_41-google - falkon](https://user-images.githubusercontent.com/8147434/46190551-4ded3480-c2f4-11e8-9443-146b4c9ab406.png)

[2018-09-28 16:03] Awlexus opened #4267 "$QUTE_URL contains the current url instead of the selected"
I tried to execute a userscript that would use the selected url, but it always uses the current url instead.
This is how I set up the shortcuts:
[code]
And this is how I tried to access it:
[code]

Version:
[code]

[2018-09-28 16:08] The-Compiler commented on #4267
If you use `:hint` with the `spawn` target, it just runs `:spawn` with the given arguments. It's a bit unfortunate that `:spawn --userscript` even works there, but I'm not sure we should disallow it.

To run userscripts from hints with the variables set properly, use `hint links userscript yta` instead.

[2018-09-28 16:08] #4267 closed

[2018-09-28 16:10] The-Compiler commented on #1864
Somewhat related: #4267

[2018-09-29 13:12] mrpewpew opened #4268 "Problem displaying AngularJS apps"
Recently, I got display problems on a few websites. One example is the ovh dashboard. Here is what I see in qutebrowser vs what I should see (in Firefox)
![ovh_qutebrowser](https://user-images.githubusercontent.com/38474825/46246155-7e6ac680-c3f9-11e8-823c-ad9e6ab4be19.png)
![ovh_firefox](https://user-images.githubusercontent.com/38474825/46246162-875b9800-c3f9-11e8-9c84-5d9c6a83354d.png)

After i

[2018-09-29 13:28] The-Compiler commented on #4268
Indeed. Can you show your `qute://configdiff` page?

[2018-09-29 13:30] mrpewpew commented on #4268
[code]

[2018-09-29 13:33] The-Compiler commented on #4268
Hmm, nothing too odd in there. Can you try quitting qutebrowser and moving `~/.config/qutebrowser` away, and if that doesn't help, try `~/.local/share/qutebrowser` or `~/.cache/qutebrowser`?

[2018-09-29 14:29] mrpewpew commented on #4268
It was a cache thing, the problem disappeared after removing the cache folder. Thanks !

[2018-09-29 14:29] #4268 closed

[2018-09-29 14:56] KnottyTomatoes opened #4269 "BitDefender does not like qutebrowser 1.4.2"
I usually have this installed visa Chocolaty, running on Windows 7 64-bit, today I updated qutebrowser from 1.4.1 to 1.4.2 (with Chocolaty) and out of the blue my anti-virus BitDefender has detected a threat with "qutebrowsers.exe" and says it "Gen:Variant.Razy.393423" which it has never done before today.
So I downloaded the portable version of 1.4.2 from github and extracted it, got the same thi

[2018-09-29 20:05] prosoitos commented on #4208
I noticed recently that I also could not access my browsing history anymore. A new tab would pop up with the header "Browsing history", but the rest of the page would be totally blank. So there was definitely something wrong going on with qutebrowser in my current computer environment.

But upgrading today from 1.4.2-1 to 1.4.2-2, for whatever reason, solved my browsing history page and *it seems*

[2018-09-29 23:31] toofar commented on #4269
Looks like the standard response is https://github.com/pyinstaller/pyinstaller/issues/2500#issuecomment-286097333

Great.

[2018-09-30 03:06] jgkamat commented on #4208
IIRC there was a bug in qt 5.11.2 which was pushed out to arch recently. There
is a fix for this in master, and (I think) that fix was in 1.4.2-2 in arch (but not in
an official qb release).

That explains the :history issue, but I have no idea why this would fix the
loading issue. Maybe that was fixed in qt 5.11.2

Marie-Helene Burle writes:

[2018-09-30 06:37] prosoitos commented on #4208
My loading issue seems to indeed be gone. I cannot recall whether it started after a qt or a qutebrowser update, but I suspect that it might have. In any event, it seems that today's update solved it. I haven't had to reload any page today and I don't get the error message on SO anymore.

There might not have been any link with the history issue and I am not certain that they started at the same t

[2018-09-30 06:55] iambumblehead opened #4270 "logo is pixelated, gnome3, qutebrowser v1.4.1"
Attached are screenshots from gnome3 desktop. The logo is pixelated wherever it is rendered in gnome3.

![qutebrowser-icon-gnome3](https://user-images.githubusercontent.com/2058705/46254362-0628f300-c443-11e8-828d-fb1ca9d0d508.png)

[2018-09-30 06:57] The-Compiler commented on #4270
What distribution is this, and how did you install qutebrowser?

[2018-09-30 07:04] iambumblehead commented on #4270
The distribution is Ubuntu and qutebrowser was installed through the "Ubuntu Software" (apt)

![screenshot from 2018-09-30 00-02-28](https://user-images.githubusercontent.com/2058705/46254426-4d63b380-c444-11e8-90ce-2d5397df4c10.png)

[2018-09-30 09:01] The-Compiler commented on #4270
This looks like Ubuntu takes the 16x16 (or 32x32?) icon and scales it up. The Debian package does contain the icon in much higher resolutions (up to 128x128) as well, so I'm not sure what's going on there.

[2018-09-30 11:37] The-Compiler commented on #4269
I can reproduce this with a freshly built v1.4.2 (and also when I rebuild v1.4.1 now), but when I build the current master branch, only "Jiangmin" detects "Trojan.Generic.cqozq". `¯\_(ツ)_/¯`

[2018-09-30 12:55] kontheocharis opened #4271 "Sending single fake key to webpage"
Would it be possible to have a bind setting such that pressing a key would enter a mode in which the next key (only) would be sent to the web page?

For example, if that key is "n", then pressing "nf" would send "f" to the webpage.

Using fake-key for this would require binding every single key as such:
[code]

Is this possible to do without such repetition? (I'm assuming it isn't with the normal

[2018-09-30 16:19] iambumblehead commented on #4270
[This guide shows that icons][0] should go in /usr/share/icons/hicolor by default.

Here are listed the icons found for qutebrowser and gvim (the icon for which is very sharp and clear), I do not see an svg icon listed for qutebrowser,
[code]

This machine is a Dell XPS 13 with a high resolution screen and maybe an svg icon would be needed for better results.

[0]: https://developer.gnome.org/inte

[2018-09-30 16:35] NoctuaNivalis commented on #4271
Well, you can bind `n` to `enter-mode passthrough ;; later 1000 enter-mode normal`. Then you'll enter passthrough mode for a second.

[2018-09-30 18:19] jgillman opened #4273 "MacOS .app has a different $PATH when launched from terminal"
Apologies if this has been posted before, I found closed $PATH-related issues, but none that seemed fitting.

When I launch qutebrowser from the command line in MacOS the PATH includes everything I would expect and I'm able to correctly `spawn mpv {url}` and stuff like that. When I launch qutebrowser from the .app the PATH is extremely short and I can't `spawn` anything that's not built into the s

[2018-09-30 18:31] The-Compiler commented on #4273
Nothing that qutebrowser can do about that - you'll need to find a way to set a system-wide path on macOS, or just use full paths with `:spawn`.

[2018-09-30 18:31] #4273 closed

[2018-09-30 18:31] jgkamat commented on #4273
There are quite a lot of issues about this already, but I'll try to write everything that I know in one place for search-ability.

This is a problem because the path from `.profile` is not propogated to gui applications in mac os. There are some ways you [can set the PATH in mac os](https://serverfault.com/questions/16355/how-do-i-set-the-global-path-environment-variable-on-os-x), but I don't know

[2018-09-30 19:07] jgillman commented on #4273
Thanks @jgkamat! Sorry for the extra noise but I appreciate the compiled workarounds.

Would it be worth adding this as a "known" in the FAQ or Troubleshooting sections? idk how often this "issue" comes up.

[2018-09-30 19:09] jgkamat commented on #4273
This does come up quite a lot, so I would be fine with adding an entry to the FAQ personally. I don't have access to a Mac OS machine though, so I can't test/validate anything, so I can't be the one to write it :P

[2018-09-30 19:11] jgillman commented on #4273
PR incoming 😉

[2018-09-30 19:48] The-Compiler commented on #4270
That'd be a Debian packaging bug then. Can you try whether things look better if you download https://github.com/qutebrowser/qutebrowser/blob/master/icons/qutebrowser.svg and save it to `/usr/share/icons/hicolor/scalable/apps/qutebrowser.svg` please?

[2018-09-30 19:58] iambumblehead commented on #4270
@The-Compiler I'll do it... just a moment I'll update this comment with the result

[2018-09-30 20:08] #464 closed

[2018-09-30 21:56] iambumblehead opened #4275 "What is the recommended way to change stylesheets at runtime (darkmode)?"
I found a [related thread here,][0] but am wondering if there is a better solution. I'd like something that I could add to my config.py that might let me cycle through or enable/disable stylesheets.

[0]: https://github.com/qutebrowser/qutebrowser/issues/3325

[2018-09-30 21:58] The-Compiler commented on #4275
Better in what way? https://github.com/qutebrowser/qutebrowser/issues/3325#issuecomment-346248225 is still accurate, and you can use `config.bind()` to bind keys in config.py ([docs](https://github.com/qutebrowser/qutebrowser/blob/master/doc/help/configuring.asciidoc#binding-keys))

[2018-09-30 21:58] #4275 closed

[2018-09-30 22:06] iambumblehead commented on #4275
thank you the following in config.py is working
[code]

[2018-10-01 05:56] jgkamat commented on #4250
[here's the problem](https://github.com/chromium/chromium/commit/1c0152d0297a8341498a04087587b26ee59fbdda#diff-2e7df0a2c8430a62e64d499c0bba61a1R170), baseNode is now anchorNode. So, I'm guessing we need to set the selection differently in tests now....

[2018-10-01 06:32] The-Compiler commented on #4250
Good catch! FWIW as long as this doesn't affect caret mode (and I think currently it doesn't, as we clear the selection when leaving it), I'd also be fine with skipping those tests.

[2018-10-01 06:34] jgkamat commented on #4250
I think I can modify the tests a bit to select text more like search/humans do (by starting at the bottom most text, not just the link itself). I'll submit a patch for that soon :)

[2018-10-01 07:51] mschilli87 commented on #4271
@NoctuaNivalis: But if that was a real command I'd expect to be able to do something like <kbd>2</kbd><kbd>N</kbd><kbd>A</kbd><kbd>O</kbd><kbd>I</kbd> to send `a` and `o` to the web page and then enter insert mode... :wink:

[2018-10-01 08:08] NoctuaNivalis commented on #4271
Mine is just a silly workaround, an actual command to do this would be better indeed.

[2018-10-01 09:10] daphniz opened #4277 "@@ does not repeat macro calls"
For consistency with Vim, `@@` ought to repeat the last macro call.

[2018-10-01 09:11] The-Compiler commented on #4277
See d362299e4ee0751b7df0f32d15387cca033d788e :wink:

[2018-10-01 09:11] #4277 closed

[2018-10-01 10:04] daphniz commented on #4277
Thanks!

[2018-10-01 11:01] fiete201 commented on #4270
Hi,

first of all thanks for reporting and testing!

Can you please install these 2 packages and tell me if the issue is fixed then?
https://paste.xinu.at/m-CU1HcAL/

Just download and `sudo apt install ./qutebrowser-qtwebengine_1.4.2-2_all.deb ./qutebrowser_1.4.2-2_all.deb`

[2018-10-01 12:34] zaowen commented on #3527
I also found this to be a problem. And would like to fix it.
Would anyone mind if this was assigned to me?

[2018-10-01 12:36] The-Compiler commented on #3527
@zaowen Go ahead! GitHub doesn't allow assigning issues to non-commiters FWIW.

[2018-10-01 13:41] helbling commented on #1400
Proof-of-concept (inspector always open):
https://github.com/helbling/qutebrowser/tree/inspector_inside_tabs
diff: https://github.com/qutebrowser/qutebrowser/compare/master...helbling:inspector_inside_tabs

[2018-10-01 14:27] The-Compiler opened #4278 "Get proxy authentication from URL"
As mentioned in #4151, we should get authentication information from the proxy URL in the config.

[2018-10-01 16:15] iambumblehead commented on #4270
@fiete201 yes, the icon is sharp after installing those

[2018-10-01 18:53] kontheocharis commented on #4271
As a temporary solution, I've added this to my `config.py`:
[code]

It's not perfect and only accounts for the base alphabet, but it works for the things I need (like youtube fullscreen & other controls).

[2018-10-01 20:46] The-Compiler commented on #2211
@fiete201 There was already #4105 which is merged, didn't realize this issue was still open :wink:

[2018-10-01 20:46] #2211 closed

[2018-10-01 20:46] lyeoh opened #4280 "':navigate up' should strip queries from URL"
Similar to #1318, `:navigate up` should take

`https://example.com/foo/?query=bar` to `https://example.com/foo`

since queries are specific to each page, and some websites use `https://example.com/?query=bar` whose parent is `https://example.com`.

I'd submit a pull request but I'm not sure whether [`url`](https://github.com/qutebrowser/qutebrowser/blob/master/qutebrowser/browser/commands.py#L656)

[2018-10-01 21:04] rakanalh opened #4281 "Gmail redirect loop"
Hello,

I was able to reproduce a bug when using gmail which is by:
1. Start fresh
2. Login to gmail
3. Close qutebrowser (:wq)
4. Start qutebrowser

The problem has been consistently reproducible and the only way to i was able to figure out to fix the issue is to `rm -rf ~/.local/share/qutebrowser/`... which is neither conveinent nor correct (on my end)

version info:
[code]

[2018-10-01 21:05] The-Compiler commented on #4280
A few lines before the one you linked, `url = self._current_url().adjusted(QUrl.RemoveFragment)` is done - I think doing `QUrl.RemoveFragment | QUrl.RemoveQuery` instead there should be fine.

[2018-10-01 21:10] The-Compiler commented on #4281
No issues here with `--basedir /tmp/gmail`. I get logged in again like expected (when waiting 30s before closing due to #2263).

You'll need to be more specific - what do you do exactly and what happens?

[2018-10-01 21:14] rakanalh commented on #4281
I just installed qutebrowser today and started playing with it. Basically i login to gmail which works on a clean slate. When i close qutebrowser and open it back, gmail complains about a redirect loop then takes me to a page which says that something is wrong with my cookies.

[2018-10-01 21:14] rakanalh commented on #4281
Wrong button

[2018-10-01 21:17] The-Compiler commented on #4281
Some questions:

- Can you reproduce it when starting with `--basedir /tmp/gmail` twice as well?
- Can you show a screenshot of that page?
- Can you try to reproduce it with [KDE Falkon](https://www.falkon.org/)?
- Can you please do `:report` after it happens so I can take a look at the logs?

[2018-10-01 21:27] The-Compiler commented on #4281
re 1.: Can you try again but wait for 30s after logging in before you quit qutebrowser?

[2018-10-01 21:31] rakanalh commented on #4281
Same issue... the weird part is, if i navigate to google.com, it actually shows me as logged in. I tried navigating to other google services such as Calendar or Google Drive and it works seemlessly.

[2018-10-01 22:52] phmongeau commented on #4281
Hi, I have the same issue and can reproduce it without restarting the browser:

1. `qutebrowser --basedir /tmp/gmail`
2. `:open gmail.com` and login
3. wait 30s
4. `:open -t gmail.com` -> ERR_TOO_MANY_REDIRECTS

[2018-10-02 01:29] jgkamat commented on #2794
@milogert, nope, just saying you're working on it is good, as assigning people to issues in github is a bit difficult. I would start by only working on one of these check-boxes, if this is your first issue, to keep the scope as small as possible. Thanks! :)

[2018-10-02 01:47] milogert commented on #2794
Sounds good, thanks for the tip. I will work on `:config-add` then for now then.

[2018-10-02 03:41] fiete201 commented on #4270
Thanks for testing

`qutebrowser_1.4.2-2_amd64.changes ACCEPTED into unstable`

New version was uploaded into unstable and should land in testing in some days.

[2018-10-02 03:41] #4270 closed

[2018-10-02 05:03] Kwask94 commented on #4067
:( I'm having the same problem

[2018-10-02 05:49] The-Compiler commented on #4281
It does look like GMail is indeed stuck in a redirect loop - looking at the URLs:

- http://gmail.com/
- https://gmail.com/
- https://www.google.com/gmail/
- https://mail.google.com/mail/
- https://mail.google.com/mail/u/0/
- https://accounts.google.com/ServiceLogin?service=mail&passive=true&rm=false&continue=https://mail.g…
- https://mail.google.com/accounts/SetOSID?authuser=0&continue=https%3A%2

[2018-10-02 07:40] rakanalh commented on #4281
Didn't work for me `set contnet.headers.referer always` showed an error saying it's not available in QTWebEngine backend.

[2018-10-02 07:53] The-Compiler commented on #4281
Nevermind about `content.headers.referer` then, that was added recently (and isn't released yet). What about `:set content.cookies.accept all`?

[2018-10-02 08:14] rakanalh commented on #4281
Sorry, forgot to mention that one. It didn't seem to help (i set it, restarted qutebrowser)

[2018-10-02 08:16] rakanalh commented on #4281
After posting my comment, i thought about setting the value of `content.cookies.accept all` permanently in my config.py... seems to have resolved the problem. I can now open gmail without issues

[2018-10-02 08:18] The-Compiler commented on #4281
@phmongeau can you please give that a try as well?

[2018-10-02 11:38] #4280 closed

[2018-10-02 14:30] VictorBjelkholm commented on #4281
I also had this issue happen to me. Setting `c.content.cookies.accept = 'all'` in config.py solved the issue.

[2018-10-02 14:34] VictorBjelkholm opened #4284 "Google Drive documents reloads forever"
[code]
When opening documents in Google Drive via qutebrowser, it seems they are stuck in a reload-bug and continuous to reload forever. Seems the reload happens as soon as the reload is done, and never stops, making it impossible to do anything in the editor itself.

Test document: https://docs.google.com/document/d/1EmSok0UXnr9CpzCTkWxfqDt7paaDlM3vApq3FAE9l-8/edit

Only seems to happen when logg

[2018-10-02 14:35] VictorBjelkholm commented on #4284
Oh, actually, I changed the permissions so anyone can edit the document above, and now can be reproduced with new basedir as well. Seems to be related to documents you can edit only.

[2018-10-02 14:38] The-Compiler commented on #4284
So you can reproduce this with `--temp-basedir`? I do see a couple of initial loads, but then all seems to work fine.

[2018-10-02 14:39] The-Compiler commented on #4281
Can someone of you please try reproducing this in Chromium as well? Start it with `--user-data-dir=/tmp/foo` to get a fresh instance, then go to Settings -> Advanced -> Content settings (under "Privacy and Security") -> Cookies, and there enable "Block third-party cookies".

[2018-10-02 16:08] jakecoble commented on #2626
Would `from_url` be an extension of the per-domain settings in this case, thereby allowing something like the following?

[code]

[2018-10-02 17:30] The-Compiler commented on #2626
@jakecoble Yeah, though you'd probably want to specify both `url` and `from_url`, see my comment above.

[2018-10-02 17:35] xaverdh opened #4285 "Specify path to config.py on cli / via environment"
As far as I can see, there is no way to pass a custom path for config.py to qutebrowser.
This is desirable, because it allows, e.g. system wide configuration by creating a wrapper or similar.

I know that its possible to specify the base directory, but it makes sense to seperate configuration
(which may be system wide) from bookmarks, cached data, etc. which probably should be a per user thing.

[2018-10-02 17:37] The-Compiler commented on #4285
Duplicate of #4132

[2018-10-02 17:37] #4285 closed

[2018-10-02 17:42] JanKaifer commented on #3596
Hi, I'd like to thank you for qute browser - it's awesome. And I also experience this issue, it's pain especially with google docs.

[2018-10-02 17:42] xaverdh commented on #4132
If I can help with that, give me a shout.

[2018-10-02 17:50] JanKaifer commented on #3596
After while of tinkering I've found out that this problem only occurs when I'm editting the very first element of paragraph and sometimes when edditing spaces.

I think that this strange behaviour is caused more by google docs than qute browser itself but still might help finding source of this bug.

[2018-10-02 21:31] The-Compiler commented on #2330
v1.4.2 is a patch release based on the v1.4.x branch (i.e. on v1.4.0), and as such it only contains bugfixes.

It'll be in v1.5.0, which will be released once PyQt5 5.11.3 is, which hopefully means tomorrow.

[2018-10-03 00:09] phmongeau commented on #4281
both `:set content.cookies.accept all` or `:set content.headers.referer always` fix the issue for me.

I tried blocking third-party cookies in firefox and chromium, but wasn't able to reproduce the issue. Do you know if they also have a settings to disable the referer header?

[2018-10-03 08:29] The-Compiler commented on #4254
@Aster89 I don't see any report from you. What do you mean with "crash" exactly?

[2018-10-03 08:35] Aster89 commented on #4254
I mean a window automatically opening and asking for e-mail address and a description of the problem. At the bottom something like "tell me the problem, otherwise I can't solve it" is written.
Anyway I was wrong, moving `~/.local/share/qutebrowser` away solves the problem, but it's not `cookies` file's fault inside it.

[2018-10-03 08:42] Aster89 commented on #4254
It seems that deleting `~/.local/share/qutebrowser/webengine` is enough to get it working (but the passwords are forgotten).

[2018-10-03 09:57] brianbuccola commented on #4254
The problem returned for me as well (soon after deleting `~/.local/share/qutebrowser/webengine`), but I didn't update this issue because I'm not sure how responsible qutebrowser is. (I don't use any other browser, so I don't know if it can be reproduced elsewhere. I can try with Falkon and report back...)

Also, I mainly use mutt to view/write emails, or I open the local html file with qutebrowser

[2018-10-03 10:10] Aster89 commented on #4254
I'm almost sure it is not qutebrowser's fault (in terms of who did the wrong thing), but hopefully @The-Compiler will be able to find a hack to remedy to this annoying thing of Gmail. Well, I used to use Gmail a bit more then you, so I'm more bitten than you.

[2018-10-03 10:14] brianbuccola commented on #4254
I wasn't able to reproduce the problem in Falkon, but I also didn't try for more than 5 minutes. Do you happen to have exact steps for reproducing the problem (in qutebrowser)? Then I could try again in Falkon.

[2018-10-03 10:40] Aster89 commented on #4254
Unfortunately no, *exact* steps is not what I was able to list. The most I can do is written in my second to last message.

[2018-10-03 12:59] xaverdh commented on #4132
I gave it a shot in #4286
One test fails, probably because the code wich fakes the argument list has to be informed of the new argument. I don't quite understand how that works though; any pointers are greatly appreciated.

Another thing to consider is how this should interact with config-write-py feature.
Currently it doesn't at all, in the sense that the configuration will be written to <basedir

[2018-10-03 14:55] rakanalh opened #4287 "Opening links from pinned tabs should be placed after all pinned tabs"
Hello,

The behaviour of pinned tabs in Chrome, Firefox is that when opening links from pinned tabs, the browser would place the newly created tab directly after *all* pinned tabs and not directly under the pinned tab from which it was opened.

Example: Say you have 4 tabs:
1. (pinned) Gmail
2. (pinned) Hacker News
3. Google search page
4. Twitter page

If you a click a link from Gmail, the newly

[2018-10-03 16:58] mikezackles commented on #4254
I don't have any additional insight at the moment, but this is happening for me as well.

[2018-10-03 18:36] brianbuccola commented on #4254
On social media (facebook, etc.), I've seen people recently make reference to "the new Gmail", but since I don't use the web interface very often (and since I've been getting this error lately), I don't know what the new Gmail is -- but maybe it has something to do with the problem. (Initially, I thought it was because I started signing into multiple accounts, but maybe that was a red herring.)

[2018-10-03 18:49] lucc commented on #3194
I have rebased my branch https://github.com/lucc/qutebrowser/tree/feature/open-buffer-command with the POC code on top of v1.5. I am using it with
[code]

**Question:** Is it OK if I open a PR before we have decided all the points that came up above? I would make a best effort decision which can then be further discussed in the PR.

[2018-10-03 19:17] jgkamat commented on #4284
I can't reproduce as well

[2018-10-03 19:41] prosoitos opened #4288 "Wrong scroll position for URLs with fragments"
Problem: I post a link to the section of a website to, for instance, FB. Then I click on the link and I get to some random place in the webpage. If I click on the link on another browser, the page opens at the proper anchor.

[2018-10-03 20:04] twosheds-jackson opened #4289 "pdfjs buttons do not display properly"
I'm very happy that pdfjs support has been added for QtWebEngine, but the buttons do not display properly on my system. They are clickable, functional, and their hover-over text is properly displayed, but the buttons themselves are not visible. See the attached screenshot:

![screenshot](https://user-images.githubusercontent.com/42011922/46435749-17188380-c725-11e8-8a4f-e878838d03cd.png)

Qutebrow

[2018-10-03 20:15] The-Compiler commented on #4289
Does it work with `--temp-basedir`? If so, can you show `:open qute://configdiff`?

[2018-10-03 20:15] The-Compiler commented on #4288
Do you have an example (ideally not involving Facebook) to reproduce this?

[2018-10-03 20:20] KnottyTomatoes commented on #4269
Sorry for my late rely.
I had reported this to Bitdefender, and it has been both fixed on my end. 1.4.2 does now work, I also just downloaded 1.5.0 and it also works without issue from Bitdefender. For now. :D
However, going forward I will likely use the portable/standalone version instead of chocolaty.

[2018-10-03 20:21] The-Compiler commented on #4067
qutebrowser v1.5.0 is now out, which bundles PyQt 5.11.3 and Qt 5.11.2. How do things look there?

[2018-10-03 20:30] The-Compiler commented on #4289
Odd. If you start with `qutebrowser --temp-basedir -s content.pdfjs true --debug http://static.musictheory.net/pdf/blank.pdf`, do you see this as well? If so, can you please do `:report` so I can take a look at the logs?

[2018-10-03 20:44] twosheds-jackson commented on #4289
The buttons are still not visible, and I'm noticing in the log that it's not able to find the images. The log:
[log.txt](https://github.com/qutebrowser/qutebrowser/files/2443755/log.txt)

[2018-10-03 20:44] The-Compiler commented on #4269
Closing this then - thanks for reporting it to Bitdefender as well!

Checking the v1.5.0 `qutebrowser.exe` via VirusTotal, Avira and "Forcepoint ThreatSeeker" (as in "seeking threats where there aren't any"?) detect it as Malware.

I've contacted Avira at https://analysis.avira.com/en/submit - haven't found an easy way to submit false positives to Forcepoint so I won't care.

[2018-10-03 20:44] #4269 closed

[2018-10-03 21:06] The-Compiler commented on #3194
Feel free to open a PR right now if you already have the code. However, I'm already drowning in open PRs, and I really need to get started on [some bigger refactorings](https://lists.schokokeks.org/pipermail/qutebrowser-announce/2018-September/000051.html) soon - so I can't promise I'll be able to take a look unfortunately, and it's likely to conflict again at some point.

[2018-10-03 21:07] The-Compiler commented on #4289
And e.g. `/usr/share/pdf.js/web/images/toolbarButton-zoomIn.png` does exist on your system?

[2018-10-03 21:13] The-Compiler commented on #4289
Ah, nevermind, I still had a newer (bundled) version of PDF.js on my system. I can reproduce it with the Arch package.

[2018-10-03 21:33] Foxboron commented on #4289
I have added a fix in the package and published `1.10.100-2` for pdfjs.

[2018-10-03 21:35] twosheds-jackson commented on #4289
Upon closer inspection, the permissions of the images in /usr/share/pdf.js/web/images/ appear to be the culprit. They're only readable by root. I expect the Arch pdfjs package is at fault here.

[2018-10-03 21:38] The-Compiler commented on #4289
Hey, @Foxboron, where did you get that time machine from? :wink:

[2018-10-03 21:47] Foxboron commented on #4289
We have a secret DeveloperWiki. It lists some cheat codes....

[2018-10-03 23:49] phmongeau commented on #4281
Oh right, `content.headers.referer always` doesn't actually fix the issue. I had enabled `content.cookies.accept all` and disabled it after and it continued to work because I got the cookie while the setting was enabled.

I tested again with a temp basedir and it's definitly only `content.cookies.accept all` that fixes the issue.

[2018-10-04 03:47] brorbw commented on #4067
No, the issue is still present.

[2018-10-04 05:50] brorbw commented on #4067
I can add that the window is completely ignored by chunkwm @koekeishiya

[2018-10-04 05:53] jgkamat commented on #4288
I can't reproduce this on Facebook either, testing with https://github.com/qutebrowser/qutebrowser#getting-help posted on the news feed.

[2018-10-04 07:47] toofar commented on #1926
I also have this local change FYI, I don't think it is from normal usage. It was probably me making changes that caused a crash at init-ish.
[code]

[2018-10-04 09:54] VictorBjelkholm commented on #4284
Yeah, that's true, leaving the page running for 30 seconds seems to finish the loads and eventually I can edit. Sorry for the noise.

[2018-10-04 09:54] #4284 closed

[2018-10-04 13:47] The-Compiler commented on #4289
I've also reported this at https://github.com/mozilla/pdf.js/issues/10132 - I'll also update qutebrowser to log clearer error messages if this happens.

[2018-10-04 14:11] The-Compiler opened #4291 "pdf.js not bundled in Windows/macOS releases"

[2018-10-04 14:55] #4291 closed

[2018-10-04 14:55] #4289 closed

[2018-10-04 15:02] koekeishiya commented on #4067
@The-Compiler With that version the titlebar is no longer hidden;  the minimize and close buttons are greyed out however. Window can be moved and resized.

[2018-10-04 15:32] The-Compiler commented on #4067
I suspected as much - we're back to square one then, I have no idea how to create a resizable window without a titlebar.

[2018-10-04 16:36] prosoitos commented on #4288
It is very weird: when I follow the same link, sometimes I get to the anchor nicely and sometimes I get to a random place in the page (?????!!)

[2018-10-04 16:39] prosoitos commented on #4288
So sometimes I can and sometimes I can't even reproduce it myself... I don't know what might be different between the attempts.

[2018-10-04 16:39] jgkamat commented on #4288
If it happens again (reliably), maybe you could restart qutebrowser with --debug and see what it outputs when you click on the link... I've got no other ideas :/

[2018-10-04 16:51] prosoitos commented on #4288
Good point. Will do. Thank you.

[2018-10-04 17:11] The-Compiler commented on #4288
You can also run `:messages debug` to view the log, or `:report` to send it to me.

Could it be possible that it only happens when opening the link in a background tab, or that it's related to resizing the window somehow?

[2018-10-04 17:31] #4199 closed

[2018-10-04 18:17] prosoitos commented on #4288
I don't think so. It sometimes happens and sometimes not while doing the exact same thing on the same link.

[2018-10-04 18:41] d0ku commented on #3172
As of 10/04/2018, still works.

[2018-10-04 18:51] The-Compiler commented on #3172
Out of curiosity, do you still need to set `qt.args` for it to work (with Qt 5.11) or does it also work without that?

[2018-10-04 19:10] d0ku commented on #3172
Firstly, I had set `qt.args` and `:restart` , everything worked. When I set `qt.args` to `[]` (my guess was it should set that value empty) and `:restart` everything still works fine. So i would say setting this option is not required anymore, however it would be nice, if someone confirmed that setting `qt.args` to `[]` resets that value.

[2018-10-04 19:13] langurmonkey commented on #3172
Just tested it. Works after installing `qt5-webengine-widevine` without the workaround.

[2018-10-04 19:58] haasn opened #4293 "Bad font rendering for bitmap fonts with qtwebengine"
Fonts in qtwebengine look like shit for some reason. Compare:

qtwebkit: ![qtwebkit](https://0x0.st/sYdR.png)
qtwebengine: ![qtwebengine](https://0x0.st/sYdn.png)

The font used here is just `monospace`.

[code]

[2018-10-04 20:01] The-Compiler commented on #4293
IIRC Chromium (and thus QtWebEngine) does not support bitmap font at all - not sure if it's falling back to some TTF? Either way, this doesn't seem like a qutebrowser issue.

[2018-10-04 20:01] #4293 closed

[2018-10-04 23:31] prosoitos commented on #2330
This is so great!!!! Thank you so much @The-Compiler and everybody else who worked on this!!!! Loving it!

[2018-10-05 00:39] simchuck commented on #4254
I am having same issue accessing google mail as of a couple of days ago.  I am using Windows 10 (Version	10.0.17134 Build 17134) with latest qutebrowser (1.4.2 - Version info at `https://paste.the-compiler.org/view/b7d29f96`)

Message from `mail.google.com` is:

[code]

Version info at `https://paste.the-compiler.org/view/b7d29f96`

[2018-10-05 00:56] simchuck commented on #4254
Results from `:open -t qute://configdiff`:
[code]

No luck after deleting my cache

[2018-10-05 09:10] The-Compiler commented on #4254
There's #4281 which is still open and seems to describe the same issue - let's continue this there. FWIW, doing `:set content.cookies.accept all` seems to help.

[2018-10-05 14:55] The-Compiler commented on #180
#4071 has some changes to the `lastpass-fill` userscript with a different way of filling form fields. Also, according to https://github.com/qutebrowser/qutebrowser/pull/4071#issuecomment-419016765 it's also possible to get the form field names from lastpass.

[2018-10-05 15:21] #4007 closed

[2018-10-05 15:32] #1089 closed

[2018-10-05 16:20] supremew opened #4294 "Can't play mp4"
type in
[code]

output
[code]

[log.txt](https://github.com/qutebrowser/qutebrowser/files/2451189/log.txt)

[2018-10-05 16:21] jgkamat commented on #4294
Do you have proprietary codecs enabled on your qtwebengine? Instructions should be in [the install docs](https://github.com/qutebrowser/qutebrowser/blob/master/doc/install.asciidoc) depending on you distro.

[2018-10-05 16:28] The-Compiler commented on #4294
The `gst-plugins-*` packages (or similar) are only relevant for QtWebKit, while you seem to be using QtWebEngine.

[2018-10-05 17:09] The-Compiler commented on #32
Searchengine completion just landed via #4004 - thanks @rsteube for the original PR and @philipcs for tackling this with the updated completion code.

[2018-10-05 22:00] asmbits opened #4295 "closing tab or opening it in background shows tab bar with tabs.show = never"
Updated to new version. I dont use tab bar at all but now it always appears anytime I close tab or open a new tab in background.

[2018-10-05 22:06] The-Compiler commented on #4295
Whoops, this is probably because https://github.com/qutebrowser/qutebrowser/blob/v1.5.0/qutebrowser/mainwindow/tabwidget.py#L218-L237 doesn't check whether it was visible in the first place... cc @jgkamat